[2019-12-05 19:27] sarL3y opened #1 "Wire up test MongoDB database in Docker container"
### Overview
Add a Docker container which runs a MongoDB instance for test development

### Action Items
Wire up test MongoDB database in Docker container

### Resources/Instructions

[2019-12-05 19:30] sarL3y opened #2 "Add environment variables to Docker files"
### Overview
Environment variables may be needed for local development

### Action Items
Add environment variables to Docker files

### Resources/Instructions

[2019-12-10 02:30] sarL3y opened #3 "Setup MongoDB"
Roles:
- Owner
- Admin

[2019-12-10 02:41] rachelwhaley opened #4 "Define minimum viable info/questions"
**As of 02/02/2020 Undefined**

### Overview
Identify key questions and important information needed in order to define the minimum viable product (alpha version).

### Action Items

- [x] Interview Bonnie
- [x] Interview Wes
- [ ] Interview Kegan
- [ ] Interview 2-3 individuals who have recently joined Hack for LA
- [x] Pull all the questions in the current Meetup "join this group" flow
- [x] Add

[2019-12-10 02:47] sarL3y opened #5 "Update user flows"
### Overview
12/09/19
Update user flows to current information

### Resources/Instructions

[2019-12-10 02:49] sarL3y opened #6 "Propose new database model"
### Overview
Develop database model for MongoDB

### Action Items
* [ ] User profile model
* [ ] Event model

### Resources/Instructions
https://docs.google.com/document/d/1FdCqiej-YcNORqZ-543Ce6WZfdsQuVTCCzZdWMFI3r4/edit?usp=sharing

[2019-12-10 02:49] rachelwhaley commented on #4
When you RSVP to a specific Meetup event, you get 1 question about the code of conduct:
![Screen Shot 2019-12-09 at 6 48 33 PM](https://user-images.githubusercontent.com/9064317/70490936-a1d8d900-1ab4-11ea-84c9-e2c36417a645.png)

[2019-12-10 02:51] sarL3y opened #7 "Develop front end model"
### Overview
Develop front end model for React.

### Action Items
- Components
- Routes
- Fetch

### Resources/Instructions

[2019-12-10 03:18] ExperimentsInHonesty commented on #4
Slacbot questions as of 12/9/2019

1. Timestamp
2. Where did you hear about Hack for LA? (If multiple sources, which one made you try it out?)
3. Which of the following describes your current skills?
4. Are you hoping to learn more about any of the following?
5. After you heard about Hack for LA, how did you first engage with the community?
6. How many Slack channels have you discovered and found

[2019-12-10 03:29] rachelwhaley commented on #4
Key question: what role(s) are you interested in?
Who are you?

- Web Developer
- UI/UX Designer
- Data Scientist
- Copywriter
- Project Manager
- Other Volunteer

[2019-12-10 03:45] #5 closed

[2019-12-10 03:46] sarL3y opened #8 "Build flowchart of work flow"
### Overview
Create VRMS check-in user flow with cookie detection in a flowchart.

### Action Items
* [x] Convert hand drawn images in comments to Whimsical flowchart.
* [x] Get sign-off on flowchart accuracy
* [x] Create deck-ready version of flow chart with screenshots

### Resources/Instruction
See comments for flows

[2019-12-10 03:47] sarL3y commented on #8
**Current below (need updating)**

[VRMS.User.Flow.Admin.v2.pdf](https://github.com/hackforla/VRMS/files/3942906/VRMS.User.Flow.Admin.v2.pdf)
[VRMS.User.Flow.Attendee.v2.pdf](https://github.com/hackforla/VRMS/files/3942907/VRMS.User.Flow.Attendee.v2.pdf)

[2019-12-10 04:16] sarL3y opened #9 "Update wiki"
### Overview
Update the project wiki to include anything required for the current milestone

### Dependency
When we get to the end of MVP and have something to document, or when we get more clarity on the code

### Action Items

- [x] Use hackforla website wiki as an example to build out our wiki
   - [x] Gather info
- [ ] Update the project wiki per findings
   ~- [ ] Review with Bonnie~

### Res

[2019-12-10 04:28] rachelwhaley opened #10 "Research similar systems"
Look for 3-5 similar volunteer check-in and management systems or comparable systems & post links to:
- any relevant open-source code
- screenshots

[2019-12-10 04:41] rachelwhaley opened #11 "Define success metrics / key performance indicators"
See the rough draft on the [requirements page](https://github.com/hackforla/VRMS/wiki/Requirements) and brainstorm possible inclusion.

[2019-12-10 04:43] sarL3y opened #12 "Define Team Structure"
### Overview
Define team structure with roles and responsibilities.

### Action Items
* [x] Review all prioritized backlogs identify roles and skill sets needed
* [x] Update roster with needs
* [x] Update team roster on wiki

### Resources/Instructions
[Team Roster](https://docs.google.com/spreadsheets/d/1sMIPMDy7j6zDQ2-jF0xX2x-W-tEY8IcUiikmii7tVa0/edit#gid=0)
[Wiki page](https://github.com/hackfo

[2019-12-10 04:46] rachelwhaley opened #13 "Update the installation instructions on the repo"
Draft text for the Installation Instructions section [here](https://github.com/hackforla/VRMS).

[2019-12-10 04:53] rachelwhaley opened #14 "Create showcase slide deck"
### Overview
Create a demo presentation on the VRMS project to present more broadly with CfA/HfLA. Useful for recruiting new team members once project has momentum.

### Action Items
* [ ] Create outline
  * [ ] Get Bonnie to review
* [ ] Create slide deck
  * [ ] Get Bonnie to review
* [ ] Identify dates for presentation

### Resources/Instructions
[Wiki](https://github.com/hackforla/VRMS/wiki)
[

[2019-12-10 04:56] rachelwhaley opened #15 "Prototype wireframes for admin dashboard"
### Overview
Propose a new design for the admin dashboard based on data visualizations

### Dependencies
- See the list of potential metrics in the User Personas project board

### Action Items
* [ ] Review list from the User Personas board and create wireframes based on findings

### Resources
Current draft of wireframes: https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%

[2019-12-10 04:57] rachelwhaley opened #16 "Define personas for users and group leaders"
### Overview
Create personas and their user stories.

### Action Items
* [x] Turn each of these user stories into cards on Personas/User Stories project board
* [x] Merge/streamline the 2 columns of stories on the Personas/User Stories project board

### Resources
[Potential features/user stories](https://docs.google.com/document/d/1-4q-suCaUKZW2L3UyMvr6EtDZWAh9oaYCY2Ztm_vg_M/edit?usp=sharing)
[pr

[2019-12-10 19:34] sarL3y opened #17 "Update README.md"
Update the repository README.md

[2019-12-17 03:29] rachelwhaley opened #18 "Create the framework to conduct user interviews and synthesize the results"
### Overview
Collect attendee feedback on the initial build of the VRMS.

### Action Items
- [ ] Convert [this template](https://docs.google.com/document/d/19uYILR38PQvVFblgLx5PyUMqnPh-4KFfqCOgWStaJF8/edit) document to Google Form
- [ ] Create bit.ly for survey (called "starfish99")
- [ ] Distribute the survey
- [ ] Add survey link to wiki
- [ ] Synthesize the notes from all interviews into key po

[2020-01-06 05:59] rachelwhaley commented on #11
Next draft of KPIs is in [this doc](https://docs.google.com/document/d/1gZqO6NoM3OhyYWdmISe2MCsalSvTjIw-bN_6c4QvC-E/edit?folder=1uxCkpcPtDjrhftBO-axU2g8hjXsxiLiS). @ExperimentsInHonesty , @sarL3y , please add feedback/comments when you get a chance!

[2020-01-12 01:38] ExperimentsInHonesty commented on #8
![volunteer_use_cases](https://user-images.githubusercontent.com/37763229/72212784-c818dc80-3497-11ea-9713-860c596898cc.png)
![volunteer_use_case_1_flow](https://user-images.githubusercontent.com/37763229/72212786-d1a24480-3497-11ea-8c66-bba173531daf.png)
![volunteer_use_case_2_flow](https://user-images.githubusercontent.com/37763229/72212787-d49d3500-3497-11ea-9175-04a7056c9cb8.png)
![volunteer_u

[2020-01-19 19:04] harishlingam opened #19 "Create project card for VRMS Project"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image (for hackforla homepage project card)
  - [ ] 1500 x 700 Hero image (similar to hackforla homepage)
  - [ ]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about your project
  - [ ]  Links (website, github, etc.)
  - [ ]  What you are looking for skills wise
  - [ ]

[2020-01-19 23:10] #17 closed

[2020-01-23 05:21] Rankazze opened #21 "Add Environment as a choice in the what you are interested in drop down question"
### Overview
HackforLA is partnering with YaleOpen Lab in 2020 for the Open Climate Collabathon. Volunteers will be coming to work on this initiative.  We need to document their involvement.

### Action Items
Add Environment as a choice in the what you are interested in drop down question

[2020-01-27 17:27] sarL3y commented on #21
Completed

[2020-01-27 17:27] #21 closed

[2020-01-27 21:24] #3 closed

[2020-01-27 21:27] sarL3y opened #23 "Add Authentication"
### Overview
Add Authentication. Current model uses role-based selection. We need to decide if that's the correct method for our product and pivot if needed. Ideally, we'll use a combination of magic links for users and 2FA for admins.

### Dependency
Full implementation will require new user roles once they have been added: Implement New User Roles #30

### Requirements
* [x] Front End Developer

[2020-01-27 21:29] sarL3y opened #24 "Add Question Logic"
### Overview
The set of questions given to the volunteers should be presented logically, depending on which questions they have or haven't answered.

### Action Items
Front End:
* [x] Fetch call to retrieve questions based off user email retrieval
* [x] Display questions logically

Back End:
* [x] Review current questions and users model to see if any changes are needed

### Resources/Instructions

[2020-01-28 03:12] sarL3y opened #25 "Update Admin Dashboard"
### Overview
The admin dashboard is the hub for all things related to managing a brigade of volunteers. It should provide data about the brigade, and tools for the admin to create and update events, open check-in time for hack nights, and oversee the human capital development of the organization through project and volunteer management.

### Dependency
Research Admin Dashboard Requirements #31

##

[2020-01-29 04:32] Rankazze opened #26 "Change pre-Alpha version number"
### Overview
pre-Alpha version has reached user milestone of 100+ active users.  Production is stable at that load.  Increment has been earned.

### Action Items

Increase pre-Alpha versioning to 0.2

[2020-02-02 19:04] sarL3y opened #27 "Add Project collection to the database"
### Overview
Build a Projects collection in the database to contain information about each project and its team.

### Action Items
* [x] Research and propose requirements needed to develop a project collection
* [x] Add Projects collection to database
* [ ] Add necessary project API routes and querying abilities

[2020-02-02 19:41] ExperimentsInHonesty commented on #26
updating the package.json file.  and setup relases.  Write up proposal and then review with Kegan.

thanks to Steven for https://git-scm.com/book/en/v2/Git-Basics-Tagging

[2020-02-02 19:53] sarL3y opened #28 "Research Auth0 Implementation"
### Overview
We need an overview on how to implement Auth0 for our environment.

### Action Items
* [x] Read README to identify tech stack
* [x] Paste links to appropriate implementation from Auth0 documentation into comments on issue
* [x] Write proposal in comments

### Resources/Instructions
https://auth0.com/docs/

[2020-02-02 20:00] sarL3y opened #29 "Define User roles"
### Overview
Review all of the roles and identify which systems they need access to

### Action Items
* [x] Review current user model in database and propose proper role based authentication
* [x] Review proposals below for additional role identification and hierarchy
* [x] Define hierarchy
* [x] Propose roles (admin, user, project owner, team leads, hack night host)

### Resources/Instructions
*

[2020-02-02 20:10] sarL3y opened #30 "Implement New User Roles"
### Overview
Get the requirements from the user role definition issue

### Dependency
Define User Roles #29

### Action Items
Back End:
* [ ] Add new roles to current model

### Resources/Instructions

[2020-02-02 20:30] sarL3y opened #31 "Research Admin Dashboard Requirements"
### Overview
The admin dashboard is the hub for all things related to managing a brigade of volunteers. It should provide data about the brigade, and tools for the admin to create and update events, open check-in time for hack nights, and oversee the human capital development of the organization through project and volunteer management.

### Action Items
UI/UX:
* [ ] Research popular dashboards an

[2020-02-02 20:34] #13 closed

[2020-02-02 22:21] sarL3y commented on #6
Hack Night Westside:

Yasmin Lucero  8:40 PM 01/27/2020
[code]

[2020-02-03 02:15] yasminlucero commented on #6
Yup.

On Sun, Feb 2, 2020 at 2:24 PM Matt Tapper <notifications@github.com> wrote:

--
------------------------------------------------------------
Yasmin Lucero
Data Scientist

www.yasminlucero.net

[2020-02-03 06:28] ExperimentsInHonesty commented on #16
I have created cards for all the stories in the Potential features/user stories doc.  The cards are located on the [personas/user stories board](https://github.com/hackforla/VRMS/projects/6)

[2020-02-03 07:11] ExperimentsInHonesty opened #32 "Create Project Manager user level work flow"
### Overview
Create a work flow for how the Project Manager would experience VRMS

### Action Items

- [x] Review the issues in the Github Automation repo to identify automation goals.
   - [ ] Interview Bonnie after you have automation goals list and get validation
- [ ] Design work flow diagrams
  - [ ] Review with Bonnie
 - [ ] Create low fidelity mock ups
    - [ ] Show to subset of project ma

[2020-02-03 07:15] Rankazze opened #33 "Add Program area selection to Return User drop down list"
### Overview
When volunteer signs in as a Returning User an Area of Interest drop down menu appears.

### Action Items
Please add "Fundraising" to the Area of Interest drop down menu.

[2020-02-04 02:06] Rankazze opened #34 "Add Program area selection to Return User drop down list"
Overview

When volunteer signs in as a Returning User an Area of Interest drop down menu appears.
Action Items

Please add "Education-STEM" to the Area of Interest drop down menu.

[2020-02-04 04:12] ExperimentsInHonesty opened #35 "HfLA AWS account configuration"
### Overview
Hack for L.A. (HFLA) wishes to host all of their services from an AWS account owned by the HFLA organization. In order to do so, we must create and configure an AWS account for the HFLA organization. This issue tracks the work of doing the discovery and initial set-up for this AWS account.

### Action Items

- [ ] IAM (identity and access management)
   - [ ] discovery
   - [ ] set up

[2020-02-11 02:48] rachelwhaley opened #39 "Admin dashboard global location filter"
### Overview
As an admin user, I want to edit one filter on the dashboard (All, DTLA, Westside) that filters all the metrics/charts at the same time, so that I can easily see a snapshot of volunteer engagement by location or all together.

### Dependency:
- #15

### Action Items
- [x] Move the current dropdown to the top
- [ ] Make each of the dashboard components responsive to the filter.

[2020-02-11 02:52] rachelwhaley opened #40 "Add start/end times to events table"
### Overview
Add attributes to the data model for each event to track the number of hours, so that we can report more accurately on volunteer hours.

### Action Items
- [ ] Add attributes:
  - start time (time)
  - end time (time)
  - number of hours (calculated from end minus start time)

### Future Development Idea
- Could we use these start/end times to automate when check-in opens/closes? This

[2020-02-11 02:59] rachelwhaley opened #41 "Add month/year filter to admin dashboard"
### Overview
As an admin user, I want to filter the admin dashboard by a range of month/year, so that I can see the metrics limited by a specific time range.

### Action Items
- [ ] Add a filter for dashboard start time (month/year)
- [ ] Add a filter for dashboard end time (month/year)
- [ ] Default filters to show all-time metrics (no filtering)
- [ ] Ensure that all dashboard components react t

[2020-02-11 03:05] rachelwhaley opened #42 "Define new dashboard data charts"
### Overview
As an admin user, I want the dashboard to show key metrics in a chart visualization, so that I can easily see volunteer hours (or avg. volunteer hours) across brigades, per brigade, and per volunteer.

### Dependency:
- Wireframes (Complete): #15
Link to Wireframes: https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A2738

### Action Items
- [x] Decide which m

[2020-02-11 03:12] rachelwhaley commented on #25
This epic was split into several smaller tickets:

- @39
- @40
- @41
- @42

[2020-02-11 03:20] rachelwhaley commented on #25
This epic has been started and broken down into more granular user stories:
- #39
- #40
- #41
- #42

[2020-02-11 03:38] rachelwhaley commented on #14
3 slides:

- Screenshots
- Why it's important
- What we've learned

[2020-02-11 03:39] sarL3y commented on #12
Team Needs a/o 2/10:

Front End Developer (React, Sass)
Back End Developer (Node, Express)

- OR -

Full Stack Developer

[2020-02-11 03:43] ExperimentsInHonesty commented on #14
https://docs.google.com/document/d/1HlsNSQyscOLqFg__vgo0l66xA6aRGIxmbY5B7w4VoVU/edit#heading=h.75fwiint49xn

[2020-02-11 03:58] rachelwhaley opened #43 "Add organization to Event data model"
### Overview
We want to be able to track "organization" in the event data model, so we can filter the admin dashboard to show either Hack for LA or Unconference metrics.

### Action Items
- [ ] Add a field to the data model called Organization with the fields:
  - hack-for-la
  - cfa-summit-2020

[2020-02-11 04:50] rachelwhaley commented on #11
All are included in the personas project board: https://github.com/hackforla/VRMS/projects/6

[2020-02-11 04:50] #11 closed

[2020-02-11 04:51] kelseylc commented on #15
Kill "Hi, [User]" tile, move to top right corner

Global Filters:
* Location
*** DTLA
*** Westside
*** South LA
* Date Range
*** Last 7 Days
*** Last 30 Days
*** Last 90 Days
*** Last 6 months
*** Last 12 months
*** All Time

Data tiles:
* Total Volunteers
* Total Hours Volunteered
* Avg. Hours by Location
* Avg. Hours by Volunteer

Leaderboard: (most hours volunteered per person, DESC, LIMIT 10)

[2020-02-14 04:16] Rankazze opened #45 "Hack Night end of event summary report"
### Overview
A summary report for the end of event is needed to be able to do after action analysis.

### Action Items
Report should include at a minimum the following:
  Event location.
  Date of Event.
  Attendee info by member attributes.
  New attendee email list.

[2020-02-18 00:44] TanyaWlod commented on #42
I have 2 possible versions of the Dashboard, an Event (for v2) and Event Detail page (for v2). I have light comments that should explain what you're looking at.
Everyone with the link should be able to edit/view. If you have any edits/questions please comment them onto the Figma board.
https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A2738

[2020-02-18 00:45] TanyaWlod commented on #45
I have an Event and Event Detail page mocked. I have light comments that should explain what you're looking at.
Everyone with the link should be able to edit/view. If you have any edits/questions please comment them onto the Figma board.
https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A2738

[2020-02-18 03:11] #24 closed

[2020-02-18 05:21] ExperimentsInHonesty commented on #34
The pull request did not meet standards - @sarL3y please provide details.

[2020-02-18 05:24] ExperimentsInHonesty commented on #33
@tmax818 Please resubmit a pull request with the changes that Matt specfied at the in person meeting on 2/10

[2020-02-18 05:24] ExperimentsInHonesty commented on #34
@tmax818 Please resubmit a pull request with the changes that Matt specfied at the in person meeting on 2/10

[2020-02-19 06:24] sarL3y commented on #43
Updating this issue after the meeting on 2/17 where we discussed a few new fields to add to the collections. @klcapps can you please link to the grids or screenshots of the new fields?

[2020-02-19 19:42] sarL3y commented on #25
Updating styles per https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A2844.

Related to #15

[2020-02-19 23:33] sarL3y commented on #26
Using https://docs.npmjs.com/cli/version as well.

`npm version major` to increase X.#.#
`npm version minor` to increase #.X.#
`npm version patch` to increase #.#.X

Must be done twice (both package.json files). First in root, second in client.

[2020-02-19 23:56] #26 closed

[2020-02-20 00:08] sarL3y commented on #25
Broke HfLA logo height (Chrome mobile).
Broke "Location:" drop-down styling (Chrome mobile).

[2020-02-20 01:14] sarL3y opened #53 "Fix HfLA logo scaling"
### Overview
The HfLA logo in the navbar sometimes stretches and skews itself

### Action Items
* [x] Fix logo scaling

[2020-02-20 01:26] #53 closed

[2020-02-20 01:47] sarL3y opened #56 "Parse and display dates in JavaScript"
### Overview
We need a reliable way to parse dates in JavaScript to display prettily. The current format is ISO/UTC:
`2020-02-19T02:00:00.000Z`

### Action Items
Research and implement proper date formatting

### Resources/Instructions
https://momentjs.com/
https://en.wikipedia.org/wiki/ISO_8601

[2020-02-20 07:02] #39 closed

[2020-02-20 07:11] sarL3y opened #59 "Fix admin dashboard stats calculations"
### Overview
The functionality requested in #39 has been implemented, but the math is wrong from the calculations.

### Action Items
* [x] Fix calculations to display correct stats in admin dashboard

### Dependencies
#39

[2020-02-20 08:37] #59 closed

[2020-02-21 20:53] sarL3y commented on #28
https://firebase.google.com/docs/auth

[2020-02-21 20:54] #28 closed

[2020-02-22 16:29] #12 closed

[2020-02-25 02:53] #25 closed

[2020-02-25 02:55] kelseylc commented on #15
Wireframes completed for V1, signed off by Bonnie. We'll create new versions for user personas later.

[2020-02-25 02:55] #15 closed

[2020-02-25 02:55] sarL3y commented on #23
I pivoted from Auth0, and went with Google’s Firebase. After a good amount of research and consideration, this one provided the easiest, most secure implementation for our needs. I also went with passwordless authentication for several reasons:
1) Users of this app may only be logging in once or twice a week to begin with, and remembering a password is frustrating (as well as unsecure, if repeated

[2020-02-25 02:55] #23 closed

[2020-02-25 03:02] ExperimentsInHonesty commented on #16
1. Progress: none
2. Blocks: lack of available time, and that I keep forgetting, so someone needs to me my butt kicker
3. Availability, ill make time
4. ETA, when someone can meet with me. Post Summit

[2020-02-25 03:24] sarL3y opened #63 "Secure backend/api"
### Overview
The backend needs to be secured to prevent unauthorized API calls.

### Action Items
* [x] Add middleware to accept specific headers
* [x] Send headers with frontend request

[2020-02-25 03:28] kelseylc opened #64 "Add new fields to events table"
As an admin user, I want to calculate the Volunteer hours by location or by volunteers. To do this, we need to track the number of hours per event. In order pivot volunteer hours by event types, not just location, in the future, we'll need a field to identify an event type.

Add the following new fields to the 'events' data table.

**Data Table | Field Name | Value description**

- [ ] Events Tabl

[2020-02-25 03:28] kelseylc commented on #40
We decided to take another route on this topic in last week's meeting (2/17). We'll be creating a static # of hours per event_type. For example, hack nights = 3 hours, unconference sessions = 1 hours, and so on. That way we don't need an extra field or calculation step.

[2020-02-25 03:32] #40 closed

[2020-02-25 03:43] kelseylc commented on #64
In order to calculate the Volunteer hours by location or by volunteers, we need to track the number of hours per event. In order pivot volunteer hours by event types, not just location, in the future, we'll need a field to identify an event type.

Add the following new fields to the 'events' data table.

**Data Table | Field Name | Value description**

Events Table | **hours** | Length (in hours)

[2020-02-25 04:07] kelseylc opened #69 "Add global location filter: Date Range"
As an admin user, I want to be able to update all charts on the dashboard page to filter for a certain date range at once.

Task:

- [ ] Add a global location filter to the dashboard page
- [ ] This global location filter should be a dropdown of preset date ranges:

Date Range
*** Last 7 Days
*** Last 30 Days
*** Last 90 Days
*** Last 6 months
*** Last 12 months
*** All Time

- [ ] Ensure that all

[2020-02-25 06:10] kelseylc commented on #43
@sarL3y to confirm we're scrapping this and replacing this with the "event_type" field which we'll add to the events data table. That way rather than 2 specific fields, this "event_type" field can be updated with any value as new events/summits/conferences occur.
In the events table, **event_type** will be something like "hack night" vs "summit" vs "conference". The corresponding field will be **n

[2020-02-25 06:10] #43 closed

[2020-02-25 06:22] kelseylc commented on #41
Action items  1 and 2 are essentially asking for a custom date range picker. This is desired but cut from MVP, so I'm moving this to icebox for now. We can pull it out later once we're working on V1 or V2 iterations.
At that time we can update the ticket to reflect newer needs related to custom date ranges.

[2020-02-25 06:44] kelseylc commented on #42
@sarL3y FYI this ticket has been updated with specifications to build the 3 charts on the dashboard. Once those are done, we can check this off. I'll be creating separate tickets for these 2 items:
* Most hours volunteered Leaderboard
* Event Details - Past Events & Upcoming Events.

[2020-02-25 06:52] kelseylc commented on #14
This is now in progress. Sent some design prelims to Bonnie. Have basic outline above and next step will be to get basic content outline in slides for Bonnie's review & edits.

[2020-02-27 07:54] disregardfiat opened #70 "Add Github API Integrations"
### Overview
Adding GitHub API Allows the VRMS system to perform any action accessible via github.com. This will allow the system to see if a person is registered on github with the same address they used to sign up(if public on profile). Add that user to HackForLA. Future Development will include additional actions such as  assignment to projects/teams, admin roles... and dynamically generating w

[2020-03-02 22:44] #63 closed

[2020-03-02 22:47] #33 closed

[2020-03-02 22:48] #34 closed

[2020-03-02 23:42] sarL3y commented on #1
#67  addresses this issue, but will wait to merge until after Summit

[2020-03-02 23:43] sarL3y commented on #2
#67 addresses this issue, but will wait to merge until after Summit

[2020-03-03 02:32] disregardfiat commented on #70
A token with the following rights from an Admin of the HackForLA Org on Github needs to generate a Dev Token with the following permissions:
* admin:org - Full control of orgs and teams, read and write org projects
* read:user - Read all user profile data
* user:email - Access user email addresses (read-only)

Additional Repo rights may be needed in the future

[2020-03-03 02:37] kelseylc opened #76 "New Dashboard Chart: Total Volunteers"
As an admin user, I want the dashboard to show key metrics in a chart visualization, so that I can easily see the count of total volunteers across brigades (and global filters on this chart as desired).

**Link to Wireframes:**
https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A2738

**Action Items:**
- [x] Build a chart called "Total Volunteers" that shows the count (n)

[2020-03-03 02:47] kelseylc opened #77 "New Dashboard Chart: Total Volunteer Hours"
As an admin user, I want the dashboard to show key metrics in a chart visualization, so that I can easily see the count of total volunteers hours across brigades (and global filters on this chart as desired).

**Link to Wireframes:**
https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A2738

**Action Items:**
- [x] Build a donut chart called "Total Volunteers Hours" that sh

[2020-03-03 03:12] kelseylc opened #78 "New Dashboard Chart: Avg. Hours per Volunteer"
As an admin user, I want the dashboard to show key metrics in a chart visualization, so that I can easily see the Average volunteer hours per volunteer across brigades, and per each location if using the global location filter.

**Link to Wireframes:**
https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A2738

**Action Items:**
- [ ] Build a BAR chart called "Avg. Hours per

[2020-03-03 03:39] kelseylc opened #79 "New Dashboard Chart: Most hours volunteered Leaderboard"
As an admin user, I want the dashboard to show key metrics, one of which is a Volunteer Leaderboard. This is a list of the Top Volunteers sorted DESC by Sum of Volunteer Hours. I'll want to see the Top Volunteers across all locations, and per each location (when using the global location filter).

**Link to Wireframes:**
https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A

[2020-03-03 04:09] kelseylc commented on #79
Note: In the future we should consider a "View More" paginated view instead of the "View All" button, that would shows 10-20 more at a time, to prevent a massive list appearing in in the mobile dashboard. This would improve the user experience on mobile, but will require some more UX considerations, so we can discuss further later.

[2020-03-03 04:17] kelseylc opened #80 "Admin Events Page: Past Events"
As an admin user, I want to be able to look up past HackforLA events in the VRMS admin dashboard.

This view should live in the "Events" tab, in the header menu of the dashboard (rather than the "Home" tab).

**Link to Wireframes:**
https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A2738
--- See screen titled "Events-Past Events"

**Action Items:**
- [ ] In the global loc

[2020-03-03 04:37] kelseylc opened #81 "Admin Events Page: Upcoming Events"
As an admin user, I want to be able to look up **upcoming** HackforLA events in the VRMS admin dashboard.

This view should live in the "Events" tab, in the header menu of the dashboard.

**Link to Wireframes:**
https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A2738
--- See screen titled "Events-Upcoming Events"

**Dependency**
* This ticket assumes that the "Upcoming Ev

[2020-03-03 04:44] kelseylc commented on #42
Updated this ticket to be more informational and to track the Product tasks of creating necessary smaller tickets. Tickets were created and added to Backlog. #76 #77 #78 #80 #81 #82

This ticket can be closed out.

[2020-03-03 04:44] #42 closed

[2020-03-03 04:57] kelseylc opened #82 "Past Events: Event Details page"
As a user, when I click on the "View Details" button for either a Past Event or Upcoming event, I want to see the details of that event.

For a **Past Event**, I want to see an overview of that event's details & attendance.

#### Link to Wireframes:
https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A2738
--- See screen titled "Events-Past Events-Details"

## Action Items

[2020-03-03 05:54] kelseylc commented on #82
**CUT:**
Total Volunteer Hours: (Sum)
Attendees: (list of check-ins, display first_name last_name)

[2020-03-03 05:56] kelseylc opened #83 "Upcoming Events: Event Details Page"
As a user, when I click on the "View Details" button for either a Past Event or Upcoming event, I want to see the details of that event.

For an **Upcoming Event**, I want to see an overview of that event's details.

#### Link to Wireframes:
https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=22881%3A2738
--- See screen titled "Events-Upcoming Events-Details"

## Action Items

- [

[2020-03-03 06:10] kelseylc commented on #82
Matt, I'm not sure what kind of asset library you're using for the dashboard. If you have something like a closed lock/open lock symbol, I think that would be great to show open/closed status. Otherwise, a basic Check mark vs. Close symbol (X) will suffice.

[2020-03-03 06:12] kelseylc commented on #83
Matt, I'm not sure what kind of asset library you're using for the dashboard. If you have something like a closed lock/open lock symbol, I think that would be great to show open/closed status. Otherwise, a basic Check mark vs. Close symbol (X) will suffice.

[2020-03-03 06:14] kelseylc commented on #15
d2133d (red)
005a87 (dark blue)
5dafdc (light blue)

Cut Event Details person table (keep chart & total)

[2020-03-03 06:42] kelseylc commented on #8
@ExperimentsInHonesty please review if this flow looks correct. If so, I'll add some screenshots of the steps to make it look nicer and then include it in the deck.
![VRMS Flowchart](https://user-images.githubusercontent.com/17465075/75749585-f916d000-5cd6-11ea-9f11-d76612cae2cf.png)

[2020-03-03 19:34] kelseylc commented on #76
Note: When Location === All, each section of the pie is the count of volunteers from each hacknight.

If the user filters to a single location, the donut chart should be filled with 1 color, matching the location selected.

Also, the legend below the chart will now only show the 1 location with the count for that single location (which in the case of having a single location selected, will be dupl

[2020-03-04 23:49] sarL3y commented on #56
Resolved by @shiningjustice

[2020-03-04 23:49] #56 closed

[2020-03-05 00:26] #77 closed

[2020-03-05 00:26] #76 closed

[2020-03-05 01:58] sarL3y commented on #78
Current implementation is using a donut chart. Will refactor to bar chart post-Summit.

[2020-03-05 03:41] kelseylc opened #91 "Add new User Access Level: Organizer"
As an admin user, I want to be able to give a HackforLA leader access to the VRMS dashboard to see their Brigade's volunteer stats, without giving them full admin access.

We should create a new role called ORGANIZER to denote a mediate level of access permissions.

## Action Items

- [x] Create new value in the "accesslevel" field of the users table called "organizer"
- [x] the "organizer" role s

[2020-03-05 03:53] kelseylc opened #92 "Build "Add Event" page"
## Description
As an Admin user, I want to be able to create a new Event on the fly, regardless of event type (hack night, conference, summit, weekend meetup, etc.). I should be able to add a new event to the DB from the VRMS admin dashboard so that we can check-in users, track volunteer hours (custom to the event), and so on.

A new event may or may not be a hacknight, and may include "sessions"

[2020-03-05 04:03] sarL3y commented on #69
This will require a refactor of the data flow in the dashboard, so I'm removing it from pre Summit.

[2020-03-05 07:57] kelseylc commented on #92
Ticket not complete, still need to hash out requirements before moving to prioritized backlog.

[2020-03-05 08:44] #78 closed

[2020-03-05 08:47] kelseylc commented on #78
I see that this was deployed as a Donut chart in production. A donut chart doesn't make sense for an Average stat, since an average is not part of a whole. A bar chart would make more sense for something like tracking Avg. Hours per location. This can wait until after Summit, but it should get fixed.

[2020-03-06 17:12] #64 closed

[2020-03-10 18:35] #8 closed

[2020-03-19 02:26] ExperimentsInHonesty commented on #79
@sarL3y says update is
1. Progress - paused for project roadmp
2. Blocks - hello!  covid19!
3. Availability - this week is better
4. ETA - paused

[2020-03-19 02:47] ExperimentsInHonesty commented on #79
Matt's tentative
- estimate of hours: 4 hours
- complexity points: 2
@shiningjustice  - matt will talk to you about this.

[2020-03-24 01:03] sarL3y opened #94 "Refactor Admin Dashboard"
### Overview
The admin dashboard needs to be compartmentalized and future-proofed.

### Action Items
* [x] Research and propose requirements needed to refactor the admin dashboard
* [x] Modularize components

[2020-03-24 03:00] ExperimentsInHonesty opened #95 "Research Curated User Journeys"
### Overview
Identify features for a curated user journey.

### Action Items
Look at all personas on the personas board
Look at the VRM board

### Resources/Instructions

[2020-03-24 03:06] ExperimentsInHonesty commented on #35
Make sure matt gets invite to aws meeting.

[2020-03-31 02:06] #91 closed

[2020-03-31 02:20] sarL3y opened #97 "Fix Security Issue"
### Overview
The package.json needs to be updated to fix potential security issue.

### Action Items
Update package.json

[2020-03-31 02:22] ExperimentsInHonesty commented on #94
Progress: updated 2 of 3 components to make them more modular.  Still need to update functions.
Block: Data being pushed into the donut chart container component not being updated
Availability: plenty
ETA: next meeting - Monday 4/6

[2020-03-31 02:24] ExperimentsInHonesty commented on #92
Progress: Created reusable UI components for the forms, next steps are debugging, and getting the USER ID for the owner of the event
Blocks: none
Availability: Thurs-weekend
ETA: 4/6

[2020-03-31 02:25] ExperimentsInHonesty commented on #95
Progress: Reviewed the personas
Blocks: none
Availability: after work all week
ETA: 4/6

[2020-03-31 02:25] sarL3y opened #98 "Project Leader Dashboard"
### Overview
A Project Leader should be able to view their own dashboard to open check-ins, create events for their project, and view the roster of attendees and project members.

### Action Items
- [x] Rachel to create mockup in Figma & link to this issue
- [x] Roster section of dashboard is being created in component #109 - add to Project Leader Dashboard
- [x] Wire it up to the back end
- [ ] A

[2020-03-31 02:29] ExperimentsInHonesty commented on #35
Progress: set a slack reminder for Matt and assigned issue to him

[2020-03-31 02:29] sarL3y opened #99 "Project Meeting Check-Ins"
### Overview
Users should be able to check-in to project-specific meetings.

### Action Items
Update homepage to include meetings for projects

[2020-03-31 02:36] ExperimentsInHonesty commented on #27
Progress: Sent initial design to Matt, setup mongo DB.
Blocks: Need to discuss with team how to setup with NoSql setting.
Availability: Wed and Thursday evenings
ETA: later this week, on the db stuff and next week on the API stuff

Bonnie will find DB person for Rachel and Matt to review.

[2020-04-05 06:25] sarL3y opened #103 "Add cron job: open check-ins"
### Overview
Events should automatically open their check-ins shortly before the event.

### Action Items
[x] Develop a worker to periodically check if an event's check-ins should be open
[ ] Test

[2020-04-05 06:26] #97 closed

[2020-04-05 06:27] sarL3y opened #104 "Add cron job: close check-ins"
### Overview
Events should automatically close their check-ins after the event is over.

### Action Items
[x] Develop a worker to periodically check if an event's check-ins should be closed
[ ] Test

[2020-04-06 23:51] sarL3y opened #107 "User Feedback: Update "Role" questions on form"
### Overview
Users were having trouble understanding what to put for "Desired Role" and "Current Role"

### Actions
[ ] Add clarity to check-in form

[2020-04-06 23:55] #27 closed

[2020-04-06 23:55] #94 closed

[2020-04-06 23:55] #99 closed

[2020-04-06 23:55] #103 closed

[2020-04-06 23:55] #104 closed

[2020-04-06 23:55] #107 closed

[2020-04-07 02:15] ExperimentsInHonesty commented on #92
Progress: got all the UI components created, and CSS done.  Next steps are: Linking it up to the backend
Blocks:  Prepping for an interview
Availability: unkown.  Assigning Matt to help
ETA: 4/13

[2020-04-07 02:16] ExperimentsInHonesty commented on #35
Matt will reach out to Joel.

[2020-04-07 02:18] Rankazze commented on #95
Progress:  Reviewed the user stories and added some cards.  Added cards to VRMS Research too.
Blocks: none
Availability: n/a
ETA: done

[2020-04-07 02:18] #95 closed

[2020-04-07 02:32] sarL3y opened #109 "Create Roster component"
### Overview
As a project manager, I want to see a roster component on my homepage, so that I can see my team members and initiate onboarding for new team members.

### Action Items
- [x] Rachel to create Figma mockup & link to this issue
- [x] Create roster component
- [x] Issue #98 is about adding the component to the project manager dashboard

### Resources/Instructions
- When a team leader log

[2020-04-07 04:13] rachelwhaley opened #110 "Build user profile page"
### Overview
As a user, when I log in to VRMS, I want to see my profile information and edit/add info, so that I can be onboarded to a Hack for LA project.

### Action Items
- [x] Rachel to complete Figma mockup of this & add link to this issue
- [x] Build user profile page
- [ ] ~~User should be directed to profile page after they check in or log in, if they are not a project manager~~
- [ ] ~~If

[2020-04-07 20:08] sarL3y opened #111 "Prevent email address duplication"
### Overview
Email should be a unique value on the user object

### Action Items
Update schema to prevent email address duplication

[2020-04-07 20:34] Jonathanko52 opened #113 "Check in form refactoring"
### Overview
CheckInForm refactoring

### Action Items
Breaking down components into smaller, more readable sections. Optimize some functions.

### Resources/Instructions

[2020-04-07 21:53] #111 closed

[2020-04-08 02:02] clockwerkz opened #116 "Add Concurrently to the dev build"
### Overview
In order to run the dev build, there are two steps - run the server in one terminal, and the client in another.. using an npm library like concurrently will allow us to start both servers with one terminal.

### Action Items
- [x] Install Concurrently as a dev dependency
- [x] Create two new scripts in the root package.json.
- [x] Update the project Readme's dev instructions.

[2020-04-11 02:05] #113 closed

[2020-04-11 02:05] #116 closed

[2020-04-11 03:55] rachelwhaley commented on #110
Here's my initial (very rough) [Figma mockup](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=23330%3A6)! @clockwerkz let me know if you have any trouble accessing that link.

[2020-04-11 17:14] clockwerkz commented on #110
@rachelwhaley Yep, I can access it fine, thanks!

[2020-04-11 21:02] rachelwhaley commented on #109
@MasterBirdy - here's an initial (VERY rough) [mockup](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=23345%3A98) of the Roster component for the during an active meeting piece. The NOT during a meeting piece would be similar, just having the Team Member Status be active, pending, or inactive.

[2020-04-11 21:02] rachelwhaley commented on #98
See #109 for the initial VERY rough mockup link.

[2020-04-12 10:57] MasterBirdy commented on #109
Looks good! I updated my components accordingly.

[2020-04-13 21:24] clockwerkz commented on #110
Here's my first take on the mock up - I created a UserProfile component and did straight html. I'll add in some temp data and refactor it into components:
![user-profile](https://user-images.githubusercontent.com/11682523/79162585-6a47a980-7d92-11ea-9046-e600121a6f2a.PNG)

[2020-04-14 01:53] sarL3y opened #123 "Add recurring events"
### Overview
An organizer should be able to add and edit recurring events for their project/team.

### Action Items
 - [ ] Build cron job to schedule events
 - [ ] Include "recurring" option to Add Event page

[2020-04-14 02:06] sarL3y commented on #92
Progress 4/13: Need to create the proper routes for adding both events and recurring events.
Blocks: None
ETA: This week

[2020-04-14 02:13] ExperimentsInHonesty commented on #109
@sarL3y mat needs to review.

[2020-04-14 02:14] ExperimentsInHonesty commented on #98
@sarL3y to review

[2020-04-14 02:19] ExperimentsInHonesty commented on #35
@ExperimentsInHonesty @sarL3y to meet to talk about about CfA paying for heroku

[2020-04-14 02:32] rachelwhaley opened #124 "Connect and populate Projects and Team Members"
### Overview
We recently added Projects and Project Team Members to the data model - need to connect them to the live database and populate with real data.

### Action Items
- [ ] @ExperimentsInHonesty to get us the spreadsheet of projects and project leaders
- [ ] @MasterBirdy and @rachelwhaley to connect on creating the routes and uploading the project data to MongoDB
- [ ] Upload spreadsheet to

[2020-04-14 23:22] sarL3y opened #125 "Add users to Google Drive"
### Overview
Project Leaders and Admins should be able to add a user to a project-specific Google Drive

### Action Items
- [x] Create button to grant access to a Google Drive
- [x] Create route on backend to hit Google API
- [x] Add Google Drive field to Project collection
- [ ] Update hard-coded email and google drive file id to test if front end is communicating with back end properly
- [ ] Wir

[2020-04-21 02:05] ExperimentsInHonesty commented on #125
@Jonathanko52 doing research on routes right now.
@MasterBirdy is doing the button (screen shots)

[2020-04-21 02:06] switchzer0 commented on #32
### Status
- wrote up initial project manager role overview
- write up prospective workflow for PM adding contributor to project
### Next Steps
- conduct interviews validating "add contributor" (Bonnie) and technical architecture
- expand overview document to include addition PM paths: mgr. housekeeping, update project description, engage with project dashboard
### No blockers
### Resources
Write-

[2020-04-21 02:10] MasterBirdy commented on #125
![screenshot](https://user-images.githubusercontent.com/1127804/79817552-976bfd00-833a-11ea-93f1-4fc16ef78cf2.jpg)

Picture of component for Project Leader Dashboard onboarding.

[2020-04-21 02:13] ExperimentsInHonesty commented on #125
@sarL3y @rachelwhaley @switchzer0 lets talk about the separate buttons for checkin (which is really onboarding).

[2020-04-21 02:22] ExperimentsInHonesty commented on #110
@clockwerkz
1. Progress : going to break out into components.
2. Blocks: none other than availability
3. Availability: free next couple of days
4. ETA: done in a few days

[2020-04-21 02:24] ExperimentsInHonesty commented on #92
@Jonathanko52 working on routes.  we will get update from matt next week.

[2020-04-21 02:32] ExperimentsInHonesty commented on #32
@switchzer0 @ExperimentsInHonesty need to meet tomorrow.

[2020-04-21 02:49] rachelwhaley opened #128 "Update Event Data Model"
### Overview
As an admin, I want to be able to add an event start time and ensure that the event data model is clearly documented, in order to have a clear API for communication with the website team.

### Action Items
- [x] Confirm and clarify all event attributes
- [x] Clearly document attributes of event data model

### Resources/Instructions
Coordinate with website team to ensure that all need

[2020-04-21 02:58] Rankazze opened #129 "VRMS research Human Capital"
### Overview
Identify career development tools that may be of use to HfLA community members.  Tools to search for should be able to be used at various career life stages covering 7 decades. (Teens/20s/30s/40s/50s/60s/70s).

### Action Items
Perform Discovery into various career and skill building tool space to identify tools that may be of use.

### Resources/Instructions
post findings to VRMS Res

[2020-04-24 23:55] ExperimentsInHonesty commented on #14
Kelsey's deck s://docs.google.com/document/d/16HGD2Eqv1tiNevI5ws6-9nzMYiH1SPQT1ZeM6wsXU00/edit

[2020-04-27 23:52] clockwerkz commented on #110
I went ahead and created the User Profile page component, and implemented a separate context to save the user. The Component is using temp data at the moment, will need to link up to the User Model in the future.

[2020-04-28 00:39] Rankazze commented on #129
Progress:  Tool: Job Posting Board.  I have been introduced to Code for America staff that have and are currently managing their Job Posting Board.  I have let them know that VRMS team is interested in using and customizing their code base if it is available to us.
Blocks:  None.
Availability:  Nightly after 6p
ETA: Ongoing

[2020-04-28 01:59] switchzer0 commented on #32
### Status
- revised PM role elements overview to match architecture
- revised "add contributor" workflow incorporating Bonnie interview
### Next Steps
- expand overview document to include addition PM paths: mgr. housekeeping, update project description, engage with project dashboard
### Blockers
- confirm roadmap for project before continuing to write up potentially late-phase elements
### Resou

[2020-04-28 02:00] switchzer0 opened #135 "Create phased development roadmap + MVP details"
### Overview
Identify what is essential for MVP and timeline for subsequent phases

- [x] Approve phase elements
- [x] Detail phase elements
- [x] receive team approval

### Resources
First pass at deck:

https://docs.google.com/presentation/d/1DLljKCoaoI2JSZUxL6oIOhBBXbSF30uW0EOgtYNSRrs/edit?usp=sharing

[2020-04-28 02:03] Jonathanko52 commented on #125
Progress: Tool: Working on sharing access to google drive of a given project. No access to github or google doc yet.
Blocks: Issues regarding authentication.
Availability: Pretty much every day.
ETA: Wednesday evening.

[2020-04-28 02:04] sarL3y commented on #92
Progress 4/27: Jonathan removed CSS package 'classnames', still needs routes in backend
Blocks: None
ETA: This week

[2020-04-28 02:23] ExperimentsInHonesty commented on #98
@sarL3y had merged this into development with routes
add event is still in progress #92

[2020-04-28 02:44] sarL3y opened #136 "Add Slack Invite Integration"
### Overview
A user should be invited to the slack org upon creating profile.

### Action Items
- [ ] Research implementation: https://github.com/emedvedev/slackin-extended

### Dependencies
#145

[2020-04-28 02:50] rachelwhaley opened #137 "Document data model"
### Overview
As a developer on this project, I want to have a clear data diagram, so that I can refer to it when developing.

### Action Items
- [x] Document data model and all relationships between objects
- [x] Make sure that data models are appropriately commented to explain attributes
- [x] Create updated LucidChart data model and update all links accordingly

### Resources/Instructions
- Reme

[2020-04-28 03:03] ExperimentsInHonesty commented on #110
Closing this issue.  Will create a new issue for wiring it up.

[2020-04-28 03:03] #110 closed

[2020-04-28 03:26] ExperimentsInHonesty commented on #128
Current thinking
working with VRMS team on calendar. Waiting for data model from @sarL3y
template so farIdentification: (this is a number of the project)
Start Time: YYYY-MM-DDTHH:mm:ss.sssZ
End Time: YYYY-MM-DDTHH:mm:ss.sssZ
Meeting Name:
Meeting Description:
Meeting Type:
Meeting Location: (online, DTLA, SM, soLA)
Zoom Link:

https://github.com/hackforla/website/issues/385#issuecomment-609463483

[2020-04-28 04:22] switchzer0 commented on #135
### Status
Reviewed on weekly team call. Team to provide comments in advance of Wednesday meeting with Bonnie, Cici, Matt, and Adam

### Next Steps
- Wednesday review call
- finalize high level plan
- detail MVP features and generate tickets

[2020-04-29 03:04] MasterBirdy opened #138 "Protected Routes"
### Overview
Users should only be able to see routes authorized for user level, project leaders should be able to see both user level and project leader routes, and admins should be able to see all routes.

### Action Items
- [ ] Move conditional rendering logic out of individual components
- [ ] Create Auth Context that stores current user access level
- [ ] Create protected routes through a comp

[2020-04-30 04:45] rachelwhaley commented on #137
Documented data model - located in Google Drive folder [here](https://docs.google.com/drawings/d/1-y4xhfKoM0Ic5v7YhdPMAknxkq_VONIq7uBnTF6nwYM/edit).

[2020-05-01 18:34] ExperimentsInHonesty commented on #138
@MasterBirdy can you move this issue to the appropriate column on the project board?

[2020-05-01 22:39] switchzer0 opened #141 "Create MVP Product Requirements Document"
### Overview
Create a PRD detailing MVP features
### Action Items

- [x] draft document based on past weeks large group meetings about VRMS strategy and MVP phasing. include multiple options for achieving MVP goals
- [x] solicit group input
- [x] revise down to narrower MVP
### Resources
[Draft](https://docs.google.com/document/d/15LvzFpLPYjQhpMx58P60onh697ww45fgZm-Sg_FGehw/edit?usp=sharing)

[2020-05-04 22:06] sarL3y opened #143 "Project Info Page"
### Overview
A project leader or admin should be able to view a "Project Info" page to see relevant info about their project.

### Action Items
- [ ] Develop Project page
- [ ] Implement "Edit Project Info" page and/or functionality adjacent to Project Info page

### Resources
https://github.com/hackforla/website/tree/gh-pages/_projects

[2020-05-05 00:29] Rankazze commented on #129
Progress: Tool: Job Posting Board. I have been introduced to Code for America staff that have and are currently managing their Job Posting Board. I have let them know that VRMS team is interested in using and customizing their code base if it is available to us.
Blocks: The two Code for America staff have not returned my email.  Giving them a bit of space since they announced new CEO.  The lead ma

[2020-05-05 01:11] #128 closed

[2020-05-05 01:15] sarL3y opened #145 "Add backend models and routes for Projects and Recurring Events"
### Overview
Project data should be populated and served as expected through the API. Recurring Events should mirror individual Events, but will allow a cron job to automatically create a new individual event each week

### Action Items
- [x] Liaise with website team to gather requirements
- [x] Add Project model and route
- [x] Add Recurring Event model and route

[2020-05-05 01:19] sarL3y opened #146 "Add Slack message functionality to send appropriate meeting link"
### Overview
A Slack message should be sent to a specific channel including the videoconference link for the upcoming meeting

### Action Items
- [ ] Research Slack API implementation
- [ ] Develop cron job to automatically send Slack message including the videoconference link

### Dependencies

[2020-05-05 01:22] sarL3y commented on #145
Progress: Updating models and routes to reflect the needs of VRMS and website team
Blocks: None
Availability: Funemployed
ETA: Tomorrow afternoon

[2020-05-05 01:51] #109 closed

[2020-05-05 01:54] MasterBirdy commented on #98
Progress: Reverted onboard button back to single button. Still need to wire it up to back end.
Blocks: Busy week!
Availability: All throughout the week.
ETA: Next week, hopefully.

[2020-05-05 01:58] Jonathanko52 commented on #125
Progress: Figured out how to share files to users
Blocks: Access to vrms/hack for LA gmail account is necessary to set up the API and grant permissions to the drive.
Availability: Pretty much every day.
ETA: 5/11

[2020-05-05 02:03] shiningjustice commented on #92
Progress: Everything should be ready, just need to test the connection
Blocks: Need to be added as an admin to test that events are added correctly. Will talk to Matt about this.
ETA: Early this week

[2020-05-05 02:08] sarL3y commented on #123
Progress: Will add the chron job tomorrow
Blocks: None
Availability: Funemployed
ETA: Tomorrow afternoon

[2020-05-05 02:21] switchzer0 commented on #141
### Status
Bulk of document first-drafted based on strategy document and feedback from group meetings
### Next steps
- Technical requirements
- Validation from select team members
- Feature deliberation
- Reformatting
### Blockers
None
### ETA
finalized by next week's meeting

[2020-05-05 02:28] rachelwhaley commented on #137
Added link to the [wiki](https://github.com/hackforla/VRMS/wiki/Join-the-Team).

[2020-05-05 02:37] ExperimentsInHonesty commented on #125
will setup vrms-bot@hackforla.org and give @Jonathanko52 access.

[2020-05-05 02:44] ExperimentsInHonesty commented on #129
@Rankazze  will follow up with Tom Dooner on CfA slack.

[2020-05-11 17:07] #145 closed

[2020-05-11 18:09] sarL3y opened #153 "Add "New User" ability to check-in if no meetings are open"
### Overview
A new user should be able to create a profile if there are no meetings to check-in for

### Dependency
the database end points and routes will need to be completed for this to be fully functional but some of the interface can be built.

### Action Items
- [ ] If no meetings are open for check-in, replace buttons on homepage with "Join Hack for LA"  and "Log In"
- [ ] Use the current i

[2020-05-11 18:11] sarL3y opened #154 "Add Slack "Greet Bot" to direct new-joiners to create a profile"
### Overview
Upon joining the org Slack channels, a new user should be greeted with a bot that directs them to vrms.io to create a new profile

### Action Items

[2020-05-12 00:35] switchzer0 commented on #135
### Status
Revised deck based on feedback re duplicating website functionality and needing to reflect website as VRMS endpoint in some cases. New phasing recommendation is ready to go, pending team approval.
### Next Steps
Finalize direction with team

[2020-05-12 01:08] shiningjustice commented on #92
Progress: Ready after PR #155 is merged
- Added new fields per changes to event model (`videoConferenceLink`, `projectId` and some date fields) and per the added recurringEvents model
- Tested connection, works! Bug that prevented redirecting after success delayed this a bit

[2020-05-12 01:42] Rankazze commented on #129
Progress: Tool: Job Posting Board. Gave them the benefit of the doubt with on-boarding a new CEO.  I reached out to the two staff members previously mentioned.

I again reiterated that VRMS team is interested in using and customizing their code base if it is available to us.
Blocks: The two Code for America staff have not returned my second email.
Future action:  I will now reach out to Tom Dooner

[2020-05-12 01:56] switchzer0 commented on #141
### Progress
Revisions completed reflecting new understanding of interaction with HforLA website
### Next Steps
Finalize feature documentation pending team approval of VRMS MVP strategy/roadmap document
Confirm website endpoints
### Blocks
Need to confirm revised strategy/roadmap doc is approved
### Avails
pretty open
### ETA
finalized by next week's meeting

[2020-05-12 02:00] Jonathanko52 commented on #125
Progress: Project leaders can now give users access to folders and files that VRMS bot has access to.
Blocks: ID's need to be set up in the collection/database
Availability: Pretty much every day.
ETA: ?

[2020-05-12 02:02] sarL3y commented on #123
Progress: Chron job function is almost finished
Blocks: None
Availability: Funemployed
ETA: Tomorrow afternoon

[2020-05-12 02:03] sarL3y commented on #138
Progress: Protected routes will affect other features that are currently in development. Pieces will be falling in place shortly.
Blocks: Project Leader Dashboard, User Profile, Admin dashboard
Availability: N/A
ETA: Waiting for other features first

[2020-05-12 02:17] MasterBirdy commented on #98
Progress: Integrated Dashboard with Google Drive API so it opens a code link, which is saved then can be used to create a token which gets saved. However, it is still using dummy data. Still needs to be wired to back end.
Blocks: No blocks.
Availability: All throughout the week.
ETA: Soon!

[2020-05-13 03:04] #123 closed

[2020-05-13 04:36] rachelwhaley opened #159 "Team Roster Migration from Google Docs"
### Overview
Team rosters are currently maintained in Google Docs, and will soon be managed in VRMS via the Project Team Member collection in our database.

### Action Items
- [x] Bonnie to collect all roster columns into a single doc for analysis
- [x] Rachel to check that all columns are represented in the User and Project Team Member schemas
- [x] Need to decide what date to put as the "joined

[2020-05-14 03:15] Rankazze opened #161 "DIY Participation Reporting Widget"
As an HfLA volunteer I want a tool that allows me to self-track and submit the hours I work on projects remotely so that I can keep HfLA informed about my participation

[2020-05-14 03:50] sarL3y opened #162 "User Request: Remove extra step in Returning User check-in process"
### Overview
As a Returning User, I want to enter my email address and check in with one action. The current iteration prompts the user to click a second button after their email address has been validated. The question displayed and the check-in button could be moved to the email validation page.

### Action Items
- [x] Combine check-in functionality with email validation function, while accounti

[2020-05-19 00:51] clockwerkz commented on #143
Update: Should be done by tonight (05/18) or tomorrow the latest.

[2020-05-19 01:02] sarL3y commented on #124
Progress: @sarL3y is populating the project collection in the DB and testing the `.populate() ` functionality.
ETA: ASAP/tomorrow 5/19
Blocks: n/a
Availability: Yes

[2020-05-19 01:09] sarL3y commented on #146
Progress: Successful connection with the Slack API from VRMS.
Next Steps: Pull events per project to figure out appropriate slack channel and notification time to send message
ETA: Currently working, possibly 1 week
Availability: Yes

[2020-05-19 01:16] Rankazze commented on #129
Progress: Tool: Job Posting Board. Reached out (DM) to Tom Dooner on the CfA slack letting him know of my previous attempts at contacting the people to whom I was referred within CfA.

I again reiterated that VRMS team is interested in using and customizing their code base if it is available to us.

Blocks: I have not yet heard back from Tom Dooner.  Additionally, neither of the the two Code for A

[2020-05-19 01:18] shiningjustice commented on #92
Progress: Made revisions per Matt's review (see comments in PR #155 for details)
Blocks: Pending general authentication being worked out for front end (admin must "own" projects before we can create events for it). Auth pending db migration/finalization
ETA: See blocks

[2020-05-19 01:29] Jonathanko52 opened #173 "Generate Comprehensive reports in Admin Dashboard"
### Overview
Have the dashboard data displayed in a manner more usable to the administrators, rather than as piecharts.

### Action Items
-Mock Report received. Set up router to retrieve data from database and view to display data

[2020-05-19 01:48] sarL3y opened #174 "Add users to Github repo"
### Overview
A project leader should have the option to add a user to the github repository for their project. Check to see if the user has 2FA and privacy = public.

### Actions
- [x] Connect to the Github API
- [x] Add button to project leader dashboard roster component
- [x] Allow granting access to repository with API call
- [ ] Move credentials into environment variables
- [ ] Receive dynamic

[2020-05-19 02:35] #135 closed

[2020-05-19 03:03] rachelwhaley commented on #137
Updated data model document is saved in the Google Drive [here](https://drive.google.com/file/d/1sSqbKyEHE9g5zn_rJ6ONUCW2TPVkTYKf/view?usp=sharing) & updated on the wiki and the project board quick links.

[2020-05-19 03:03] #137 closed

[2020-05-19 04:54] switchzer0 commented on #141
### Progress
- Document revised to include detailed description of all features
- edge cases and subjective decisions reviewed with team
- website endpoints approved
- technical specifications added
### Next Steps
- Small edits to incorporate team review
- formatting
- enhance technical specifications section
- final review of major changes at next team meeting
### Blocks
None
### Avails
pretty op

[2020-05-19 04:56] switchzer0 opened #175 "Create user flows outline for UI/UX team"
### Overview

Convert MVP PRD to user flows to allow UI/UX team to begin design

### Action Items
- [x] update user flows document to match revised PRD
- [x] review and finalize flows and screens with UI/UX team

### Resources
[PRD](https://docs.google.com/document/d/15LvzFpLPYjQhpMx58P60onh697ww45fgZm-Sg_FGehw/edit?usp=sharing)
[Draft user-flows document](https://drive.google.com/open?id=1hDus73Q

[2020-05-19 05:04] switchzer0 opened #176 "Implement free-level mixpanel analytics"
### Overview

MixPanel is a frontend analytics tool that allows for product design optimization by tracking user behavior. Implementing the tool requires admin some code to VRMS, which will then allow the product team to identify pain-points in product design, friction, etc.

### Action Items
- [ ] speak with bonnie about the other project using MixPanel. Should we get a separate account for VRMS?

[2020-05-19 05:11] switchzer0 opened #177 "Convert finalized PRD to full list of small tickets"
### Dependency
Not enough tickets in the prioritized backlog

### Overview

Translate MVP PRD into tickets for development, design, slicing tasks as small as possible and allowing for new team members to dive in

### Action Items
- [ ] brainstorm ticket size and skill differentiation goals by functional area (e.g., dev, design; screen layouts, graphics creation)
- [ ] create tickets
- [ ] categori

[2020-05-19 05:21] switchzer0 opened #178 "Review VRMS GitHub milestones, close if appropriate"
Summit and Congress milestones open under GitHub Issues; close or reschedule if no longer relevant, now that we have an MVP and 2nd iteration timeline

[2020-05-19 05:47] switchzer0 opened #179 "Updated documentation for MVP"
### Overview

Documentation for VRMS should be for current upon completing MVP milestone .

### Dependency
Stable code base - end of mvp dev, before launch

### Action Items
- [ ] data model
- [ ] APIs
- [ ] design conventions

[2020-05-19 17:45] sarL3y opened #181 "Integrate Mixpanel into Front End for testing"
### Overview
Mixpanel provides front end tracking to analyze bounce rates and click through actions

### Action Items
- [ ] Research mixpanel integration: https://mixpanel.com/pricing/

[2020-05-20 03:06] rachelwhaley commented on #159
Created [data mapping](https://docs.google.com/spreadsheets/d/1kJLfcS8NlgHYaiyz8g0NV8VM_KbwT2hzA4qU3eqEeLw/edit#gid=429147066), several questions to resolve before migrating data.

[2020-05-21 23:17] switchzer0 opened #182 "Administrator access level control tool"
We decided to hardcode access level controls on the rare cases they need to be modified.

Notes leftover from when this tool existed in MVP:

Administrator user access level tool
Accounts with administrator access level will display an additional module for access level administration on the VRMS user account dashboard
Administrators will select individual user accounts and can grant “administrato

[2020-05-27 04:49] Rankazze commented on #129
Progress: Tool: Job Posting Board. Heard back from Tom Dooner, CfA.  Here is his reply to the request: "It’s not currently open source. We built it ourselves but it’s currently the code is not in a place where it’s possible for us to publish."

Blocks:  No blocks.

Future action: I will now conduct research to identify potential tool candidates for use.

Availability: Nightly after 6p
ETA: Ongoing

[2020-05-28 01:48] ruben1s opened #185 "Fix API endpoint for Hack for LA website."
### Overview
Currently, there are a few project names that do not align with the project names listed on the Hack for LA .md files, and there is a links not resolving properly on the team meeting page.

### Action Items
- [x] Change project titles to match what's on the .md files
   - [x] TDM Calculator
      -  Currently says 'TDM Calculator'
      -  Change to 'LA TDM Calculator'
   - [x] HackFo

[2020-05-28 22:42] sarL3y commented on #185
@ruben1s Please let me know once you approve the changes and I'll close the issue. Thanks!

[2020-05-29 19:22] ruben1s commented on #185
Everything looks good.

[2020-05-29 19:22] #185 closed

[2020-06-02 01:35] shiningjustice commented on #98
**Progress**: Added GitHub API integration that uses dummy data and a test github organization.
- adds endpoint
- splits up "onboarding" button on PL dashboard and adds github button
Checks if user is in organization and sends an invite to them if not. Adds them as a collaborator to the repository if they are already in organization, otherwise an invite is sent to join the repository.
**Blocks**:

[2020-06-02 01:55] sarL3y commented on #146
Progress: No progress from last week
Next Steps: Pull events per project to figure out appropriate slack channel and notification time to send message
ETA: Will begin tomorrow, 1 week to develop

[2020-06-02 01:57] clockwerkz commented on #143
Created a project page to display basic project info. Added edit project functionality. Will need to revisit to add back end connection functionality.

[2020-06-02 01:57] #143 closed

[2020-06-02 01:57] sarL3y commented on #138
Progress: Carlos looked into the implementation and we'll be moving in a different direction for now. Going into backlog.

[2020-06-02 02:18] shiningjustice commented on #174
**Progress**: Added GitHub API integration that uses dummy data and a test github organization.

- adds endpoint
- splits up "onboarding" button on PL dashboard and adds github button

Checks if user is in organization and sends an invite to them if not. Adds them as a collaborator to the repository if they are already in organization, otherwise an invite is sent to join the repository.

**Blocks*

[2020-06-02 20:32] ExperimentsInHonesty opened #187 "Discussion item: Slack invite process DRAFT"
### Overview
Define the slack processes (manual and technical) and how they fit together so that both UX and development can understand what we are trying to achieve.

### Action Items

- [ ] Review Draft 1
- [ ] If you have changes, copy and paste entire process to a comment and then change the relevant part, so that eventually when we get to the bottom of this issue we have the final version.
-

[2020-06-03 00:37] Rankazze commented on #187
Overview

Define the **"To-Be"** slack processes (manual and technical) and how they fit together so that both UX and development can understand what we are trying to achieve.
Action Items

Review Draft 1
If you have changes, copy and paste entire process to a comment and then change the relevant part, so that eventually when we get to the bottom of this issue we have the final **shared understand

[2020-06-07 19:18] switchzer0 opened #188 "Proposed Feature Template"
**Feature name:** short title for feature
**Purpose:** description of specific stakeholder benefit (why we would build this)
**Description:** details on functionality
**Proposed Iteration:** where does this fall in the roadmap (per Strategy Roadmap slide)
**Notes:** any additional notes

_Remember to label as **proposed feature**_

[2020-06-07 19:25] #141 closed

[2020-06-07 19:26] #175 closed

[2020-06-09 01:44] sarL3y commented on #124
Progress: Projects collection has been populated. Next step is to "join" events with their associated project

[2020-06-09 01:47] sarL3y opened #190 "Update Success page to include Zoom link"
### Overview
Update the current Success page to show the appropriate project links upon successful check-in

### Dependency
Put Zoom link into the data model and adding to db #214

### Action
- [ ] Update Success page with new components
- [ ] Pull associated project info with event

[2020-06-09 01:52] sarL3y opened #191 "Develop Authentication model and implement"
### Overview
Research Auth0 implementation for both front and back end (API) and implement

### Action Items
- [x] Set up Auth0 on the client side.
- [ ] Successfully connect with an API test call that verifies/authenticates through Auth0.
- [ ] Implement authentication and authorization at a global state level using Auth0.
- [ ] Migrate Auth0 credentials over to using a HackForLA account.

[2020-06-09 01:57] clockwerkz commented on #191
I looked over Auth0 over the weekend after attending Tyler's presentation on Wednesday. The workflow is interesting - the authentication would occur on the client side, and would package a token to make requests to the back end with. The back end can deserialize a token and check if it's valid or not before responding back with any protected data.
The last piece of the puzzle I'm currently looking

[2020-06-09 02:22] sarL3y opened #192 "Develop Time Tracker"
### Overview
Develop and implement a time tracker to provide users a way to gauge their time with the organization

### Action Items

[2020-06-09 03:59] switchzer0 opened #193 "Proposed Feature: Onboarding Select Social Issue"
**Purpose:** to allow users (e.g., those without a particular skill) to self-categorize around interest or subject matter expertise
**Description:** a field in onboarding/matching/user profile that lets them select (or unstructured data string) an interest area e.g., environment, criminal justice reform
**Proposed Iteration:** second iteration
**Notes:** NA

[2020-06-09 16:49] shiningjustice commented on #174
**Progress**: Pivoted from adding as collaborator of repo to adding to team (per the current Github team structure (e.g., `vrms-team` > `vrms-managers` > `vrms-admins`)

**Availability**: Relatively free this week

[2020-06-12 00:12] #162 closed

[2020-06-12 01:01] sarL3y commented on #193
@switchzer0

This feature currently exists for returning users as the question they are required to answer before checking in (if they haven't already answered it), **but** we temporarily removed it to expedite the returning user check-in process and alleviate the multiple button-click process per user feedback.

We could move this to the live iteration of the new user check-in form.

My question

[2020-06-12 03:57] switchzer0 commented on #193
offline discussion with @rachelwhaley was that it would allow subject matter experts and volunteers without skills but who are passionate about certain causes to ID themselves, and aid in matching in later iterations.

Not important for MVP, just didn't want it to get lost

[2020-06-16 00:56] sarL3y commented on #146
On hold for sprint deadline. Will resume after the 21st unless the other work is completed sooner.

[2020-06-16 02:13] switchzer0 commented on #192
functionality recommendation: think it would be cool for people to get asked 1x/week when they check in to meetings to estimate how much solo time they spent on the org. could validate by highlighting people who estimate 1 or 2 SD above/below mean by project/brigade/etc. to project lead to follow up for accountability

[2020-06-23 01:21] sarL3y commented on #98
Progress: Requirements to complete: Attendee list needs to display checked-in users that aren't yet on the roster at the top of the list. Roster list needs to properly display access status. Add input form.

[2020-06-23 01:23] sarL3y commented on #125
Progress: Requirements: Move credentials into environment variables. Receive dynamic project info in query (currently hard-coded).

[2020-06-23 01:25] sarL3y commented on #174
Progress: Requirements: Move credentials into environment variables. Receive dynamic project info in query (currently hard-coded).

[2020-06-25 03:19] patrickgus opened #210 "AddToRoster component"
### Overview
A project leader should be able to add a team member to the roster by their email address.

### Action Items
- [x] develop component

- [x] wire up to the back end

- [x] add function that checks if the user is already on the roster

[2020-06-28 19:20] clockwerkz commented on #191
I currently have Auth0 set up on the client side, I'm currently working on making an API call to a protected test route on the back end that uses Auth0 authentication/verification.
Currently, I'm using my own Auth0 account for the registration of the service; we'll need to set up a new or use an existing HackForLA account.

[2020-06-30 02:20] ExperimentsInHonesty commented on #124
@rachelwhaley
1. Progress - partial ready
2. Blockers - needs time with Matt
3. Availability - time this week
4. ETA - a couple of hours after blocker resolved.

[2020-06-30 02:27] ExperimentsInHonesty commented on #159
@rachelwhaley
1. Progress - has speed up the process a bit
2. Blocks - having difficulty getting the google api for sheets working to combine the rosters, could use help
3. Availability - have time, just blocked
4. ETA - can do it manually within a day (45 min of processing time)

New member Nick is going to take a look.

[2020-06-30 02:32] Jonathanko52 commented on #45
Requires Zoom Link information to be somewhere in databases, probably somewhere in the project model.

[2020-06-30 02:33] ExperimentsInHonesty commented on #210
@patrickgus
1. Progress - finished will be merged into master
2. Blocks - none
3. Availability - n/a
4. ETA- n/a

[2020-06-30 02:33] Jonathanko52 commented on #125
Progress: Credentials moved to environment.
Blocks: PR needs to be merged.
ETA: ?

[2020-06-30 02:35] Jonathanko52 commented on #173
Progress: Minimal
Blocks: Need the event/project name to be included in user sign ins, within the database model.
Availability:24/7
ETA:6/29

[2020-07-01 06:41] nickbeaird commented on #159
I think that I am starting to get a handle on what I am looking at here now. I see that @rachelwhaley created a document, which is great. I am not yet able to see it. I guess my first question would be will this data be used in Google Sheets continually, or is this a one time migration? Well regardless, feel free to ping me Rachel and I can take a look as well.

[2020-07-02 05:49] OlgaBilogurova opened #213 "Implement a new way how to calculate displaying stats on the admin dashboard"
### Overview
A lot of the calculations are broken because of moving from 3 events per week to 15.

### Action Items
1. Figure out the correct way of calculating stats
2. Implement calculations
3. Cover new business logic with tests

### Resources/Instructions
Not available

[2020-07-02 05:51] OlgaBilogurova commented on #69
This task is blocked by #213

[2020-07-02 15:36] patrickgus commented on #210
Need to add function that checks if the user is already on the roster

[2020-07-07 02:11] ExperimentsInHonesty commented on #125
update from @Jonathanko52
1. Progress: pretty much done except for blocker
2. Blockers: Need to receive email address from backend (@sarL3y ??? or @rachelwhaley ???)
0
3. Availability: pretty much free
4. ETA: unknown due to blocker

[2020-07-07 02:16] ExperimentsInHonesty commented on #210
1. Progress: One last part: Need to add function that checks if the user is already on the roster
2. Blockers : None
3. Availability: Everyday after 3.
4. ETA: mid week

[2020-07-07 02:18] ExperimentsInHonesty commented on #125
@patrickgus will help @Jonathanko52 resolve blocker above.

[2020-07-07 02:22] ExperimentsInHonesty commented on #213
1. Progress: identified information missing
2. Blocks: need to talk to @sarL3y to understand which properties will help change the event length, @Jonathanko52 will fix undefined fields.
3. Availability:  between 10-5 minus interviews
4. ETA: unknown because of blockers

[2020-07-07 02:29] ExperimentsInHonesty commented on #159
1. Progress: Script done, just finishing
2. Blockers: none
3. Availability: evenings only
4. ETA: Thursday

[2020-07-07 02:33] ExperimentsInHonesty commented on #124
@rachelwhaley
1. Progress - partial ready
2. Blockers - needs @sarL3y to make @rachelwhaley @ExperimentsInHonesty have admin access to Mongo DB
3. Availability - time this week
4. ETA - a couple of hours after blocker resolved.

[2020-07-07 02:39] ExperimentsInHonesty commented on #98
@sarL3y Can you provide the necessary info to hand this off to another developer?  or will you be taking this ticket?  @jeremyhilado has volunteered to work on this

[2020-07-07 02:41] ExperimentsInHonesty commented on #174
@sarL3y It looks like there is a branch for this..  Can this be handed off to another developer.  Possibly @jeremyhilado

[2020-07-07 02:51] ExperimentsInHonesty opened #214 "Put Zoom link into the data model and adding to db"
### Overview
We need zoom info in the event and project models

### Action Items

- [x] Add to model documentation
- [x] Add to code
- [ ] Add to DB
- [ ] Setup routes

[2020-07-07 03:00] ExperimentsInHonesty opened #215 "Search for experience tech lead"
### Overview
We need some advice, experience and help

### Action Items
Identify the skills/experience you want them to have.

[2020-07-07 03:10] rachelwhaley opened #216 "Document MongoDB Access"
### Overview
Document access to github for the team

### Action Items
Need to document:
- [ ] How to get a user in our mongo instance
- [ ] How to set up test space for testing

### Resources/Instructions
Add this documentation to the wiki

[2020-07-07 03:13] patrickgus commented on #125
Blocker is due to dummy data in db so @rachelwhaley can help resolve it when she has admin access.

[2020-07-07 03:17] patrickgus commented on #215
Team lead should have extensive proficiency in React, Node, and MongoDB

[2020-07-07 03:20] patrickgus commented on #215
Experience working with, building, and documenting APIs

[2020-07-07 03:32] Rankazze commented on #215
Advanced skill level in breaking down work tasks into issues that are workable chunks.  Taking into account the current skill level & variability of availability of our volunteer dev team when crafting the issues.

[2020-07-07 03:35] Rankazze commented on #215
Passionate about helping the next crop of developers gain the competence and confidence to ship valued quality working code.

[2020-07-07 03:36] Rankazze commented on #215
An understanding of the Agile Mindset and how to manage up within a dynamic operating environment.

[2020-07-07 20:41] ExperimentsInHonesty commented on #173
@rachelwhaley can you look at this issue and let me know if adding this to the model is your purview or some one else's.

[2020-07-09 05:51] OlgaBilogurova commented on #215
- Leadership and mentorship - helping other developers, sharing technical knowledge, delegating responsibilities
- Software Architecture - designing application structure and API, providing technical solutions for complicated features
- Maintaining codebase quality - introducing clean code best practices, doing code review, approving pull requests

[2020-07-09 19:15] sarL3y commented on #174
@ExperimentsInHonesty This can be handed off. The development branch has the current progress. The credentials and API calls have been hard coded to a test organization that Phoebe created. Will need to grab dynamic github data from projects and the proper credentials from the HFLA org account.

[2020-07-09 19:18] sarL3y commented on #214
@ExperimentsInHonesty The zoom link is included in the project model under the "videoConferenceLink" field. They are most likely not accurate because I populated the fields with whichever link was most recent in their project's Slack channel.

The event model has a "project" field that populates itself with the corresponding project, so the link can be pulled using an event or project API call.

[2020-07-09 19:27] sarL3y commented on #216
@ExperimentsInHonesty and @rachelwhaley have been given admin-level access.

The server root env file that the developers are using contains credentials to access the "testdb" database in the MongoDB dashboard. This has been the persistent testing environment, but it does not reflect the "live" data. The development version in staging on Heroku also uses these test credentials (environment variabl

[2020-07-09 19:31] sarL3y commented on #124
Admin access granted

[2020-07-10 14:34] patrickgus commented on #210
1. Progress: Almost done. Just need to test to see if it works.
2. Blockers: Need projects array in user objects to be populated
3. Availability: Weekdays after 3pm
4. ETA: n/a

[2020-07-10 18:04] sarL3y commented on #210
@patrickgus @rachelwhaley My understanding from our data expert was that it wouldn't be wise to have an array of projects on the user object directly while also having a separate roster collection. Every time we add someone to a roster (projectTeamMember collection), we would also need to update the array on the user object, which creates a duplication in the database that now must be maintained a

[2020-07-12 23:30] ExperimentsInHonesty commented on #45
Blocker is there is no endpoint for the db to get info from the event model and possibly the event model might

[2020-07-14 01:40] nickbeaird commented on #136
This is not done yet, although it is small. I spent my time mostly trying to get through the authentication issues. Matt got me unblocked towards the end, but I had already spent my time available this week for that. Can follow up here soon.

[2020-07-14 02:09] Jonathanko52 commented on #153
Progress: None
Blocks: None
Availability: 24/7
ETA: 7/20

[2020-07-14 02:09] rachelwhaley commented on #159
Progress: no update from last week. Will address this week.

[2020-07-14 02:17] ExperimentsInHonesty commented on #124
1. Progress: none this week
2. blocks - no avail
3. availability - some this week
4. ETA, a couple of hours

[2020-07-14 02:21] ExperimentsInHonesty commented on #173
@Rankazze please identify requirements and then review with Adam and I so that we can add them if applicable to the mock ups.

[2020-07-14 02:24] Rankazze commented on #173
Here is the Mock Report

https://drive.google.com/file/d/1fjFvNQkZ2oRW_5P1JkmitspHYJgiCHml/view?usp=sharing

[2020-07-14 02:24] ExperimentsInHonesty commented on #173
we will let Rachel know when there are attributes to add.

[2020-07-14 02:29] ExperimentsInHonesty commented on #125
@Jonathanko52 will provide more detail about blocker.

[2020-07-14 02:30] Jonathanko52 commented on #125
Progress: Need to find exact problem with issue: Whether front end call needs to be changed, router changed, env changed
Blocks: None
Availability: 24/7
ETA:  7/20

[2020-07-14 03:09] ExperimentsInHonesty commented on #173
Here is the google docs version revised
https://docs.google.com/document/d/1fjFvNQkZ2oRW_5P1JkmitspHYJgiCHml/edit

[2020-07-14 03:11] ExperimentsInHonesty commented on #173
see https://github.com/hackforla/VRMS/issues/69

[2020-07-14 03:11] ExperimentsInHonesty commented on #173
@ExperimentsInHonesty will add spreadsheet to issue

[2020-07-14 03:13] ExperimentsInHonesty commented on #215
have potential candidates contact Bonnie@hackforla.org

[2020-07-15 22:07] ExperimentsInHonesty opened #218 "Update Color Palette options for multiple orgs and user preferences"
### Overview
We need a Color palette and a Style guide both for Product artifacts and a more comprehensive one for Developers.

### Action Items
- [ ] We need to take the current Palette and identify other complimentary colors asap.  This item is holding up some development work to re-visualize the Stats.  See resources for current pallet.  We need a minimum of 5 colors.  We can always change this

[2020-07-15 22:08] ExperimentsInHonesty commented on #213
@OlgaBilogurova here are the 5 colors you will need - see issue https://github.com/hackforla/VRMS/issues/218

[2020-07-15 22:16] OlgaBilogurova commented on #213
Implemented new calculations for the Admin Dashboard.
Developed 2 Charts for "all event types" and for "hacknight only" property with displaying locations.

Before:
1. https://monosnap.com/file/bGaSO4i4PgyFepULm8jc7fBMD7VuIS
2. https://monosnap.com/file/qbOUMHR0QZuoxCNzcT2TUo7oelDgI3
3. https://monosnap.com/file/zh96gCmkiPufBKXywUqC61teRFbxOS
4. https://monosnap.com/file/CFxhGrlT07TJNcphVjRmlyeFS6

[2020-07-15 22:24] OlgaBilogurova commented on #213
Great, thanks. I'll update charts using new colors.

[2020-07-15 22:54] OlgaBilogurova opened #219 "Fix broken UI on the admin dashboard"
### Overview

The admin dashboard longer than a background because of charts. Exist redundant horizontal & vertical scrollbars, scrolled background, margin just for top.

https://monosnap.com/file/zDsUkKEpTlY2KGfANRbEjD0zABOST8

[2020-07-16 23:11] OlgaBilogurova commented on #213
Updated charts using new colors.

Before:
https://monosnap.com/file/iUv39vM38p8oAb3r0Yc3pc7cEWpek5

After:
https://monosnap.com/file/Bd1pXHUp0RjnKfjRbS9CeJfDhveIxb
https://monosnap.com/file/OySZFCINKDQbM7WGoAZobJ0eisDUUQ

Pull request: https://github.com/hackforla/VRMS/pull/217

[2020-07-17 21:35] OlgaBilogurova commented on #219
Progress: Done.

Before:
[click](https://monosnap.com/file/kS4iVlDwXdZifL6Qsnr3GOec0Ca5US)

After:
[click](https://monosnap.com/file/onoi3UC4uh9oXYDAb2XmDCqwNy4XLA)
[click ](https://monosnap.com/file/qtm1dQ3n9dQ4yhwEhyNd43i1VNFckM)

Pull request: https://github.com/hackforla/VRMS/pull/220

[2020-07-18 03:11] Jonathanko52 commented on #125
Progress: roster fetch call is being made with a hard-coded userId to a dummy group in the database
Blocks: Need to know what userId to be using instead, what group I SHOULD be showing on the roster board. Are we sticking to the dummy group for demo purposes? The actual VRMS group? Or jumping to using the project leader's ID when they sign in to the dashboard?
Availability: 24/7
ETA: ?

[2020-07-18 23:28] rachelwhaley commented on #125
@Jonathanko52 I just uploaded a full team of users and project team members to the testdb in Mongo (for the TDM project, which I also added to the testdb). All the object IDs are in there so if you query for them you should get a list of 11 people with actual data (I edited all their emails to end in ".demo" so we can easily see that these are the tester records). So as long as we're demo'ing as o

[2020-07-18 23:32] rachelwhaley commented on #124
1. Progress: Completed test load of 11 users/project team members for the TDM project, for demo purposes.
2. Blocks:  Waiting for feedback from devs - before I do a real load, want to make sure the data in the testdb is working as expected.
3. Availability: weekend
4. ETA: once the test load looks good, will probably take a few hours to clean data to do the full real load, connect to existing user

[2020-07-18 23:33] rachelwhaley commented on #159
1. Progress: completed python script that combines rosters from all Google docs into a single doc. Can post it to the repo if anyone else needs to use it.
Blockers, availability, ETA: See #124

[2020-07-20 23:39] patrickgus commented on #210
1. Progress: Need to add condition that checks if user is already on the roster
2. Blockers: Need help to query projectTeamMember and user collection in the backend
3. Availability: Weekdays after 3pm
4. ETA: n/a

[2020-07-21 02:13] ExperimentsInHonesty commented on #173
1. Progress - none
2. Blocks : forgot about it
3. Availability: good
4. ETA - Monday next week.

[2020-07-21 02:34] ExperimentsInHonesty commented on #124
Let's go live with HomeUniteUs and HfLA website team.  - @ExperimentsInHonesty will clean the roster.

[2020-07-21 02:36] Jonathanko52 commented on #125
Can now give access to roster members with google drive.

[2020-07-21 02:37] ExperimentsInHonesty commented on #210
@alex-anakin will help after reviewing code base.

[2020-07-21 02:55] ExperimentsInHonesty commented on #215
@alex-anakin welcome!!!

[2020-07-21 02:59] ExperimentsInHonesty commented on #192
@patrickgus wire this up to personal dashboard /profile

[2020-07-21 03:07] ExperimentsInHonesty commented on #179
Data Model : https://github.com/hackforla/VRMS/tree/development/models

[2020-07-21 03:13] ExperimentsInHonesty commented on #177
@switchzer0 will update dependency with related issues

[2020-07-21 19:32] ExperimentsInHonesty opened #1461 "VRMS Competitive Analysis"
### Overview
The VRMS team needs a competitive analysis Matrix so that they can plan marketing, future features, etc.

### Action Items
- [ ] Review the Template
- [ ] Add in all the companies identified from the doc
- [ ] Gather details through Googling.

### Time Estimate
- [ ] Update time duration required to do one

### Due Date
- August 1st, 2020

### Resources/Instructions
[VRMS Competitive

[2020-07-22 20:26] OlgaBilogurova opened #223 "Define global styles rules for starting to implement a new UI"
### Overview
The goal is organizing scss code and making it easy to share common design rules through the project. It's important to do from the beginning when starting to implement a new UI. This will save a lot of time in developing the next components with a new UI.

### Action Items
- Create variables, nested rules, mixins
- Use all superpowers of scss preprocessor to help optimize and organiz

[2020-07-23 21:16] Jonathanko52 commented on #153
Progress: Completed. Waiting for pull request review.

[2020-07-27 04:03] alex-anakin opened #224 "Create a test DB instance with an actual data set"
### Overview
Developers need to have a test DB with data that is close to real production DB except for personal data.
To avoid any issues it is better to prepare the second test DB and start it in parallel with existing test DB. Then completely switch to the second DB and shut down the first instance.
Also, it is a good chance to try a cloud MongoDB instance.

### Action Items

- [ ] Create Mongo

[2020-07-27 20:20] patrickgus commented on #210
1. Progress: Code is finished but it needs to be tested
2. Blockers: Need data on project leader dashboard to test if it works
3. Availability: Weekdays after 3pm
4. ETA: n/a

[2020-07-27 23:03] patrickgus commented on #192
1. Progress: Getting started
2. Blockers: Need to work with @rachelwhaley to create data model for activity logs
3. Availability: Weekdays after 3pm
4. ETA: n/a

[2020-07-27 23:29] rachelwhaley commented on #224
@alex-anakin I don't have a "HackForLA work email", so if someone else (@ExperimentsInHonesty ?) could do the initial set up the Mongo account, that would be great.

[2020-07-28 00:02] OlgaBilogurova commented on #223
Progress: None
Blockers: Need to have a style guide from @cicyhou
Availability: Weekdays 10 am - 5 pm
ETA: n/a

[2020-07-28 00:06] OlgaBilogurova commented on #210
Sorry, closed accidentally

[2020-07-28 02:22] ExperimentsInHonesty commented on #124
1. Progress: None
2. Blocks: time
3. Availability : Monday night after meeting
4. ETA: By end of monday night.

[2020-07-28 02:24] rachelwhaley commented on #214
1. In progress
2. No blockers yet, will probably need assistance when I get to routes
3. Weekends
4. ETA = this week

[2020-07-28 02:27] ExperimentsInHonesty commented on #173
Progress - none
Blocks : forgot about it
Availability: good
ETA - Monday next week.

[2020-07-28 02:30] switchzer0 opened #225 "Update product requirements doc"
### Overview
Translate features from design sprint into updated version of PRD

### Action Items
- [x] write features into PRD

### Blockers
- #226 Completing feature list review with Bonnie
- #255 rephasing MVP + iterations
### Resources
- [Mockups](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=23593%3A2779)
- [Feature](https://docs.google.com/spreadsheets/d/1VCuDRxwcLsT3q1

[2020-07-28 02:30] Jonathanko52 commented on #190
Progress: None
Blocks: Need Zoom link to be in database somewhere. Need to know how to find it
Availability: 24/7
ETA: ?

[2020-07-28 02:33] alex-anakin commented on #216
Need to have protected document for credentials @ExperimentsInHonesty

[2020-07-28 02:34] switchzer0 opened #226 "Prioritize MVP features for inclusion/postponement"
### Overview
Finalize decisions on features for MVP based on mockups

### Action Items
- [x] translate all features from mockups
- [x] review all features

### Blockers
scheduling for bonnie/adam

### Resources
- [Mockups](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=23593%3A2779)
- [Feature List](https://docs.google.com/spreadsheets/d/1VCuDRxwcLsT3q1NWtfYevg0TDcfpMhtZQpTRk

[2020-07-28 02:35] alex-anakin commented on #223
https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=23593%3A2779

[2020-07-28 02:50] switchzer0 opened #227 "Create style guide"
Create universal style guide to inform frontend developers. Ask @OlgaBilogurova and @alex-anakin for more details on requirements.

[2020-07-28 02:58] switchzer0 opened #228 "Create milestones and labels"
### Overview
Phase MVP requirement tickets into milestones

### Action Items
- [x] review all features
- [x] determine milestone periods
- [x] create milestones in GitHub
- [x] review and clean up existing labels in GitHub
- [x] create new labels in GitHub
- [x] apply to all tickets

### Blockers
#255 Revised Roadmap/MVP phasing
#225 Update PRD

### Resources
- [Feature List](https://docs.google.c

[2020-07-28 03:37] alex-anakin commented on #174
The existing solution should be reviewed @alex-anakin

[2020-07-28 03:43] #215 closed

[2020-07-28 05:21] alex-anakin opened #229 "Update environment variables in README.md"
### Overview
The project doesn't start locally because of outdated environment variables values.

### Action Items
Update environment variables in README.md with actual values.

[2020-07-28 23:47] Jonathanko52 opened #231 "Split Front/Back End files"
Front end(client) file is nested in back end of the project. Split it into two files.

### Action Items
-See if it's best practice to separate front end and back end into different repositories.
-Move client file to root
-Fix and break/calls that come from that
     -Make sure back end routes are serving right files.
     -Front end still calling correct routes
     -create one package.json(?)

[2020-07-29 19:06] switchzer0 commented on #228
### progress
finished initial triage of feature list w/ bonnie, ready to finalize w/ Alex (1–2hr meeting needed to discuss)

### blockers
scheduling

### availability
Adam: weekend and beyond
Bonnie: ?

[2020-07-29 19:09] cicyhou commented on #227
The style guide has been created and shared with Olga

[2020-07-29 19:09] #227 closed

[2020-07-29 20:45] OlgaBilogurova commented on #223
@cicyhou created the style guide #227 and shared it with me.

[2020-07-30 00:01] ExperimentsInHonesty opened #232 "Add 100 Automations project to the project database"
### Overview
The meeting times on the hackforla website are driven by an VRMS api.  So incoming requests for changes to that page, have to be sent here to be updated manually.  We need to add this new project the output.

### Action Items
- [x] Add meeting time:
   - [x] Wednesdays: 4:30-5:30 Management Meeting
   - [x] Satudays 2:00pm-4:00pm Team Meeting

### Resources/Instructions
[100 automatio

[2020-07-31 06:53] alex-anakin opened #233 "Fix development branch"
### Overview
The "development" branch is broken. It doesn't run locally by `npm run dev-start`

### Action Items
* Investigate the fail reason
* Apply a fix

[2020-08-01 16:43] ExperimentsInHonesty opened #237 "Add Civic Opportunity project to the project database"
### Overview
The meeting times on the hackforla website are driven by an VRMS api.  So incoming requests for changes to that page, have to be sent here to be updated manually.  We need to add this new project the output.

### Action Items
- [x] Add meeting time:
   - [x] Sundays 9:00am-10:00am Team Meeting
   - [x] Tuesday 12:00pm-1:00pm Team Meeting

### Resources/Instructions
[Civic Opportunity

[2020-08-03 20:57] OlgaBilogurova commented on #223
Progress: in progress
Blocks: none
Availability: weekdays 10am - 5pm
ETA: till next Monday - 8/10

[2020-08-03 22:02] patrickgus commented on #210
Progress: Done
Pull Request: #238

[2020-08-03 22:50] patrickgus commented on #192
1. Progress: Did work on the front end. Added section to profile page where activity log will be rendered.
2. Blockers: Need to get activity log data model from Rachel @rachelwhaley to hook up back end.
3. Availability: Weekdays after 3pm
4. ETA: 2 weeks

[2020-08-04 01:21] Jonathanko52 commented on #146
Progress: Slack bot messaging test Slack channel
Next Step: Need to know where to find event time/zoom link in database.
ETA:?
Availability: 24/7

[2020-08-04 01:54] switchzer0 commented on #228
### progress
reviewed feature list with Alex. next will integrate features into updated PRD

### blockers
Adam's schedule

### availability
Adam: after tuesday of this week

### ETA
next week's meeting or the following one

[2020-08-04 01:56] switchzer0 commented on #226
finished review with Alex. Want to confirm we're good to close this at the meeting today. Next steps on other tickets:
- update PRD
- develop milestones

[2020-08-04 01:57] rachelwhaley commented on #214
1. Model.js files for Event and recurringEvent have been updated.
2. Blockers: not sure what is needed for route and adding to db. Do we need to add test data with links?
3. Wednesday evening
4. ?

[2020-08-04 01:57] switchzer0 commented on #225
dependency on feature prioritization list completed; ready to address this after tuesday of this week once I'm available.

[2020-08-04 02:17] switchzer0 opened #240 "revise style guide"
### overview
initial style guide should be revisited, updated, and fleshed out with more detail once designs for MVP are complete

[2020-08-04 02:19] alex-anakin commented on #191
@alex-anakin will ping Carlos

[2020-08-04 02:19] switchzer0 commented on #218
@cicyhou FYI

[2020-08-04 02:25] alex-anakin commented on #136
@alex-anakin will ping Nick

[2020-08-04 02:29] Jonathanko52 commented on #231
Progess: Researched best practices. Reorganizing React files.
Blockers: None
Availability: 24/7
ETA: Next week.

[2020-08-04 02:29] alex-anakin commented on #192
@patrickgus please take a look at https://github.com/hackforla/VRMS/pull/239

[2020-08-04 02:35] alex-anakin commented on #214
@rachelwhaley let's skip route and add the field to DB. Please use fake data for links.

[2020-08-04 02:37] #226 closed

[2020-08-04 02:47] alex-anakin commented on #98
@alex-anakin will review the task progress

[2020-08-04 02:51] alex-anakin commented on #125
#224 will help with this

[2020-08-04 02:55] alex-anakin commented on #2
@alex-anakin check the #67 out

[2020-08-04 02:56] alex-anakin commented on #1
@alex-anakin check #67 out

[2020-08-04 03:02] alex-anakin commented on #70
@alex-anakin check the project codebase out for any mentions of implementetion

[2020-08-04 03:09] alex-anakin commented on #174
@alex-anakin
1. check the `project` data structure
2. check the `project` API

[2020-08-04 05:52] alex-anakin opened #241 "Turn on autocomplete or auto-fill for email field on check-in view"
### Overview
If a user checked in once, he should be able to click on the field and see a prompt with previously used email.
![VRMS check-in](https://user-images.githubusercontent.com/11644789/89257392-e59bc800-d5da-11ea-87f6-0df7cefd0d41.png)

### Resources/Instructions
Prefer a solution that uses a browser auto-fill feature.

[2020-08-04 06:46] alex-anakin opened #242 "One button for event check-in on the home page"
### Overview
![VRMS check-in buttons](https://user-images.githubusercontent.com/11644789/89260634-88574500-d5e1-11ea-9691-76e1da948dba.png)

Any user should be able to select an event in the drop-down list (1) then enter an email into the input (2) and then click one button "Check-in". If the user performs check-in the first time then the personal info page should be shown.

### Instructions
1. Re

[2020-08-05 16:19] dae-hyun-kim commented on #241
Progress: Awaiting Pull Request Review. (https://github.com/hackforla/VRMS/pull/243)

![Screen Shot 2020-08-05 at 9 16 50 AM](https://user-images.githubusercontent.com/51861742/89437680-bc735880-d6fc-11ea-80aa-5524a75e18bf.png)

[2020-08-05 19:11] ExperimentsInHonesty commented on #241
This is the original comment from Customer that prompted it

![Screen Shot 2020-08-05 at 12 11 10 PM](https://user-images.githubusercontent.com/37763229/89453935-cd2fc880-d714-11ea-80a6-12a11b9e8e46.png)

[2020-08-06 01:52] patrickgus opened #244 "Hook up user profile page to the database"
### Overview
User profile page currently displays temporary data #110
We need to fetch data from database and display it.

### Action Items
- [ ] Hook up to database

[2020-08-06 02:58] #213 closed

[2020-08-06 05:17] #219 closed

[2020-08-06 05:51] alex-anakin opened #247 "Secure the project environment variables"
### Overview
Move variable values from README to the google doc that is accessible by team members only.

[2020-08-06 06:30] #247 closed

[2020-08-10 06:42] alex-anakin opened #251 "Fix getting a 400 Bad Request from the `/checkins/findEvent/:id` endpoint."
### Overview
For some `eventId` values this API endpoint fails. This happens when `userId` value is undefined for any of found check-ins.

[2020-08-10 22:13] patrickgus commented on #192
1. Progress: Did some more work on the front end.
2. Blockers: Waiting on pull request #239 to be merged to hook up back end.
3. Availability: Weekdays after 3pm
4. ETA: 2 weeks

[2020-08-10 22:15] patrickgus commented on #210
Progress: Done. Resolved all requested changes and fixed bug.
Pull request: #238

[2020-08-10 23:25] alex-anakin commented on #136
Nick is unable to log in the Github. He asked me to add his update:

1. Progress: same as the last comment (see above).
2. Blockers: none at this time
3. Availability: Thursday - Saturday
4. ETA: next team check-in

[2020-08-11 01:05] OlgaBilogurova commented on #223
Progress:
New files were created inside the `sass `folder

Files:
_variables.scss (this file store any variables (based on the style guide) that will be used throughout styles)
_main.scss (this file store main styles for all app)
_elements.scss (this file store any generic styles for elements in the app)
_mixins.scss (this file store any mixins (style snippets) that will be used over and over)
_ke

[2020-08-11 01:55] Jonathanko52 commented on #190
Progress: In Progress
Blocks: None
Availability: 24/7
ETA: 8/17

[2020-08-11 01:59] Jonathanko52 commented on #146
Progress: Successfully pulling project slack channel data from database.
Next Step: Setting automatic slack message scheduling.
Blocks: Requires credentials/approval for app to access Hack for LA slack. May be advisable to create test group before this.
ETA: 8/17
Availability:24/7

[2020-08-11 02:07] #251 closed

[2020-08-11 02:08] switchzer0 commented on #225
### progress
wrote up onboarding and main dashboard

### blockers
non

### availability
flex most of the week

### eta
by next meeting

[2020-08-11 02:09] #233 closed

[2020-08-11 02:16] clockwerkz commented on #191
Progress: I have Auth0 working on the client side.
Next Step: Connecting the back end to authenticate/validate the user's Auth0 token.
Blocks: No blocks, but I will need to switch out my personal Auth0 keys to a HackLA account.
ETA: 08/17/2020
Availability: Weekdays 6 PM - 10 PM

[2020-08-11 02:38] patrickgus commented on #244
1. Progress: Forgot about. Need to finish before continuing with #192
2. Blockers: None
3. Availability: Weekdays after 3pm
4. ETA: 1-2 days

[2020-08-11 02:58] alex-anakin commented on #154
Take a look here https://github.com/100Automations/futureautomations/issues/8

[2020-08-11 22:11] switchzer0 commented on #225
### progress
have written up login, onboarding, main dashboard, current meeting notification, and select miscellaneous items. Pausing to review phasing next steps
### blockers
need to decide if phasing MVP release down further
### availability
flex most of the week
### eta
+1 more week after phasing decision is made

[2020-08-12 06:50] clockwerkz commented on #191
@alex-anakin  and I discussed this task today; it's a fairly large and complex task to implement at the moment, and there are currently other sections of the project that would be better to focus on atm. So this is going on backlog temporarily, and will be more than likely broken up into smaller incremental tasks in the future.

[2020-08-12 18:12] OlgaBilogurova opened #254 "Create a "UI Development Guideline" inside the project Wiki"
### Overview
Confirmed by @alex-anakin that we need to have Development Guidelines for the project.

Update the project wiki with the new "Development Guidelines" section.
Create a "UI Development Guideline" and write documentation for it.

### Action Items

- [x] Create a "Development Guidelines" page
- [x] Update the wiki Home page by adding "Development Guidelines" section
- [x] Create a "UI De

[2020-08-13 04:40] ExperimentsInHonesty commented on #173
@OlgaBilogurova  Can you look at what I have put into figma for the admin section and let me know what questions you might have?

[2020-08-13 18:31] OlgaBilogurova commented on #173
@ExperimentsInHonesty thanks for providing info and mockups for stats.

As I understand we need to have 2 types of stats:

- Stats by Location- Volunteer Hours

  should include:
            donut charts (current stats)
            table stats with filtering by date (need to develop)

- Stats by Project- Volunteer Hours (need to develop)

I have questions regarding Stats by Project- Volunteer Hour

[2020-08-14 02:41] ye-susan commented on #154
_Copied from 100Automations issue 8:_

Goal: Replace greet.bot with a new slack bot that can pull from csv file (Google docs) and markdown files: e.g., When to send (days they have been a member), order, active(true/false), message file name
e.g.

[code]

when script finishes running it should report to whichever handles are in a csv file
e.g. @ bonnie, @ leader2, @ leader3, etc. as well as adding

[2020-08-14 18:00] ExperimentsInHonesty commented on #173
@OlgaBilogurova Does this answer your questions:
![Screen Shot 2020-08-14 at 10 59 36 AM](https://user-images.githubusercontent.com/37763229/90279068-52a22f80-de1d-11ea-9861-7c3f740937e8.png)

[2020-08-14 18:15] ExperimentsInHonesty commented on #173
![Screen Shot 2020-08-14 at 11 15 14 AM](https://user-images.githubusercontent.com/37763229/90280261-79616580-de1f-11ea-9efb-d86b7d7404b3.png)

[2020-08-14 19:26] OlgaBilogurova commented on #173
It's clear, now. I will work on it.
Thanks, @ExperimentsInHonesty

[2020-08-15 01:54] OlgaBilogurova commented on #254
@alex-anakin please review [UI-Development-Guideline](https://github.com/hackforla/VRMS/wiki/UI-Development-Guideline)

[2020-08-15 02:06] OlgaBilogurova commented on #223
Added new directory 'sass-new-ui'. All files regarding new UI moved into this folder. Added fonts, normalize, and local reset.
Everything described at [UI-Development-Guideline](https://github.com/hackforla/VRMS/wiki/UI-Development-Guideline).
@alex-anakin please, review the pull request.

[2020-08-17 00:54] nickbeaird commented on #136
I am adding this for tomorrow's meetup.

1. Progress: I did some research into the functionality. I will have to clarify what the scope is before moving forward.
2. Blockers: Slack changed it's API allowing 3rd party applications to administrate and manage users. The new scope makes it much more challenging to manage users. In other words, they were losing money when people were adding users to Sl

[2020-08-17 19:53] dae-hyun-kim commented on #242
1. Progress - Created new email input field and removed one check-in button. Trying to figure out how to utilize checkInForm component functions. (May need to rewrite code completely)
2. Blockers - May need to discuss with other devs if some of the code in checkInForm component is necessary
3. Availability - After 6pm M-F
4. ETA - Possibly 5/24

[2020-08-17 21:22] OlgaBilogurova commented on #254
Progress: Done
Blocks: Waiting for review
Availability: Weekdays 10am - 5pm
ETA: -

[2020-08-17 21:25] OlgaBilogurova commented on #223
Progress: Done.
Blocks: Pull request #253 is waiting for code review
Availability: Weekdays 10 am - 5 pm
ETA: -

[2020-08-17 21:31] switchzer0 opened #255 "revise MVP/iterations phasing"
### Overview
Break MVP down into smaller phases/iterations to speed up time to market, without delaying or degrading UX.

### Action Items
- [x] Receive approval to design phased-release approach to MVP development
- [x] Interview Bonnie to determine largest time-sinks
- [x] Prioritize features that address time sinks conditional on feature-independent phasing (i.e. cannot build a dependency-featu

[2020-08-17 21:54] patrickgus commented on #192
1. Progress: None
2. Blockers: #244
3. Availability: Weekdays after 3pm
4. ETA: N/A

[2020-08-17 21:59] patrickgus commented on #244
1. Progress: Hooked up back end to load user data and working on getting data stored in context
2. Blockers: Need to find a way to store the user's ID somewhere so that they only see their data
3. Availability: Weekdays after 3pm
4. ETA: 1-2 days

[2020-08-17 22:18] OlgaBilogurova opened #256 "Develop a report "Stats by Location- Volunteer Hours" in Admin Dashboard"
### Overview
Develop a report as a table with filtering by date to display "Stats by Location- Volunteer Hours" in Admin Dashboard for easiest data comparison. Leave current donut-charts stats. The data will be the same for both reports.

### Action Items

- [x] Create two separate tabs for displaying reports
- [x] Develop a report as a table to display stats
- [x] Add possibility to filtering dat

[2020-08-17 23:02] OlgaBilogurova opened #257 "Develop a new report "Stats by Project- Volunteer Hours" in Admin Dashboard"
### Overview
Develop a new report to display "Stats by Project - Volunteer Hours" in the Admin Dashboard.

### Action Items

- [ ] Develop a report as a table to display stats
- [ ] Create the possibility to filter "Donated Hours" by the week (default)/month/year to date/12 month trailing/lifetime
- [ ] Create a new page that combines different types of reports

### Resources/Instructions
#173

![

[2020-08-17 23:47] ye-susan commented on #154
Progress: Set up Bolt and Glitch (local development not set up yet), and also reading through docs to get more familiar with the slack APIs
Blocks: reading through docs, many many docs
ETA: Hoping I can at least get bot to read user's joined date and send message accordingly by next week
Availability: Weekdays

[2020-08-18 00:00] #223 closed

[2020-08-18 01:56] Jonathanko52 commented on #146
Progress: Ongoing
Next Step: Setting automatic slack message scheduling.
Blocks: Events being pulled from database aren't showing events for the coming wee, making it difficult to test.
ETA: 8/18
Availability:24/7

[2020-08-18 02:08] #210 closed

[2020-08-18 02:33] #173 closed

[2020-08-18 02:34] ExperimentsInHonesty commented on #136
@nickbeaird The way we currently invite people to hackforla's slack is we send them to hackforla.org/slack which redirects to https://hackforla-slack.herokuapp.com/

which uses this code library: https://github.com/emedvedev/slackin-extended

[2020-08-18 02:36] ExperimentsInHonesty commented on #136
The way VRMS will operate in relationship to invitations is that we will check to see if they are already a member of our slack (via their email address).  If they are, we get their slack handle and member ID.  If their email address is not in our slack, then we automatically send them an invite, which they have to accept via email (the same way they accept now).

[2020-08-18 02:41] patrickgus commented on #244
@alex-anakin Need to eventually add a sign-in form in order to store the userId to only load their data when they view their profile

[2020-08-18 02:46] nickbeaird commented on #136
I am posting this for future posterity. Here are some useful links on the topic.

Slack Apps: https://api.slack.com/start/overview#apps
Legacy Tokens: https://api.slack.com/legacy/custom-integrations/legacy-tokens
Enterprise Accounts for User Administration: https://api.slack.com/admins/workspaces
Slack API: https://api.slack.com/web
Conversations API for users already in the Slack Space: https://

[2020-08-18 02:51] nickbeaird commented on #136
Hi @ExperimentsInHonesty,
I will do a little digging into this already. It looks like this application requires a legacy token. That is great if we have one, but that means that Jonathan and I personally cannot make one for our own development or testing. Also, this may be removed entirely here soon. https://api.slack.com/legacy/custom-integrations/legacy-tokens

[2020-08-18 04:29] alex-anakin opened #258 "Prevent check-in of returning user with empty email"
### Overview
Check-in button after choosing "returning user" for check-in should be disabled when email input is empty.

![VRMS check-in bug](https://user-images.githubusercontent.com/11644789/90470132-886e3f00-e0cf-11ea-8a06-4bf4fc8a0b39.png)

### Action Items
Add a simple validation for the email field and disable the button when the field is empty.

[2020-08-18 06:42] clockwerkz commented on #237
Currently, the project model does not have any meeting times in it's schema. So the model needs to be edited with some sort of meeting time property, and ideally it would be one that would be some sort of universal time that can be adjusted to the client's timezone?

[2020-08-19 23:23] OlgaBilogurova opened #260 "Events page was crushed in Admin Dashboard"
### Overview

Need to fix a bug in the admin dashboard.
After clicking on the "events" link, the "events" page was crushed.

Steps to reproduce:

1. Need to have admin access in the test DB
2. Pull the update from development branch
3. Run the app locally
4. Login to the dashboard
5. Click "events" link on the navbar

[Check the video to reproduce a bug](https://monosnap.com/file/8ckesJhbsx6iVmWRT

[2020-08-20 01:41] Jonathanko52 opened #261 "Create Frontend Component Guideline Template"
![Current](https://user-images.githubusercontent.com/30099154/92829514-28df1880-f389-11ea-9a0e-c202885b10f0.png)
![After](https://user-images.githubusercontent.com/30099154/92829521-2a104580-f389-11ea-91dc-0c374ba6c651.png)
![Before](https://user-images.githubusercontent.com/30099154/92829525-2b417280-f389-11ea-8e40-f14c7c4c9ebc.png)

### Overview

    Client folder currently lacks structure. Coll

[2020-08-20 03:29] alex-anakin opened #262 "Add a new event to the recurring events worker"
### Overview
Add a new event to https://github.com/hackforla/VRMS/blob/master/workers/createRecurringEvents.js worker:
* type: HackNights
* day: Tuesday
* time: 6 pm - 8 pm

This a hotfix so a pull request should be created to `master` branch. The deadline is Monday, before 7 pm.

[2020-08-20 22:35] switchzer0 opened #263 "Update Wiki/requirements to match new MVP phasing"
### Overview
Update wiki to match requirements from PRD and phasing/release plan

### Action Items
- [x] write features into Wiki

### Blockers
- #255 rephasing MVP + iterations
### Resources
- [PRD](https://docs.google.com/document/d/15LvzFpLPYjQhpMx58P60onh697ww45fgZm-Sg_FGehw/edit#heading=h.7m2tn7grqy7e)

[2020-08-21 07:01] clockwerkz commented on #262
I wrote up a script that will enter in a recurring event into the database. I'm testing it with a test recurring event set for Friday (08/21/2020). If that works out, I'll mod the script for the new recurring event on Tuesdays. In the meantime, There's some additional info I could include when I create the event, such as:
name, hacknight, eventType, description, and if it's tied to any existing pr

[2020-08-23 21:50] nickbeaird commented on #136
In review to the previous conversations:

Progress:

1. I talked with Jonathan and Susan on how our Slack work might go together. We have a basic plan that we will check in together later when our work is closer.
2. I have a basic working frontend that invites users to a slack workspace. It needs some refactoring and refining.
3. We aim to not use slack plugin described in the description of this

[2020-08-24 21:57] patrickgus commented on #192
1. Progress: None
2. Blockers: #244
3. Availability: Weekdays after 3pm
4. ETA: N/A

[2020-08-24 22:04] patrickgus commented on #244
1. Progress: None
2. Blockers: Getting an error that prevents the app to load on my local machine.
[code]
3. Availability: Weekdays after 3pm
4. ETA: 1-2 days

[2020-08-24 22:22] ye-susan commented on #154
Progress: I haven't made too much progress on the bot itself, mostly getting acquainted with the VRMS repo
Blocks: setting up VRMS correctly and setting up slackbot to run from there
Availability: Weekdays

Some issues/ questions:
- in our demo [user model](https://docs.google.com/spreadsheets/d/1vgXCLpq9ZJpGhLbWt4eH-yNPkX1JYLlnxJj2668bF2Y/edit#gid=33665042) on google drive, we have a 'createdDate

[2020-08-24 23:36] OlgaBilogurova commented on #256
Progress: Progress is minimal because I need to have data from API to work with stats
Blocks: Events and checkins collection in the test DB are not available
Availability: Weekdays
ETA: Week after DB will be restored

[2020-08-25 00:37] dae-hyun-kim commented on #242
1. Progress - None
2. Blockers - Can't access db on dev environment
3. Availability - After 6pm M-F

[2020-08-25 01:25] clockwerkz commented on #262
**Progress** -Pending Complete:  I went ahead and entered in the event into the recurringevent collections. Will close after the cron job runs correctly and creates an event for the meeting on Tues (08/25/2020).
Also found a bug with the events generator, will submit a PR via the development branch.
**Blockers** - None
**Availability** - After 6pm M-F

[2020-08-25 01:27] clockwerkz commented on #237
**Progress** - Reviewing our options to use the recurringevents collection to populate the team meetings page on the website.
**Blockers** - None
**Availability** - Mon-Fri after 6 PM

[2020-08-25 01:29] clockwerkz commented on #232
@NivenPrasad Hey! Nice to meet you. :) Feel free to reach me on Slack. I'm currently evaluating our options on the backend..

[2020-08-25 01:30] clockwerkz commented on #232
**Progress:** Getting started on this task as it closely relates to #237.
**Blockers:** None
**Availability:** Mon-Fri after 6 PM

[2020-08-25 01:49] #229 closed

[2020-08-25 01:49] Jonathanko52 commented on #190
Progress: In Progress
Blocks: Database issues
Availability: 24/7
ETA: 8/24

[2020-08-25 01:49] Jonathanko52 commented on #146
Progress: In Progress
Blocks: Database issues
Availability: 24/7
ETA: 8/24

[2020-08-25 01:50] alex-anakin commented on #224
The task is done.

[2020-08-25 01:50] #224 closed

[2020-08-25 01:50] Jonathanko52 commented on #261
Progress: In Progress
Blocks: None
Availability: 24/7
ETA: ?

[2020-08-25 01:56] alex-anakin opened #267 "Get rid of Firebase"
Details will be added later

https://reallifeprogramming.com/how-to-implement-magic-link-authentication-using-jwt-in-node-8193196bcd78
https://medium.com/one-more-thing-studio/how-to-make-magic-links-with-node-1d164c036e29

[2020-08-25 02:06] alex-anakin opened #268 "Create a new recurring event"
### Overview
Add a new event to recurring events:

type: HackNights
day: Monday
time: 6 pm - 8 pm

[2020-08-25 02:54] alex-anakin commented on #153
@Jonathanko52 please check out your pull request. I don't see it.

[2020-08-25 16:01] nickbeaird commented on #231
See https://github.com/hackforla/VRMS/pull/264

[2020-08-25 16:08] nickbeaird commented on #216
I believe that this can be closed when https://github.com/hackforla/VRMS/pull/264 gets merged.

[2020-08-25 16:22] nickbeaird opened #269 "Spike: Frontend unit and end-2-end testing"
User Stories:
As a developer, I would like to have confidence that the frontend React components are working as expected.

As a developer, I would like a way to test the application as a functional product.

Overview:
The goal of this story is to get more enjoyable testing for our application. We need to add the ability to write tests that verifies that our frontend is working as expected. Having

[2020-08-25 18:57] rfambro2 commented on #237
Following up on the Civic Opportunity Project. Not sure who to chat with about getting this on the webisite? @clockwerkz

[2020-08-25 19:08] clockwerkz commented on #237
@rfambro2 Yep, I'll add it in this afternoon.

[2020-08-25 19:18] rfambro2 commented on #237
@clockwerkz - Awesome, thanks!

[2020-08-25 20:41] clockwerkz commented on #232
@NivenPrasad I'm sorry for the delay! For some reason I understood this project to be a code addition to the back end. You just need an entry into the db for your weekly meetings. I'll take care of that this afternoon so it should be up for tomorrow's Management Meeting

[2020-08-26 06:31] clockwerkz commented on #237
I have added the weekly meeting to the recurringevents database.

[2020-08-26 06:38] clockwerkz commented on #232
Ok I have added two separate recurringevents in the database; one for the management team on Wednesdays and one for Saturdays team meeting. I'll be double checking tomorrow to see if the management meeting shows up in the dropdown checkin list..if it doesn't, plz me know!

[2020-08-27 04:16] Rankazze opened #271 "Add BallotNav project to the project database"
### Overview

The meeting times on the hackforla website are driven by an VRMS api. So incoming requests for changes to that page, have to be sent here to be updated manually. We need to add this new project the output.

### Action Items

Add meeting time (in-progress):

- [x] Tuesdays: 6:00pm-8:00pm (Pacific) Team Meeting

- [x] Thursday: 5:30pm-7:30pm (Pacific) Team Meeting (added 09/04/2020)

-

[2020-08-27 04:32] Rankazze commented on #271
Randall GitHub:  @arjayellis   Slack: @ Randall is the Point of Contact on the BallotNav team for this issue

[2020-08-28 00:59] clockwerkz opened #273 "Attempting to generate a new events from the recurring events collection will cause an exception error if a document does not have a location property."
### Overview
There is a cron job that periodically scans the recurringevent collections for events to occur on the current day. It then attempts to create new event entries into the events collection. If a given recurrentevent document does not have a location property, it crashes the operation with an exception error.

### Action Items
Include a test for the location property instead of assuming

[2020-08-29 22:57] ExperimentsInHonesty commented on #232
Hi @clockwerkz @alex-anakin it doesn't look like its showing up yet.  Here is the data json from the website after we hit the api: https://raw.githubusercontent.com/hackforla/website/gh-pages/_data/vrms_data.json.  It dosen't look the same as the 311 project for example:

**100 Automations entry**
{
"owner": {
"ownerId": "123456"
},
"brigade": "Hack for LA",
"checkInReady": false,
"_id": "5f4602a1

[2020-08-29 23:40] Rankazze commented on #237
For complete User Acceptance I think we need to confirm that it publishes to the target consuming destination.  This meeting time is not showing on the following page https://www.hackforla.org/project-meetings.  Moving to UAT swim lane for follow up

[2020-08-29 23:43] clockwerkz commented on #232
@ExperimentsInHonesty Yep, I'll look into this again. I suspect the cronjob that's running the events may be erroring out. I need to see if there's any sort of errors being generated on the backend of the live site. I don't have access to this.

The issue at hand is that our data models don't really have any "required" attributes.. so I've gone through and looked at what data the the function that

[2020-08-29 23:56] clockwerkz commented on #237
Yep. This is a result of dependencies that are not defined. This is the what the website is currently fetching from the recurringevents api:

![eventsAdded](https://user-images.githubusercontent.com/11682523/91648039-884b3900-ea17-11ea-9725-6c87f8878bdb.PNG)

When the page hits those 4 new entries (that I put in), it crashes with an exception error:
![website_error](https://user-images.githubuserc

[2020-08-30 06:52] clockwerkz commented on #237
Ok, I've added in entries in the Projects collection with some of the info required by the website. The site appears to be displaying the new entries correctly.

[2020-08-30 19:02] switchzer0 commented on #255
### Update
Completed internal and sponsor meetings to inform draft. Draft completed, tech-reviewed, and time estimated. Ready for final project sponsor approval.

### Blockers
Bonnie's calendar for review and final approval

### Availability
flex except Mon before 2pm

### ETA
Monday's meeting, at the latest

[2020-08-30 19:06] switchzer0 commented on #240
### Progress
Underway, waiting on blockers due to PM/Adam's assigned prioritization.

### Blockers
Cicy working through remaining mobile designs for onboarding flow, in order to deliver complete collection of mobile screens for review/approval.

### ETA
1-2 weeks

### Availability
NA

[2020-08-30 19:09] switchzer0 commented on #228
### Progress
New blockers have delayed PRD which delays milestones.

blockers
#225 revised roadmap/MVP phasing
#255 requirements doc

availability
Adam: flex

ETA
2 weeks

[2020-08-30 19:11] switchzer0 commented on #225
### Progress
New blockers have delayed PRD update.

### Blockers
#255 revised roadmap/MVP phasing

### Availability
Flex

### ETA
1 week

[2020-08-30 19:20] switchzer0 opened #278 "Revise data model"
### Overview
Data model parameters should match revised 0.4.0 release plan requirements. The existing data model is missing parameters and has vestigial elements, too. Data model should focus on MVP and give at least moderate consideration for requirements through 1.0.0 themes.

### Action Items
- [x] review approved 0.4.0 release plan, existing data model, and 0.5.0 through 1.0.0 requirements
- [

[2020-08-30 20:05] #4 closed

[2020-08-30 20:09] switchzer0 commented on #14
### Update
Rachel away from project and not aware of still upcoming showcase. Should this ticket close?

[2020-08-30 20:16] switchzer0 commented on #35
### Update
Is this still relevant in the @Alex era?

[2020-08-30 21:18] clockwerkz commented on #271
I messaged Randall for some project info and will be adding this project/recurringevent to the vrms database.

[2020-08-31 00:19] switchzer0 commented on #187
### Update
Should revisit and document pending completion of #255 (roadmap/release-plan phasing for MVP) and in conjunction with crafting #225 (PRD)

[2020-08-31 00:22] switchzer0 opened #279 "Design onboarding flow screens for mobile"
### Overview
Deliver designs for onboarding flow mobile-format screens based on Figma wireframes

[2020-08-31 00:28] switchzer0 opened #280 "Approve complete 1.0.0 themes mobile designs"
### Overview
All mobile screen designs for 1.0.0 release should be reviewed, reconciled, and finalized as a complete collection.

### Action Items
- [ ] complete designs for all 1.0.0 mobile components
- [ ] present collection of screens to PM/stakeholder for review and feedback
- [ ] update designs for final approval

### Related
#240 (style guide) should be updated to reflect final designs
#218

[2020-08-31 00:41] switchzer0 opened #281 "Modify 1.0.0 designs to create MVP/0.4 screens"
### Overview
MVP functionality will be limited vs. full 1.0.0 themes contemplated, and so select features will need to be obscured. A few new screens will need to be designed to accomodate intermediate functional needs.

### Action items
- [x] Review front-end technical process with Adam & Olga
- [x] revise sign-in landing screen(s)
- [x] revise onboarding screen(s)
- [ ] revise checked-in screen(

[2020-08-31 17:08] ye-susan commented on #267
SMTP Options:
- **Twilio's SendGrid**:  free account allows you to send up to 100 emails/day or $15/mo for 50k emails per month
- **SendinBlue**: provides 300 emails/day for free
- **ElasticEmail**: cheap pay as you go plan, 9 cents per 1000 emails
(more options [here](https://www.wpoven.com/blog/free-smtp-servers-sending-emails/))

[2020-09-01 00:50] Jonathanko52 commented on #146
Progress:
   1.Backend set up to run a check on mondays, making a list of all upcoming events this week.
   2.Function for running events successfully tested.
Blocks:
  1. Need data in the Project collection to identify the slack channels for the upcoming events.
Availability:
   24/7
ETA:
   ?

[2020-09-01 00:56] ye-susan commented on #154
Progress: Bot can send messages to a specified user (via user slack ID)
![image](https://user-images.githubusercontent.com/49918375/91782877-422adc80-ebb3-11ea-9e1c-8e713767f9d1.png)
Currently trying to get this to print from a markdown instead of manually including it inside a text block
Blocks: Will need to talk with Bonnie about slack bot specifics, and work with team to consolidate our bots on

[2020-09-01 00:59] OlgaBilogurova commented on #256
Progress: None, because my family have been moved to another city
Blocks: None
Availability: Weekdays
ETA: To the next meeting

[2020-09-01 01:06] clockwerkz commented on #237
Status: Waiting for Civic Opportunity to verify the project is showing up correctly on the website.

[2020-09-01 01:08] clockwerkz commented on #271
Status: In-progress
Details: I heard back from Randall; I just need to send him a set of questions to fill out the fields in a new Project entry, and enter the project into the database.
Blockers: None

[2020-09-01 01:37] patrickgus commented on #244
1. Progress: None
2. Blockers: Unable to access a single user from the user collection. Get `null` response when calling `GET /api/users/:id`. Using a temporary test user to complete task.
3. Availability: Weekdays after 3pm
4. ETA: 1-2 days

[2020-09-01 01:38] patrickgus commented on #192
1. Progress: None
2. Blockers: #244
3. Availability: Weekdays after 3pm
4. ETA: N/A

[2020-09-01 01:56] alex-anakin commented on #35
@switchzer0 It's not relevant anymore. Closing it.

[2020-09-01 01:56] #35 closed

[2020-09-01 01:58] dae-hyun-kim commented on #242
1. Progress - Deleted commented code, and discussed with devs about previous code. Currently just need to complete conditional to check with backend if email exists.
Blockers - Need help with how to write conditional method while utilizing current code. Will contact Nick or Carlos for help.
Availability - After 6pm M-F

[2020-09-01 02:10] nickbeaird commented on #136
Progress: I think that I have a path forward.
Blockers: No known current blockers.
Availability: Open this week.
ETA: Next week.

[2020-09-01 02:18] #269 closed

[2020-09-01 02:19] switchzer0 opened #282 "Swap Landing page Returning/New user buttons"
### Overview
The majority of VRMS users are returning, so the returning user button should be above the new user button

### Acceptance criteria
- [ ] All functionality maintained
- [ ] Invert position of buttons

### Background
<img width="609" alt="Screen Shot 2020-08-31 at 7 24 33 PM" src="https://user-images.githubusercontent.com/19891365/91787884-e70be080-ebd8-11ea-92ac-6cb565c328a9.png">

**

[2020-09-01 02:23] switchzer0 commented on #242
FYI depending on how implemented may relate to #282 (Swap position of new/returning user buttons)

[2020-09-01 02:25] nickbeaird opened #283 "Slack server conflicts with tests"
Overview:
The architecture for the Slack integration and how we are integrating it at this time is causing issues with the test infrastructure. We are not able to spin up the tests without purposesfully skipping this section of the application. I worry that this pattern will become worse if we don't take a look at it sooner rather than for more application integrations (i.e. Slack, Google, etc).

[2020-09-01 02:47] alex-anakin commented on #267
@ye-susan please list open-source solutions

[2020-09-01 05:56] alex-anakin opened #284 "Add a template for requests regarding creating new events in VRMS database"

[2020-09-01 06:08] clockwerkz opened #285 "RecurringEvents should not be dependent on Projects"
Investigate if fetching a recurringevent that has no project assigned will cause an error on the backend.

[2020-09-01 06:55] switchzer0 commented on #279
### Update
designs reviewed with Bonnie/Adam, Cicy incorporating small feedback items and adding ~2 new screens to flow

### Blockers
none

### ETA
Friday

[2020-09-01 06:56] #255 closed

[2020-09-01 14:47] rfambro2 commented on #237
@clockwerkz - Just responded to your Slack message. Weekly meetings now occur on Sundays at 9am and Tuesdays at 12pm.

[2020-09-02 01:54] Arjayellis commented on #271
@clockwerkz @ExperimentsInHonesty Following up on this request. Will you be sending over the questions? We are hoping to have everything up on the website by Thursday as that is when we will be pitching to Hack for San Jose. Thank you!

[2020-09-02 02:41] clockwerkz commented on #271
@Arjayellis Yep! I'm just having one of our PMs confirm some of the data we'll need and I'll send it over to you promptly.

[2020-09-02 05:10] clockwerkz commented on #271
Ok I emailed you those questions - I'll set it up as soon as I get that info back.

[2020-09-02 16:50] clockwerkz commented on #232
Meeting times are displaying correctly, but the "Meetings" heading is missing from the project page. Would have to look into how the website displays the project/meeting data in the individual project page and see if it's an issue on our end:
![image (25)](https://user-images.githubusercontent.com/11682523/92012761-b83d5980-ed01-11ea-872e-2bb5bbd71277.png)

[2020-09-04 20:40] Arjayellis commented on #271
We currently have a project card open at the website repo for them to add us to the website. I believe it has all the details you are looking for. https://github.com/hackforla/website/issues/703

[2020-09-04 20:42] Arjayellis commented on #271
Tuesdays: 6:00pm-8:00pm (Pacific) Team Meeting
**Thursday: 5:30pm-7:30pm (Pacific) Team Meeting**
Saturdays: 4:00pm-6:00pm (Pacific) Management Meeting

Newly created meeting times in bold

[2020-09-04 20:46] clockwerkz commented on #271
Ok I'll add in Thursday as a new recurringevent for BallotNav.

[2020-09-05 22:05] NivenPrasad commented on #232
Thanks @clockwerkz for working on this - looks like all fixed now! Was an issue on the website team side and they've addressed it.

[2020-09-06 00:32] clockwerkz commented on #271
BallotNav is not showing up in the dropdown list for events today (Saturday). I'll need to look into this and see why the cronjob did not pick up the recurringevent and create a new checkin today.

[2020-09-08 00:10] Rankazze commented on #262
In reviewing/validating the Live HackforLA.org site  we need to fix our typo from "for"  to "or"  in the following: "On boarding for Happy Hour"
@alex-anakin @clockwerkz
Thanks

[2020-09-09 20:22] alex-anakin opened #288 "Use Amason SES as mailing transport"
### Overview
#287 PR added the `nodemailer` module into the project for sending emails. Currently, it uses a temporary Gmail account as a transport. To know more about `nodemailer` take a look at the article https://blog.mailtrap.io/sending-emails-with-nodemailer/
Nodemailer documentation is here https://nodemailer.com/about/

### Action Items
Use Amason SES as mailing transport instead of Gmail.

[2020-09-10 05:43] Arjayellis commented on #271
Hi Carlos. How is it coming? Anything I can do to help?

[2020-09-10 05:57] clockwerkz commented on #271
@Arjayellis I just added Thursday's meeting. I will be checking around 5 to see if the dropdown shows your meeting on the vrms website tomorrow. :)

[2020-09-11 01:24] clockwerkz commented on #271
@Arjayellis did you have your members sign in? It's in the dropdown list on vrms.io. 👍

[2020-09-13 21:45] Rankazze commented on #232
Confirmed times are posting to HfLA website.  Above is approval from Customer.

[2020-09-13 21:45] #232 closed

[2020-09-13 21:48] Rankazze commented on #237
Confirmed times are posting to HfLA website.  Above is Approval from Customer.

[2020-09-13 21:48] #237 closed

[2020-09-14 16:58] patrickgus commented on #244
Progress: Done

Notes: IDs are hard-coded when fetching data until we have a sign-in form for users to access their profiles.
I had the same problem of getting a null response when trying to access a single item from the events and projects collections as I did with the users collection.
We may want to change what data is being displayed on the profile page.

[2020-09-14 16:58] #244 closed

[2020-09-14 22:22] patrickgus commented on #192
1. Progress: None
2. Blockers: Waiting on PR #239
3. Availability: Weekdays after 3pm
4. ETA: N/A

[2020-09-14 22:35] OlgaBilogurova commented on #256
Progress:
- Updated data handling due to test DB
- Created tabs for displaying two reports
- Displayed existing donut charts in the one tab

Blocks:
- Need to update the app to install yarn and dependencies (in progress)
- Need to update data handling due to test DB (completed)

[2020-09-14 23:47] nickbeaird commented on #136
Progress: I made a test slack space that people can use and added the credentials to the team project.
Blockers: It would be nice to know that I am not stomping on known work, and would prefer to allow Jonathan to merge in his work prior to getting my complete, or vice versa. I have talked to Jonathan and he is way further along in a bigger slack feature, so I think that we should give that to him

[2020-09-14 23:50] nickbeaird commented on #267
Progress: Added two PRs (see associated PRs to this ticket). The first added a backend API point and basic email functionality. I created a gmail account and added the credentials to our 1Password. The second PR adds this work to the frontend. it needs some work still.

Blockers: Time and context. The functionality pretty much replaces what we had with Firebase and uses a magic link email token. I

[2020-09-15 00:02] nickbeaird opened #293 "Fix errors and warnings from compiler"
The application has a number of compiler errors as well as runtime errors. At a high level, a great deal of these errors look to be resolved easily with enforcing eslint standards.

Frontend issues: When you start the react app, a number of warnings and compile errors fill the console.

Backend issues: When running the application, a number of uncaught async calls breaks the application.

Overall:

[2020-09-15 00:13] nickbeaird commented on #293
Progress: Two PRs were made to outline the linting standards for the frontend and backend.

Blockers: Approval by the team, and merging by Alex. Additionally, a third large PR will need to be put in to enact the changes on the existing codebase. The team would likely benefit from a code freeze at some point, as it will likely cause many conflicts if not. The benefits are vast in doing this work no

[2020-09-15 00:17] nickbeaird commented on #2
I would suggest that this one can be closed. The ticket is no longer relevant with the work done to move all variables to the .env files in the frontend and backend.

[2020-09-15 00:20] nickbeaird commented on #1
Progress:  A created a script to backup the database and run locally. This is not exactly for Docker, but it is a precursor to doing this work.

Blockers: 1. Dockerizing the application 2. Finding a DB backup strategy that meets Alex's needs. Currently, we are just copying the DB. 3. Getting a Docker publishing workflow across the team possibly....

Availability: See blockers

ETA: See blockers

[2020-09-15 00:21] nickbeaird opened #295 "Dockerize application"
After talking with Alex, it was noted that putting the application in Docker would help the team members run the application in an OS agnostic manner. We would like to get the application running.

Potential issues/blockers:
[x] Get application running in 12-factor application fashion using only environment variables
[x] Get tests on the frontend and backend to give ourselves some sense that our r

[2020-09-15 00:29] nickbeaird commented on #295
Progress: The work in flight is caught by other PRs in progress.

Blockers: See the potential blockers/issues listed in the ticket

Availability:  Once the linter work is approved and finalized, then I can move into this.

ETA: A few days for a prototype

[2020-09-15 00:58] #2 closed

[2020-09-15 01:10] alex-anakin commented on #284
A project entry requires the following properties: name, description, location (can be remote for now).
Optional values are lookingDescription, recruitingCategories (array of strings), and partners.

RecurringEvents require name, hacknight, eventType (Project Meeting, Orientation, Workshop), project, date, startTime, endTime, hours, and checkInReady (set initially to false).

[2020-09-15 01:13] alex-anakin commented on #284
Progress: got required properties to specify in the template
Blockers: none
Availability: Wednesday, Friday
ETA: end of the week

[2020-09-15 01:15] alex-anakin opened #296 "Design the database backup strategy"

[2020-09-15 01:16] alex-anakin opened #297 "Develop the database backup scripts"
### Overview
- Scripts should reflect results of #296

[2020-09-15 01:18] alex-anakin commented on #1
Blocked by #295 and #297

[2020-09-15 01:24] alex-anakin commented on #254
Reviewed, no findings. Great work!

[2020-09-15 01:24] #254 closed

[2020-09-15 01:38] alex-anakin commented on #216
Should be prioritized again when the test database will be moved to the local environment. Blocked by #1

[2020-09-15 01:49] clockwerkz commented on #285
Status: In-progress
Details: It appears that there is some sort of dependency or required properties in the recurringevents in order to generate new events./checkings. I think I've narrowed it down to either requiring a location or a project property. will continue to look into this this week,.
Blockers: None

[2020-09-15 02:00] ye-susan commented on #154
Progress: Bot can read (from a markdown file) and send messages and can also calculate how long user has been a member of a slack workspace (via slack user data)
Blocks: Need a way to connect MongoDB data and slack data -- is email a sufficient primary/foreign key to use?
Availability: limited this week, but I'll keep working on what I can

[2020-09-15 02:17] patrickgus opened #298 "Fix test database collections for events and projects"
### Overview
API is returning a null response for calls to database that are supposed to return a single item from the events and projects collections. This was similar to the problem with the user collection and accessing a single user from the collection.

[2020-09-15 02:18] switchzer0 commented on #14
### Update
Bonnie explained purpose. Adam to bring up with Bonnie later, once v1.0 design and functionality is finalized and animated demo can be created.

### ETA
1-2 months

[2020-09-15 02:21] Rankazze commented on #268
Confirmed posting to HfLA website.  Additionally, available in the VRMS drop down pick list.

[2020-09-15 02:21] #268 closed

[2020-09-15 02:25] alex-anakin commented on #242
@dae-hyun-kim please provide details about your progress

[2020-09-15 02:26] alex-anakin commented on #153
@Jonathanko52 please provide your update

[2020-09-15 02:37] alex-anakin commented on #146
@Jonathanko52 please provide your update

[2020-09-15 03:29] clockwerkz opened #299 "Add Redux as state management on the front end"
With the app being close to having authorization and login access, I think this is a great time to explore implementing Redux as our state management system. I've been looking at alternatives to Redux, variations of using the Context Hooks and even incorporating the Reducer hook to build a redux-like environment. In my opinion Redux is still a better solution.

[2020-09-15 04:13] switchzer0 opened #300 "Co-branding/whitelabel scheme for 3rd parties running VRMS"
### Dependency
- [ ] This issue needs to be updated when the time comes. Right now VRMS is an internal tool and it will take time until we are able to run it for 3rd parties. Not priority right now.

### Overview
Other organizations will run VRMS and we need a scheme that lets them brand the app appropriately while still identifying the product as VRMS and giving HfLA credit

### Acceptance criter

[2020-09-15 04:42] switchzer0 opened #301 "VRMS Logo"
### Overview
VRMS logo needs to be expanded into a full set of icons, wordmarks, color schemes, etc.

### Acceptance criteria
- [ ] Set of logo first draft concepts based on brand guidelines
- [ ] finalized VRMS icon
- [ ] finalized VRMS full wordmark oneline and stack
- [ ] finalized VRMS co-branding format
- [ ] finalized VRMS logos in various color schemes: full color, 1 color, knockout, light/

[2020-09-15 05:00] switchzer0 commented on #278
Update: Revisions in progress with reccos and questions/considerations on MVP model parameters.
Blockers: none
Availability: most days
ETA: by next meeting (Mon)

[2020-09-15 05:11] switchzer0 commented on #281
Update: Cicy and Adam reviewed assignment, agreed that first step is for Adam to offer comments/wireframes for MVP based on completed v1.0 screens
Blockers: Adam hasn't given direction yet, will unblock Cicy this week
Availability: Adam generally avail throughout week. Cicy N/A
ETA: wireframes to Cicy by next meeting (mon)

[2020-09-15 05:16] switchzer0 commented on #225
@alex-anakin sounds like you need tickets ASAP, which is the best place to start (please rank), and what deadline is ideal for you?
- landing/login
- onboarding flow
- main dashboard

[2020-09-16 01:49] Rankazze commented on #262
Confirmed the selection loaded in the pick list.

[2020-09-16 01:49] #262 closed

[2020-09-16 01:50] Rankazze commented on #271
Tuesday loaded in the Pick list

[2020-09-16 05:03] Jonathanko52 commented on #146
Progress: Running as expected on test Slack channel.
Next Step: Testing on Hack for LA Slack Channel
Block: Events collection in database is out of date and not updating properly. No events have been created past 8/26
Availability:24/7

[2020-09-16 19:59] switchzer0 commented on #278
Update: revisions complete. Overview document posted to Google Drive/Slack.
Blockers: needs team review
Availability: most days
ETA: tentatively next wednesday (after team meeting + revision time)

[2020-09-16 20:05] switchzer0 commented on #281
### Update
Unblocked by Adam: new [Figma page](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=24553%3A2603) with MVP-only comments provided. Adam to add additional notes over coming week.
### Blockers
- partial from #300 (co-branding scheme) but shouldn't be too consequential pending convo w/ Olga about SCSS templates
- believe Cicy to be away
### Availability
?
### ETA
? but

[2020-09-16 21:12] switchzer0 opened #304 "Define VRMS Analytics Goals"
### Overview
One of VRMS's primary functionalities is an analytics tool to optimize organizational performance. Identifying the organizational choices we want to make down the road and the data required to inform them should dictate how the data model is structured.

### Acceptance Criteria
- [x] review of strategy and vision
- [ ] data scientist input
- [ ] project sponsor input
- [ ] recommendat

[2020-09-17 22:23] alexandrastubbs commented on #271
See [this page](https://www.hackforla.org/projects/ballot-nav) - we are getting a problem with 'undefined' under the team meeting times displayed.

![Screen Shot 2020-09-17 at 4 22 40 PM](https://user-images.githubusercontent.com/66918724/93534296-0d808a00-f902-11ea-8e27-470246326da2.png)

This is also occurring on the team meeting overview page: https://www.hackforla.org/project-meetings

![Scree

[2020-09-17 22:26] clockwerkz commented on #271
I'll look into it, thanks

[2020-09-17 22:26] alexandrastubbs commented on #271
There is a corresponding issue dealing with the above: https://github.com/hackforla/website/issues/735

[2020-09-18 03:16] Rankazze commented on #271
Thursday loaded in the Pick list.  Undefined was not there.

[2020-09-21 16:18] patrickgus commented on #192
1. Progress: Created GET and POST routes for the backend. Also created test for the data model.
2. Blockers: Need to get test data in db in order to test the routes. Not sure how to create a collection in Mongo or which db to use.
3. Availability: Weekdays after 3pm
4. ETA: 1-2 weeks

[2020-09-21 21:38] dae-hyun-kim commented on #242
1. Progress - Was unable to complete and got stuck. Asked Jonathan if he could take a look and complete
2. Blockers - Couldn't figure out how to complete existing member login

[2020-09-22 00:48] clockwerkz commented on #285
Status: In-progress
Details: Still looking into this. Didn't have time this week.
Blockers: None

[2020-09-22 00:49] clockwerkz commented on #299
Status: In-progress
Details: I'm setting up the Redux boilerplate and the file structure, will have something to review this week.
Blockers: None

[2020-09-22 01:02] switchzer0 commented on #278
Update: still awaiting feedback from dev team
Blockers: initial team review on model components, also #304 (analytics goals)
Availability: most days
ETA: tentatively next wednesday (after team meeting + revision time)

[2020-09-22 01:06] switchzer0 commented on #304
Update: drafted initial list of needs based on strategy and vision document and personas board. Next up time with. @nickbeaird (technical sanity check), bonnie (sponsor needs interview), data science team (best practices recco), dev team (discussion and technical approval)
Blockers: none
Availability: most days
ETA: 2 weeks

[2020-09-22 01:08] nickbeaird commented on #267
Progress: 2 PRs are placed. The final one removes Firebase

Blockers:
* Requires review and feedback.
* Approval on moving forward without a logout function. If that is out of scope, then this is done. Alex stated that he might have some thoughts on how to make that happen. I will defer to the loudest party at this moment 😆.
* This story also blocks our Docker work. We need working auth that works

[2020-09-22 01:13] nickbeaird commented on #293
Progress: Linter setup working in backend. Refactored recent Auth work to verify changes.

Blockers:
* Approval for using Prettier OR finding alternative settings that work. Approval for using React's hook linters
* Need to review how we are calling async calls from async calls. The admin page has so many calls that when we use useEffect to spec it puts the page in an infinite loop. It is an anti-

[2020-09-22 01:14] OlgaBilogurova commented on #256
Progress:
- Developed a table inside the second tab
- Processed and displayed the data into the table
- Added styles for the table, headers, new event
- Set up react-datepicker
- Started to develop functionality for filtering data by the custom period of time

Blocks: None
Availability: Weekdays

[2020-09-22 01:17] nickbeaird commented on #295
Progress: A little work made on this.

Blockers: I believe that using Auth on localhost is in the way. The current auth setup does not work for localhost, and requires extensive manual manipulation. The new magiclink work that is in flight also requires a bad workaround to redirect localhost through a URL. The solution needs review. (see https://github.com/hackforla/VRMS/pull/290).

Availability:

[2020-09-22 01:26] alex-anakin commented on #284
Progress: none
Blockers: didn't have enough time the last week
Availability: not sure
ETA: not sure

[2020-09-22 01:58] alex-anakin opened #306 "Create VRMS "Home" page"
### Overview
As a user, I want to see a [page](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=24760%3A2811) after opening https://www.vrms.io
This page displays a choice between 2 options:
- Sign in
- Create account

Clicking buttons should redirect to the next page.
If the corresponding page is not implemented then use the temporary dummy page from #321 for all redirects.

#

[2020-09-22 02:00] Jonathanko52 commented on #146
Progress: Reworked to work with service workers.
Next Step: Testing on Hack for LA Slack Channel
Block: Pull request requires reviewing. Requires installation by someone with admin rights to the Hack for LA Slack Channel
ETA: Within this week.

[2020-09-22 02:23] alex-anakin commented on #136
@nickbeaird please ping Susan and Jonathan

[2020-09-24 23:30] OlgaBilogurova commented on #261
Discussed with Jonathan this task and his progress.

Current progress:
- created page [React-Component-Structure](https://github.com/hackforla/VRMS/wiki/React-Component-Structure) inside the Wiki. Described goals and some future required changes.
- no local branch, any changes inside the project

[2020-09-26 20:30] ExperimentsInHonesty opened #308 "Add meeting time for Civic Tech Structure team"
### Overview
We need to add the meeting times for the Civic Tech Structure team so that they show up on their webpage

### Action Items
- [ ] See this their issue for meeting times

### Resources/Instructions
[Issue that lists meeting times](https://github.com/codeforamerica/brigade-playbook/issues/7)
[Civic Tech Structure page on hackforla.org](https://www.hackforla.org/projects/civic-tech-struct

[2020-09-28 23:06] patrickgus commented on #192
Progress: Created test data collection in database but having trouble retrieving data using GET requests.
Blockers: None
Availability: Weekdays after 3pm
ETA: 1-2 weeks

[2020-09-28 23:16] patrickgus commented on #242
Progress: None
Blockers: Need to get in touch with @dae-hyun-kim to see progress and figure out what problems there are.
Availability: Weekdays after 3pm
ETA: N/A

[2020-09-28 23:21] patrickgus commented on #153
Progress: I believe it is almost completed
Blockers: Need to get in touch with @Jonathanko52 to check progress.
Availability: Weekdays after 3pm
ETA: N/A

[2020-09-28 23:52] ye-susan commented on #288
Progress: I got AWS SES to work on the test app - now I need to test it on VRMS's server and use the HFLA AWS keys

[2020-09-28 23:53] ye-susan commented on #154
Progress: no additional updates
Blocks: the slack devs had a meeting and we're anticipating to test our bots on the HFLA workspace - if we can receive admin access

[2020-09-29 00:29] cicyhou commented on #301
9/28 - I have not started the actual designing. still in the research phase. I have some questions about overall VRMS branding scope and requirement. I will set up a meeting with Bonnie and Adam this week to discuss.

[2020-09-29 00:48] OlgaBilogurova commented on #256
Progress: Developing functionality for filtering, calculating, and displaying stats by custom time period
Blocks: None
Availability: Weekdays
ETA: N/A

[2020-09-29 01:18] alex-anakin commented on #306
@switchzer0 please add here a link to the Figma mockup when it will be finished.

[2020-09-29 01:20] nickbeaird commented on #295
Progress: I created a docker setup for development purposes (see the associated PR).

Blockers: I believe that we are in that grey middle area of the chicken and the egg with does Auth or Docker come first. I think that we have a working dev environment, but we have a lot of unknowns on what does this application look like once deployed. I am not sure if we should be deploying directly to a VM, or

[2020-09-29 01:21] alex-anakin commented on #146
@Jonathanko52
1. The PR is reviewed.
2. Please ask @ExperimentsInHonesty for help with Hack for LA Slack Channel.

[2020-09-29 01:24] nickbeaird commented on #293
Progress: Linter setup working in backend. I debated, updated, and removed Prettier (auto-formatter) on the frontend. I have a working linter that is not enforced available.

Blockers: We seem blocked on our linter goals. IMHO, we need to put in a really strong linter, not enforce the settings, allow devs to opt in, and review what is not working in a month. I think that Alex and Olga need to dete

[2020-09-29 01:27] nickbeaird commented on #1
Progress: I added a backup script. I also added instructions for using a localhost Mongo DB with a docker container.

Blockers: Waiting on review of PR for Docker in development. https://github.com/hackforla/VRMS/pull/309

Availability: Between 3-4pm, weekdays.

ETA: As soon as PR is reviewed.

[2020-09-29 01:29] switchzer0 commented on #278
Update: met with dev team, received input on parameters
Blockers: my general bandwidth as I get the PRD updated first, per direction from @alex-anakin
Availability: most days
ETA: 2 weeks

[2020-09-29 01:30] nickbeaird commented on #136
Progress: Have a half working branch.

Blockers: Waiting on PR to be merged from Jonathan.

Availability: 3-4pm

ETA: 1 week.

[2020-09-29 01:35] switchzer0 commented on #304
Update: reviewed with @nickbeaird and dev team. Tentative decision to enable future complex analytics functionality by snapshotting document database at intervals and copying to relational database to facilitate analytics
Blockers: my schedule
Availability: most days
ETA: 3 weeks

[2020-09-29 01:37] switchzer0 commented on #225
Update: Renamed previous PRD to "1.0" and created [new PRD for MVP/0.4](https://docs.google.com/document/d/16VvC0fbaXsvEQkQaVSj8dG3wFEHgErbjJ6H3akSUoVM/edit?usp=sharing). Updated GitHub quick links to point to MVP PRD. Drafted full list of requirements for landing/login and main dashboard.
Blockers: none
Availability: most days
ETA: 1 week

[2020-09-29 01:41] alex-anakin commented on #284
Progress: none
Blockers: didn't have enough time the last week
Availability: Thursday, Friday 6-8 pm
ETA: end of the week

[2020-09-29 01:46] switchzer0 commented on #306
Figma [wireframe](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=24586%3A8) of this screen. @cicyhou will be working on an actual design for it, but functionality will be similar.

[2020-09-29 01:50] Jonathanko52 commented on #146
Progress: ExperimentsInHonesty contacted.
Next Step: Create instructions for ExperimentsInHonesty
Block: None. Task in progress.
ETA: 10/5

[2020-09-29 02:06] clockwerkz commented on #299
Status: In-progress
Details: Was unable to work on this task last week, will be working on it this week and will provide a PR with the a setup of the store, reducer and actions, as well as basic testing.
Blockers: None

[2020-09-29 02:08] clockwerkz commented on #308
Status: In-progress
Notes: Waiting on clarification on how long the meetings for these requested time slots will be.
Blockers: Need more info

[2020-09-29 02:08] alex-anakin commented on #267
@nickbeaird What is the question for this task?

[2020-09-29 03:12] ExperimentsInHonesty commented on #308
@clockwerks 2 hours

[2020-09-30 05:42] OlgaBilogurova opened #310 "Unit tests & code refactoring for the Admin component"
### Overview
The `admin` component should be covered with unit tests. To keep components small, function-specific, and easy to understand should extract logic for calculations from the component and do code refactoring.

### Action Items

- [ ] write unit tests for the `admin dashboard` component
- [ ] extract calculations for stats from the `admin dashboard` component
- [ ] do code refactoring fo

[2020-09-30 05:46] OlgaBilogurova commented on #256
Progress: Done
Next step: Need to cover admin component with unit tests and do code refactoring.
Created an issue #310.

Displayed by default. Opened the firts tab with table report with stats by all time.
![1-admin-report](https://user-images.githubusercontent.com/11681030/94629306-2df00300-0277-11eb-98ad-1a551e4fdbda.png)

Set custom date period using datepickers
![2-admin-report](https://user-i

[2020-10-01 00:11] nickbeaird commented on #267
@alex-anakin, it revolves around the blockers. The following relates to the posted blockers listed above and the questions that I asked you in a group DM (yourself, Carlos, and Susan).

1. When I sent in this PR in a group DM on Slack, you stated that you would follow up and take over the work. Do you still want to do that, or are you wanting me to follow this through?

2. I am wondering if puttin

[2020-10-02 22:57] switchzer0 opened #312 "Provide multiple color schemes for application"

[2020-10-03 23:42] nickbeaird opened #313 "Unmounted Component"
There are some unmounted components that are showing up when compiling the frontend (see screenshot).

This may be helpful, but this could be due to how we are using UseEffect, https://stackoverflow.com/a/60907638/5900471.

![image](https://user-images.githubusercontent.com/13891656/95003770-8127c580-0597-11eb-8c1b-ead727e6fe39.png)

[2020-10-04 16:57] nickbeaird opened #315 "Package alerts"
After getting access to the admin section of the VRMS github, there are security vulnerabilities for a few packages. This is likely affecting master.

Known Critical:
- node-forge
- dot-prop

Low Priority:
- lodash

[2020-10-04 17:55] nickbeaird commented on #315
It looks like I am able to update the development branch, but was unable to easily update the master branch for the security updates. I put this to the vrms-dev channel, but I suggest that we merge development into master here soon.

[2020-10-05 01:58] nickbeaird opened #320 "Fix backend integration tests for CID pipeline"
The backend tests are currently failing in the pipeline and will require additional mocking of these services.

[2020-10-05 19:05] #256 closed

[2020-10-05 23:00] patrickgus commented on #192
Progress: None. Still need help with accessing data from test db
Blockers: None
Availability: Weekdays after 3pm
ETA: 1-2 weeks

[2020-10-06 00:55] nickbeaird commented on #295
Progress: I have some working Docker containers working for local development. You might want to try it out. I need to figure out our docker container strategy and how we will deploy.

Blockers: How to configure DNS at some point.

Availability: Between 3-430pm. Evening are hard as I work early.

ETA: A week or so.

[2020-10-06 01:05] OlgaBilogurova commented on #310
Progress: covering the admin dashboard component with unit tests
Blocks: None
Availability: Weekdays
ETA: N/A

[2020-10-06 01:08] alex-anakin opened #321 "Create temporary dummy page"
### Overview
Implement [dummy page](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=24897%3A0) for accelerating development process.
It should be used in cases when any currently developing page redirects a user somewhere else but the destination page is not developed yet.

### Resources/Instructions
The page should be implemented in the client folder client-v-04
Please follow

[2020-10-06 01:23] OlgaBilogurova commented on #261
Progress:
- started to organize the `admin `component
- inside the admin component created 2 directives: `dashboard`, `reports `and moved appropriate files there
- created a new directory `common` for reusable components, moved a `datapicker `and `tabs` component inside this folder

![VRMS – index test js 2020-10-05 18 21 21](https://user-images.githubusercontent.com/11681030/95148222-a6533a00-073

[2020-10-06 01:31] Jonathanko52 commented on #146
Progress: Slack Application installed onto Hack for LA Slack Channel.
Next Step: Test App on Hack for LA page.
ETA: 10/6

[2020-10-06 01:36] alex-anakin opened #322 "Implement "Create account" page"
### Overview
Implement a [page](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25466%3A3447) that allows a user to input an email and start the process of creating an account.

### Action Items

- [x] The "Create account" button is disabled by default.
- [x] Enable the "Create account" button when the input value is not empty (consider spaces as empty input).
- [x] After clic

[2020-10-06 01:46] switchzer0 commented on #225
Update: drafted account setup screens. Next up will be project rosters, admin screens, and check-in page
Blockers: none
Availability: most days
ETA: 2 weeks

[2020-10-06 01:47] switchzer0 commented on #304
no progress, no blockers, on hold until higher priority items addressed based on insights from initial interviews

[2020-10-06 01:53] Rankazze opened #323 "Remove meeting time for HelloGOV"
### Overview
We need to remove the meeting times for the HelloGOV team as they are no longer meeting.

### Action Items
Update database to remove meeting times on Monday's 6:30 - 8:30

[2020-10-06 01:56] Rankazze opened #324 "Remove meeting time for NewSchoolToday"
### Overview
We need to remove the meeting times for the NewSchoolToday team as they are no longer meeting.

### Action Items
Update database to remove meeting times on Monday's 6:30 - 8:30

[2020-10-06 02:19] alex-anakin commented on #271
Done

[2020-10-06 02:19] #271 closed

[2020-10-06 02:21] alex-anakin commented on #1
Done

[2020-10-08 00:00] awhig opened #326 "User email should be normalized to lowercase in database."
### Overview
During sign up, email address is stored as-is, If user types "FOO@BAR.COM", it is stored that way. Lookup is also case-sensitive, which it should not be.

### Action Items
Email should be stored as "foo@bar.com", lowercased in backend code. During lookup, any email address should be lowercased as well, in backend code.

[2020-10-08 17:05] alex-anakin opened #327 "Create a separate client application for MVP 0.4 features development"
### Overview
Set up a new React application for MVP 0.4 features development on the client side.

### Action Items

- [x] Create a separate folder on the project root level and name it `client-mvp-04`.
- [x] Set up a new React application.
- [x] Apply Sass setup from #223 implementation.
- [x] Set up the new client local deployment from the VRMS root folder.

[2020-10-08 17:19] alex-anakin commented on #322
Blocked by:

- [x] #327
- [x] #306
- [x] #321

[2020-10-08 19:37] OlgaBilogurova commented on #306
Blocked by:

- [x] #327

[2020-10-08 19:38] OlgaBilogurova commented on #321
Blocked by:

- [x] #327
- [x] #306

[2020-10-10 01:17] OlgaBilogurova commented on #327
Done!

- Created a separate folder on the project root level and name it `client-mvp-04`
- Set up a new React application
- Install all packages from `client package.json`
- Set up the new client local deployment from the VRMS root folder
- Applied Sass setup from #223 implementation
- Added README.md to `client-mvp-04`
- Created the first unit test for `App.js` and runs successfully
- Removed all

[2020-10-10 02:29] OlgaBilogurova opened #329 "Install and set up Redux for `client-mvp-04`"
### Overview
Install and set up Redux for `client-mvp-04`.

### Resources/Instructions
This is the next step after issue #327 will be finished and merged into `development`
[Redux documentation](https://redux.js.org/introduction/getting-started)

[2020-10-10 02:35] clockwerkz commented on #329
Sounds good - so in regards to our convo last night, do you want me to start on this when 0.4 is merged into dev? This was the issue I'm on: #299

[2020-10-10 03:30] OlgaBilogurova commented on #329
Sure, @clockwerkz
Please, set up Redux during the next few days. Because we should move forward with MVP 0.4.

[2020-10-10 03:45] OlgaBilogurova commented on #261
This task is obsolete and needs to be closed.
Set up the new app `client-mvp-04`. Task #327.

[2020-10-10 03:46] #261 closed

[2020-10-10 04:06] OlgaBilogurova commented on #310
This task is obsolete. Because I set up the new app `client-mvp-04`. Issue #327.
Will add Redux, so when we'll need to implement this functionality for MVP 0.4 it should be reworked, refactored, optimized, and covered with unit tests right away.

[2020-10-10 04:06] #310 closed, assigned to OlgaBilogurova

[2020-10-10 21:54] #327 closed, assigned to OlgaBilogurova

[2020-10-10 22:06] OlgaBilogurova commented on #329
@clockwerkz PR #328 was merged into `development`.
You can move forward to install Redux for `client-mvp-04`.

[2020-10-10 22:27] clockwerkz commented on #329
Ok perfect, thanks!

[2020-10-10 23:13] OlgaBilogurova commented on #306
The task is blocked because of waiting for the finalized mockup and installing Redux for `client-mvp-04`.

[2020-10-11 02:54] clockwerkz commented on #308
I have created recurringEvents for the three requested meeting times. Awaiting client confirmation to close..

[2020-10-12 00:39] switchzer0 commented on #225
MVP (v0.4) features completely written up. Some loose ends with designs, technical documentation, outstanding questions, but the task of updating the features is complete.

[2020-10-12 00:39] #225 closed

[2020-10-12 00:42] switchzer0 commented on #178
With MVP product requirements fully updated, time to update milestones for MVP, which includes reviewing and closing unneeded ones.

[2020-10-12 00:43] switchzer0 commented on #228
unblocked as of today. Will discuss with @alex-anakin this week.

[2020-10-12 22:31] cicyhou commented on #279
update - onboarding screens has been updated based on Adam's feedback. There are a few more things that need to be discussed, plan to do that today during the meeting

[2020-10-12 22:33] cicyhou commented on #281
Update - screens that are not finished are admin screens and team roster screens
Blockers - there are a few questions on the completed screens, plan to discuss with Adam today during the meeting
ETA - admin screens and team roster screen should be finished in a week

[2020-10-12 22:35] clockwerkz commented on #299
Duplicate issue - See #330

[2020-10-12 22:35] #299 closed, assigned to clockwerkz

[2020-10-12 22:40] clockwerkz commented on #329
Progress: Awaiting PR approval
Blockers: None
Availability: weekdays after 6 PM

[2020-10-12 22:55] patrickgus commented on #192
Progress: Able to access data from db now using routes. Working on getting the front end hooked up to backend. Having trouble getting logs to render.
Blockers: None
Availability: Weekdays after 3pm
ETA: 1-2 weeks
Notes: How should we go about calculating hours? (moment?) Will it be a problem for admins to access the total hours logged by users if it is calculated in the front end?

[2020-10-13 01:37] Jonathanko52 commented on #146
Progress: New goals added:
-Add comments so other progammers have an easier time figuring out how the new router and worker works.
-Add safeties so testing the app will not duplicate events and post straight to Hack for LA slack if run locally
Next Step: In Progress.
ETA:10/19

[2020-10-13 01:46] #285 closed

[2020-10-13 01:53] alex-anakin commented on #267
1. PR #290 is the implementation of the task. It is almost done and will be merged soon.
1. We are good at using Cookies.
1. It's completely fine.

[2020-10-13 01:58] clockwerkz commented on #324
I removed the recurringevent for the HellGov team meeting on Mondays 6:30 - 830 - the change will be reflected on the week of 10/19.

[2020-10-13 02:14] alex-anakin commented on #285
@clockwerkz please add a comment here

[2020-10-13 02:27] Rankazze commented on #308
@clockwerkz when I checked the website under Tues/Thurs/Sat  the new project with times has not yet posted.

[2020-10-13 02:29] clockwerkz commented on #285
RecurringEvents only require a project if the event type is labeled as a Project Meeting. I believe this is as intended. There does not appear to be any other dependencies between RecurringEvents and Projects.

[2020-10-13 02:40] clockwerkz commented on #308
@Rankazze I see.. I added the meetings for the wrong group. I had asked Bonnie if this was for an existing group I should have been more specific in asking if this was for an existing group in our existing database. That's my error.

Since these are project team meetings, we'll need to enter in a new project into our system. Currently, there's only one project with "tech" in the title:
![civicTech

[2020-10-13 17:49] ye-susan commented on #154
Questions/Blocks :
- Should user's activity be tracked using first their user object (createdDate) and then reference their latest activity in the checkins model (using userId and createdDate of the event)?
- if available: markdown files with messages for newUsers

[2020-10-14 01:27] switchzer0 commented on #278
Update: all proposed variables documented for v0.4, documented in [PRD](https://docs.google.com/document/d/16VvC0fbaXsvEQkQaVSj8dG3wFEHgErbjJ6H3akSUoVM/edit#heading=h.hhutmpgbwq8c).
Blockers: meet to review, answer outstanding questions, future-proof, and approve final version with @alex-anakin et al.
Availability: most days
ETA: ~1 week

[2020-10-14 02:05] switchzer0 commented on #178
Discussed with Bonnie; have closed old milestones.

[2020-10-14 02:05] #178 closed

[2020-10-14 03:27] junganthonyy commented on #323
Unless I'm mistaken, I don't see HelloGov's meetings on the site anymore, and when I run a GET on "api/recurringevents" I don't see any entries for HelloGov. Since I don't have access to the production database, @clockwerkz can you confirm that it has been removed?

[2020-10-14 04:45] OlgaBilogurova opened #333 "Check out / update Linter and Prettier setup in `client-mvp-04`"
### Overview
Please, check out Linter and Prettier setup for `client-mvp-04` to make sure that everything is working.
Please, fix Linter and Prettier config if it is needed.

### Resources/Instructions
Copy your .env file from `client` to  `client-mvp-04`.
Follow README.md in `client-mvp-04`.

[2020-10-14 05:05] clockwerkz commented on #323
@junganthonyy  Hey Anthony, that was my bad - I didn't see that you had been assigned the ticket. I went ahead and removed the meetings for HelloGov, just forgot to update this ticket.

[2020-10-14 05:36] clockwerkz opened #334 "Set up tests for redux"
Set up some basic unit tests for the redux store/actions

[2020-10-14 05:40] #267 closed

[2020-10-15 02:11] Rankazze opened #337 "Meeting time Change Request Record Clearance"
**Overview**

We need to change the meeting times for the Record Clearance team as they have requested a meeting time change.

**Action Items**

Update database to change meeting times on Monday's 6:00p - 7:00p

[2020-10-16 01:02] Rankazze opened #338 "Meeting time Change Request BallotNav"
Overview

We need to change the meeting times for the BallotNav team as they have requested a meeting time change.

Action Items

Update database to change meeting times for BallotNav Tuesday meeting from "6:00PM - 7:30PM" to "5:00PM - 6:30PM"

[2020-10-16 22:36] alex-anakin commented on #338
The meeting time was changed. Please check it out the next Tuesday.

[2020-10-16 23:57] switchzer0 commented on #228
milestones created. @alex-anakin to revise as needed, review/draft labels, and apply milestones/labels to existing issues before closing issue.

[2020-10-17 22:01] switchzer0 opened #341 "Update getting up to speed links on wiki"
The getting started page requires a destination for the link to an interactive mockup and database schema of the product. This is blocked by finalizing v0.4 designs and data model

### Action Items
- [x] Add database schema URL (dependent on #278 data model review)
- [x] Add interactive mockup URL (dependent on #281 v0.4 designs)

[2020-10-17 22:42] switchzer0 commented on #263
added roadmap to [Wiki Introduction](https://github.com/hackforla/VRMS/wiki/Introduction)

[2020-10-17 22:42] #263 closed

[2020-10-17 22:50] switchzer0 commented on #9
Update: have made non-technical updates to wiki to ensure information is useful, current. Next steps to track down technical updates from various team members as needed
Blocks: time from @alex-anakin to identify additional technical areas for improvement
Availability: most days
ETA: December 1

[2020-10-17 22:53] switchzer0 commented on #187
slack requirements have been defined through both v0.4 UI/UX design and PRD.

[2020-10-17 22:53] #187 closed

[2020-10-17 22:56] switchzer0 commented on #29
UALs have been reviewed with architect, defined in PRD, designed into UI/UX, and situated in database schema

[2020-10-17 22:56] #29 closed

[2020-10-17 22:59] switchzer0 commented on #7
@alex-anakin is this completed via past UI/UX, SASS, and PRD, or redundant because it is so abstract?

[2020-10-17 23:01] switchzer0 commented on #138
@alex-anakin is this made redundant/obsolete due to revised MVP PRD and database schema, as well as new issues?

[2020-10-18 00:54] switchzer0 commented on #16
personas summarized atop each persona/user-story column

[2020-10-18 00:54] #16 closed

[2020-10-18 01:03] switchzer0 commented on #32
completed in PRD and UI/UX 1.0

[2020-10-18 01:03] #32 closed

[2020-10-19 04:49] alex-anakin opened #342 "Redirect user after successful login to /admin page"
### Overview
Currently, only users with the `admin` access level can log in. Redirect the user after successful login to the `/admin` page.

[2020-10-19 05:02] alex-anakin opened #344 "Clean up Visual Studio Code workspace file"
### Overview
The project should not contain tool-dependent files.

### Action Items

- [ ] Remove vrms.code-workspace file from the project.
- [ ] Add *.code-workspace to gitignore.

[2020-10-19 05:57] #298 closed, assigned to alex-anakin

[2020-10-19 07:02] #284 closed

[2020-10-19 07:20] #231 closed

[2020-10-19 16:35] patrickgus commented on #192
Progress: Was able to get a few test activity logs to render on the user profile. Next is to create a from for adding logs.
Blockers: None
Availability: Weekdays after 3pm
ETA: 1 week
Questions: Do we want a delete and/or edit functionality for each activity log?

[2020-10-19 21:11] #342 closed, assigned to alex-anakin

[2020-10-19 23:17] OlgaBilogurova commented on #306
Progress:
- Created the local branch. Preparing app-container, new components, routing, styles.
- Waiting until the design will move to the "final" screen in Figma according to the new workflow for moving designs into development.

Blocks: Blocked by not finalized design.
Availability: Weekdays 2-4pm
ETA: N/A

[2020-10-19 23:39] alex-anakin opened #346 "Use the VRMS host address for building Magic Link"
### Overview
We need to implement a mechanism for building Magic Link depending on the host of the application.

### Instructions
The easiest way to implement that is by using environment variables. Let's say if there is a variable `APP_HOST` in the `.env` file then the Magic Link mechanism uses its value. If there is no such variable then the default value `localhost:3000` should be used.

If the

[2020-10-20 00:17] patrickgus commented on #242
Progress: Just starting with some planning on how to approach this task.
Blockers: None
Availability: Weekdays after 3pm
ETA: 2-3 days

[2020-10-20 00:22] junganthonyy commented on #324
Hi Everyone. I just noticed that the name of this ticket and the text didn't line up. HelloGov was removed, but New Schools Today's meetings are still there. I can take care of this, but I'll need someone to give me access to the database.

[2020-10-20 01:35] cicyhou commented on #279
update - onboarding screens are complete and moved to "Approved" section in Figma. Adam had a few additional comments that I still need to address

ETA - next few days

Blockers - none

[2020-10-20 01:40] cicyhou commented on #281
Update - need to finalize profile, dashboard, single user and admin screen.
Blockers - not at the moment
ETA - 1 week

[2020-10-20 01:51] alex-anakin commented on #7
@switchzer0 it's completed.

[2020-10-20 01:51] #7 closed

[2020-10-20 01:53] alex-anakin commented on #138
@switchzer0 It's obsolete. UALs are designed and will be implemented in the v0.4 release.

[2020-10-20 01:53] #138 closed

[2020-10-20 01:56] nickbeaird commented on #136
Waiting on blocking PR to merge

[2020-10-20 01:58] nickbeaird commented on #295
Progress: The application runs locally. We have Github actions using docker containers to run unit tests on all PRs. We have a deployment to docker hub as part of the deploy process. Need to get a workin example in AWS.

Blockers: None

Availability: Between 3-430pm. Evening are hard as I work early.

ETA: A week or so.

[2020-10-20 02:31] awhig commented on #346
I believe this is doable by using the request hostname property.

It would involve modifying the call and function in:

user.controller.js
email.controller.js

      emailController.sendUserEmailSigninLink(req.body.email, jsonToken);

http://expressjs.com/en/api.html#req.hostname

req.hostname
Contains the hostname derived from the Host HTTP header.

When the trust proxy setting does not evaluate

[2020-10-20 02:41] alex-anakin commented on #295
Mostly done.

[2020-10-20 02:41] #295 closed, assigned to nickbeaird

[2020-10-20 02:44] alex-anakin commented on #329
Done

[2020-10-20 02:44] #329 closed, assigned to clockwerkz

[2020-10-20 02:45] ye-susan commented on #154
Progress: Slackbot is reading from the models, now I just need to create one more function for a list of users to send messages to (I'm thinking about using User model for User's account creation date and CheckIn Model for last date that user checked in -- this might change when we move to new models in the future....)
Blocks: markdown files with messages for newUsers
ETA: Aiming to create a PR th

[2020-10-20 02:51] switchzer0 commented on #30
@alex-anakin i think this will be superseded by new v0.4 PRD issues and should be closed as obsolete, but please confirm

[2020-10-20 02:52] switchzer0 commented on #6
@alex-anakin i believe this issue is obsolete and superseded by new data model changes ticket #278. should be closed? please confirm

[2020-10-20 03:11] Rankazze opened #347 "Meeting time Change Request Record Clearance"
### Changing existing event
Meeting time Change Request Record Clearance

If you are requesting changes for an existing event provide the following details:
* Record Clearance
* Weekly Team meeting
* Event type Project Meeting
* Monday
* Time (start and end)  Update database to change meeting times on Monday's 6:00p - 7:00p

### Creating new event
REPLACE THIS TEXT:
Provide the following details:

[2020-10-20 03:12] Rankazze commented on #337
Transferred request to Newly created Issue template for Meeting Change Requests

[2020-10-20 03:12] #337 closed, assigned to nobody

[2020-10-20 03:15] Rankazze commented on #323
Confirmed HelloGov is no longer displaying on PROD Project Meeting page.

[2020-10-20 03:15] #323 closed, assigned to junganthonyy

[2020-10-20 03:21] Rankazze opened #348 "Typo correction: Event cnanges issue Should be changes"
### Changing existing event cnanges issue template

### Action Item
Change word "cnanges"  to "Changes"

### Contact info
REPLACE THIS TEXT:
Provide your nickname in HackForLA slack  Rankazze
@alex-anakin

[2020-10-20 03:25] Rankazze opened #349 "Remove meeting time for NewSchoolToday"
### Changing existing event
REPLACE THIS TEXT
If you are requesting creating a Remove event then remove this topic.

If you are requesting changes for an existing event provide the following details:
* Project  NewSchoolToday (remove)
* Event name  Monday weekly meeting
* Event type Project Meeting
* Day of week  Monday
* Time (start and end)  We need to remove the meeting times for the NewSchoolT

[2020-10-20 03:25] Rankazze commented on #324
Transferred request to Newly created Issue template for Meeting Change Requests

[2020-10-20 03:25] #324 closed, assigned to nobody

[2020-10-20 03:37] Rankazze opened #350 "Community of Practice: Software Developers/Front end New Meeting Request"
### Changing existing event
REPLACE THIS TEXT

### Creating new event
REPLACE THIS TEXT:
Provide the following details:
* Project  Software Developers/Front end Group
* Event name  Weekly meeting
* Event type Community of Practice Meeting
* Day of week  Monday
* Time (start and end)  8pm - 9pm
* Location (can be remote):  Remote
* Use for check-ins (yes or no)  Yes

### Contact info
REPLACE THIS T

[2020-10-20 20:31] OlgaBilogurova opened #351 "Create 'Error' page"
### Overview
Create 'Error' page.
Add navigation to the error page in cases when `status code 404 - page not found`.
From this page add navigation to homepage.

### Resources/Instructions
The page should be implemented in the client folder `client-mvp-04`

[2020-10-20 21:26] alex-anakin commented on #346
@awhig sounds good. I assigned the task to you.

[2020-10-21 23:30] #346 closed, assigned to awhig

[2020-10-21 23:42] awhig commented on #344
Also should also remove .DS_Store file from repository.

[2020-10-21 23:57] awhig commented on #288
Is this still a priority? Looks like @ye-susan had done it on a testing environment awhile ago.

[2020-10-22 16:16] patrickgus opened #354 "Add edit functionality to Activity Logs"
### Overview
A user should be able to edit a single activity log in case they made a mistake. Related to #192

### Action Items
- [ ] Create PATCH route in back end
- [ ] Insert an edit button in front end
- [ ] Create an edit form
- [ ] Apply PACTH request from front end to back end

[2020-10-22 21:40] nickbeaird opened #355 "Refactor backend for magic link additions"
The recent magic link work was done quickly and requires some follow up. We aim to increase the testing and confidence of the backend and make sure that the methods are well named and communicated. I am making sure that the endpoints work as expected and cleaning up the organization along the way.

[2020-10-22 22:07] alex-anakin opened #356 "Make API protection consistent"
### Overview
The application uses CUSTOM_REQUEST_HEADER to protect API from unauthorized use. It's a pretty legacy solution. It should be fixed, but not the way by restricting everything. HackForLA website uses some of our API, so it shouldn't be protected to not make the HackForLA website team add changes to their codebase.

### Action Items

- [ ] Contact @ExperimentsInHonesty to figure out what

[2020-10-22 22:55] alex-anakin opened #357 "Make API HTTP codes and messages consistent across the application"
### Overview
Currently, there is some inconsistency in HTTP codes, error messages, and success responses for different routers:
https://github.com/hackforla/VRMS/tree/development/backend/routers

### Action Items

- [ ] Use HTTP status codes mentioned in the description for fixing all responses.
- [ ] Make error handling consistent.
- [ ] Make error messages consistent.
- [ ] Clean up mistakes.

#

[2020-10-22 23:16] alex-anakin opened #358 "Document VRMS API using Swagger UI"
### Overview
We need to have auto-generated API documentation. Swagger is a widely known framework for implementing this.

### Action Items
Follow documentation and article. The preferred Swagger version is 3.0.

### Resources/Instructions
* [Swagger UI](https://swagger.io/tools/swagger-ui/)
* [swagger-ui-express](https://www.npmjs.com/package/swagger-ui-express)
* [Documenting your Express API wi

[2020-10-22 23:24] ExperimentsInHonesty commented on #308
@alex-anakin When can this get resolved?  Even when manual it should take no more than two weeks and this has been outstanding for almost a month now.

[2020-10-23 01:03] alex-anakin commented on #350
@Rankazze Event created in the database.

[2020-10-23 01:24] Rankazze commented on #350
@alex-anakin Can you please add the Meeting title name Community of Practice: Software Developers/Front end

[2020-10-23 03:43] nickbeaird commented on #355
Do we need the answers Model? It is not being referenced anywhere. Any thoughts @alex-anakin ?

I added a commit to remove the Answer Model as it is not being called and the Question Model looks to have been refactored to house this information.

[2020-10-23 06:21] alex-anakin commented on #344
Visual Studio Code workspace file was not deleted from the repository.

[2020-10-23 07:19] alex-anakin commented on #350
@Rankazze Fixed. Please check it out.

[2020-10-23 17:50] switchzer0 commented on #278
Update: finalized `user` and `project`. Next steps to finalize `project team member`, `event`, and `check-in`
Blockers: meeting time with @alex-anakin and dev team members
Availability: most days
ETA: ~1 week

[2020-10-23 21:22] awhig commented on #344
@alex-anakin removed vscode file from repository

[2020-10-23 21:24] awhig commented on #356
Alex Anakin  1:26 PM
Let's use header scheme for everything that is not used outside. I already found that API for outside users has cors() parameter in methods. Probably CORS is enabled for everything else.

[2020-10-23 23:41] switchzer0 opened #360 "Update all UI Sass-variables based on finalized v0.4 style guide"
### Overview
@cicyhou has delivered a finalized style guide for v0.4, with updates to tooltip instructions and color scheme. Update UI Sass-variables to match.

### Action Items
- [x] Update all UI Sass variables

### Resources/Instructions
[Finalized v0.4 Style Guide (Figma)](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/?node-id=23471%3A0)

[2020-10-24 02:57] Rankazze commented on #350
@alex-anakin Confirmed.  Thanks!  I have informed Greg that the ticket has been completed.

[2020-10-24 02:57] #350 closed, assigned to alex-anakin

[2020-10-24 02:59] Rankazze commented on #338
Confirmed it displayed new time on Tuesday.

[2020-10-24 02:59] #338 closed, assigned to alex-anakin

[2020-10-24 18:08] nickbeaird commented on #355
Suggestion # 2: We should get rid of the Checkin model and move the list of attendees over to the event model. That and improve the attendee list in general. We should review what we need, because it seems like two paths.
 - Path 1 Projects: We need a list of people on the project. Add an array of user IDs on the project. This is likely a smaller list  each person is an active VRMS member.
 - Path

[2020-10-24 18:15] nickbeaird commented on #355
Suggestion # 3: We should move all checkUser api routes over to pathways on Auth, and we should verify the user's permissions when we do.

[2020-10-24 18:41] switchzer0 commented on #355
@nickbeaird Adam here.
- Question/Answer models: There is no functionality I'm aware of scoped for the next ~year that would require either model.
- Event/Checkin models: there are some reasons that I found to be persuasive for having these models separate, but I don't recall in detail. Coincidentally given your question, there is a meeting proposed to finalize the parameters for both of these mod

[2020-10-24 18:58] nickbeaird commented on #355
Great, once you know what you all hope to have, then I can move things around to organize the data.

[2020-10-24 21:35] nickbeaird commented on #357
The PR https://github.com/hackforla/VRMS/pull/361 solves the standard codes. It does not make error handling consistent.

[2020-10-24 22:29] #344 closed, assigned to awhig

[2020-10-26 22:03] OlgaBilogurova commented on #306
Progress:
- Added routing and navigation
- Covered existing components with unit tests
- On Friday was unblocked by the finalized v0.4 style guide #360 and need to update UI variables and styles for existing pages

Blocks: Blocked by #360
Availability: Weekdays 2-4pm
ETA: 2-3 days

[2020-10-26 22:07] OlgaBilogurova commented on #360
Progress: In progress from today
Blocks: None
Availability: Weekdays 2-4pm
ETA: 1-2 days or less

[2020-10-27 00:19] patrickgus commented on #242
Progress: None
Blockers: None
Availability: Weekdays after 3pm
ETA: 2-3 days

[2020-10-27 00:21] patrickgus commented on #192
Progress: Started to create a form to add new logs
Blockers: None
Availability: Weekdays after 3pm
ETA: 1 week

[2020-10-27 01:12] cicyhou commented on #281
Update - finalized onboarding screens, dashboard, project screen
Blockers - No
ETA - 1 week

[2020-10-27 01:13] cicyhou commented on #279
update - all except one screen of onboarding are in the final page
Adam will approve one screen

[2020-10-27 01:40] awhig commented on #356
I sent a DM to Bonnie   @ExperimentsInHonesty  regarding info of API usage, but have not heard back.

[2020-10-27 01:47] alex-anakin commented on #30
yes, it's outdated

[2020-10-27 01:47] #30 closed

[2020-10-27 01:48] alex-anakin commented on #6
sure, it's obsolete.

[2020-10-27 01:48] #6 closed

[2020-10-27 02:24] alex-anakin commented on #154
@ye-susan please add an update

[2020-10-27 05:58] #348 closed, assigned to alex-anakin

[2020-10-27 17:51] ye-susan commented on #154
Progress: Need to make a few more adjustments to the function (changing around the way I do my querying to the db)
Availability: Limited this week

[2020-10-28 19:17] awhig commented on #356
@alex-anakin CORS is implemented by the web server. Assuming nginx, you have to modify configuration files for the service. https://enable-cors.org/server_nginx.html. I think it would be difficult to have the app env. files be used to do this. Do you mean to do CORS like behavior in the api code in the router? FYI, I'm still waiting for info in regards to API use from Bonnie.

[2020-10-28 19:49] alex-anakin opened #364 "Create EventTemplate data model"
### Overview
Create a Mongoose schema `EventTemplate` containing the following properties:

[code]

### Action Items

- [ ] Create a schema
- [ ] Create the schema test

### Resources/Instructions
https://github.com/hackforla/VRMS/tree/development/backend/models

[2020-10-28 20:05] alex-anakin opened #365 "Create ModificationLog data model"
### Overview
`ModificationLog` stores a history of modification of any object type. We can't use `ObjectId` for a reference but using a String representation of `Id` is Ok here.

Create a Mongoose schema `ModificationLog` containing the following properties:

[code]

### Action Items

- [x] Create a schema
- [x] Create the schema test
- [x] Define compound index using `objectId` and `objectType`

[2020-10-28 20:17] alex-anakin opened #366 "Create UserProfile data model"
### Overview
`UserProfile` is a new model for user representation in the database. We need to create a separate schema of the user to not carry the burden of maintenance legacy `User` records in parallel with new ones.

Create a Mongoose schema `UserProfile` containing the following properties:
[code]

### Action Items

- [ ] Create a schema
- [ ] Create the schema test

### Resources/Instructions

[2020-10-28 22:59] awhig commented on #365
@alex-anakin for this schema, it looks like you want to store arbitrary objects  in the newState field. We have the objectId in another field, do we need to store object type in another field?

[2020-10-28 23:25] nickbeaird opened #369 "Enable integration tests on github actions CI"
Issue: We are currently using Github Actions for a CI pipeline. Due to issues with Jest in GH Actions, we are not able to run the jest backend tests. The tests are not able to see the environment variables, which are being set currently with Github Action secrets.

Review this commit and see if you can get the integration tests in the backend container working in GH Actions. https://github.com/hac

[2020-10-28 23:35] nickbeaird commented on #364
I like that we have simplified a few fields for the event, but there are two observations.

1. We need a way to associate Projects and Events. We lost that connection. Why are we removing the project from the Event? I would say that the 1:1 mapping before made sense. What is your alternative on this?
2. What fields are required? And what fields are unique? We should figure that out.

[2020-10-28 23:36] nickbeaird commented on #364
I like that we have simplified a few fields for the event, but there are two observations.

1. We need a way to associate Projects and Events. We lost that connection. Why are we removing the project from the Event? I would say that the 1:1 mapping before made sense. What is your alternative on this?
2. What fields are required? And what fields are unique? We should figure that out.

[2020-10-28 23:39] nickbeaird commented on #366
I like that we have simplified a few fields for the user, but there are a few observations.

1. How will see what a user's projects are? We should have a many to many relationship here. If not, then how are you assuming you will find a user's projects?
2. What fields are required? And what fields are unique? We should figure that out.
3. What is our migration strategy? Are we allowing some feature

[2020-10-29 00:26] awhig opened #370 "backend/models/test.js files are not using expect method correctly"
### Overview
These test files need to use expect(VAL).toBe(VAL), which they are currently not doing.

### Action Items
REPLACE
    expect(savedData.name === submittedData.name);
WITH
    expect(savedData.name).toBe(submittedData.name);

@nickbeaird brought this up in a PR. I looked at all the test.js files for models, and they all were using expect incorrectly.

[2020-10-29 16:15] switchzer0 commented on #278
Update: time spent on resolving database schema, user access level scheme, and some of project team member (now named `ProjectMembership`). Still need to review ProjectMembership, Event, Checkin.
Blockers: meeting time with @alex-anakin and dev team members
Availability: most days except this Friday
ETA: ~1 week

[2020-10-29 22:52] OlgaBilogurova commented on #360
Done.
-  Updated all _colors.scss variables based on v0.4 style guide
-  Added Open Sans Italic font, add new font-face
-  Updated _typography.scss variables based on v0.4 style guide
-  Changed _base.scss based on v0.4 style guide
-  Updated App.scss styles
-  Created index.scss file inside sass/variables to export vars
-  Updated names for UI vars for Home component
-  Updated names for UI vars