[2020-10-29 23:28] OlgaBilogurova opened #371 "Implement UI Kit"
### Overview
Implement UI Kit as a separate web-page inside `client-mvp-04` that will contain UI elements developed using sass-variables and based on finalized v0.4 Style Guide.  

UI Kit is a set of the most basic elements (headers, buttons, inputs, links, etc.) displayed on the web-page.
Will help developers determine, which elements will be used throughout the application, and what kind of temp

[2020-10-29 23:36] OlgaBilogurova opened #372 "Cover `client-mvp-04` existing components with unit tests"
### Overview
Cover `client-mvp-04` existing components with unit tests.

### Action Items
Add unit tests to components:
- [x] App.js
- [x] Header
- [x] Footer
- [x] Home
- [x] Dummy
- [x] Error
- [x] Button
- [x] Link

[2020-10-29 23:55] OlgaBilogurova commented on #306
Done

[2020-10-29 23:55] OlgaBilogurova commented on #321
Done

[2020-10-29 23:55] OlgaBilogurova commented on #351
Done

[2020-10-30 00:00] OlgaBilogurova commented on #371
Done
UI Kit available for devs:
http://localhost:3001/dev-ui-kit

[2020-10-30 00:02] OlgaBilogurova commented on #372
Done
Test Suites: 8 passed, 8 total
Tests: 21 passed, 21 total

[2020-10-30 18:12] OlgaBilogurova opened #374 "Epic: Create new UI components"
### Overview

Create new UI elements (based on finalized 0.4 Style Guide) and add them to UI Kit.

Elements that should be created are inside yellow borders.

![el-1](https://user-images.githubusercontent.com/11681030/97739745-7f212b80-1a9d-11eb-8c2a-0cef2f182a9d.png)
![el-2](https://user-images.githubusercontent.com/11681030/97739750-821c1c00-1a9d-11eb-8734-9af0c1cfad75.png)

Find mockups here =>

[2020-10-30 18:24] OlgaBilogurova opened #375 "Update UI-Development-Guideline"
### Overview

Update UI-Development-Guideline with actual info for `client-mvp-04`.

### Resources/Instructions
[UI-Development-Guideline](https://github.com/hackforla/VRMS/wiki/UI-Development-Guideline)
#371

[2020-10-30 19:07] awhig opened #376 "Prevent Admin Login with empty email"
### Overview
This is the same as bug #258, but on the admin login page.

Disable the login button when email field is blank.

[2020-10-31 20:55] ExperimentsInHonesty commented on #308
@alex-anakin please provide an update @switchzer0 @Rankazze

[2020-11-01 18:30] patrickgus commented on #242
@alex-anakin and I discussed this task and found that there are big differences between the old functionality and new implementation. It is much more complex to complete and we decided to mark this as done so we can focus on more important tasks and revisit this later.

[2020-11-01 18:30] #242 closed

[2020-11-02 17:08] patrickgus commented on #192
Progress: Finished the form for adding new logs and added a link to the form on the user profile page.
Blockers: None
Availability: Weekdays after 3pm
ETA: 1 week

[2020-11-02 18:01] #366 closed, assigned to awhig

[2020-11-02 18:01] #364 closed, assigned to awhig

[2020-11-02 18:41] #376 closed, assigned to awhig

[2020-11-02 18:45] OlgaBilogurova commented on #258
This task was done, as #376

[2020-11-02 18:46] #258 closed

[2020-11-02 18:49] ExperimentsInHonesty commented on #356
These are the apps that are currently approved

![Screen Shot 2020-11-02 at 10 48 50 AM](https://user-images.githubusercontent.com/37763229/97906744-0a4a2d80-1cf9-11eb-9c26-1c252e26555d.png)

[2020-11-02 18:52] OlgaBilogurova opened #378 "Fix logout button and user's name in footer"
### Overview

The logout button doesn't work and the user's name displayed as 'undefined'.

![Logout](https://user-images.githubusercontent.com/11681030/97906782-1afaa380-1cf9-11eb-960b-938c3769d7ce.png)

[2020-11-02 18:53] ExperimentsInHonesty commented on #356
Here are all the apis hackforla.org  uses: https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture#api-endpoints

```# 1 ``` is the one from vrms
see the details in this file by searching for api
https://github.com/hackforla/website/blob/gh-pages/project-meetings.html

[2020-11-02 18:56] #260 closed

[2020-11-02 18:58] awhig commented on #356
API used by hackforla.org is here:

[code]

[2020-11-02 20:35] OlgaBilogurova opened #379 "Fixes for Admin"
### Action Items

- [x] Add autoComplete to email field in AdminLogin.js

- [x] Check if next event exists to show header and check-in is ready to show a header with upcoming events

- [x] Add an additional color to chart colors, because of having a new event type 'Weekly Meeting'

[2020-11-02 21:04] #360 closed, assigned to OlgaBilogurova

[2020-11-02 21:08] #306 closed, assigned to nobody

[2020-11-02 21:09] #321 closed, assigned to OlgaBilogurova

[2020-11-02 21:09] #351 closed, assigned to OlgaBilogurova

[2020-11-02 21:09] #371 closed, assigned to OlgaBilogurova

[2020-11-02 21:09] #372 closed, assigned to OlgaBilogurova

[2020-11-02 21:29] OlgaBilogurova commented on #322
@ChrxsCrxss this task is unblocked.
Please, pull changes from `development` branch and follow instructions from `client-mvp-04/README.md`.

[2020-11-02 21:49] alex-anakin commented on #308
@ExperimentsInHonesty Done.

[2020-11-02 21:54] alex-anakin commented on #349
@Rankazze Done.

[2020-11-02 21:54] #349 closed, assigned to alex-anakin

[2020-11-02 21:56] alex-anakin commented on #347
@Rankazze Done.

[2020-11-02 21:56] #347 closed, assigned to alex-anakin

[2020-11-02 23:09] alex-anakin commented on #322
Hey @ChrxsCrxss, Figma mockups for the task were updated. Please take a look.

[2020-11-02 23:46] ExperimentsInHonesty commented on #308
@alex-anakin Agreed thank you.

[2020-11-02 23:47] #308 closed, assigned to alex-anakin

[2020-11-02 23:49] ye-susan commented on #154
Created PR: https://github.com/hackforla/VRMS/pull/382

I'll have to take some time off VRMS to focus on work, so I wanted to submit my PR with what I currently have.

Current functionality:
*  query the db for user accounts that are <= 30 days old
*  message user from markdown via Slackbot direct message

Improvements Needed:
 *  check if user has already attended meetings, so they won't receive

[2020-11-03 00:34] #379 closed, assigned to OlgaBilogurova

[2020-11-03 02:47] cicyhou commented on #281
Updated - only screen left is the admin approval screen
Blockers - none
ETA - 2 days

[2020-11-03 02:47] cicyhou commented on #279
Update - complete
Will close the issue once Adam signs off this comment

[2020-11-03 03:03] nickbeaird commented on #355
Progress: This is done. We had a data model checkin this last week, which answered a lot of the questions that I had.

This will be done as soon after this meeting.

[2020-11-03 03:58] switchzer0 commented on #279
you're good to go, you have all the approvals you need via figma :) I'll leave you the honor of clicking "close w/ comment" @cicyhou

[2020-11-03 04:00] #279 closed

[2020-11-03 04:42] #355 closed, assigned to nickbeaird

[2020-11-03 04:42] #357 closed, assigned to nickbeaird

[2020-11-03 05:25] OlgaBilogurova opened #384 "Create checkboxes as a new UI element"
### Overview

Create checkboxes as a new UI element and reusable component (based on finalized 0.4 Style Guide).

Find mockup here => [Finalized v0.4 Style Guide (Figma), page 2](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25453%3A28)

![check-boxes](https://user-images.githubusercontent.com/11681030/97950835-0516ce00-1d4d-11eb-828f-a45eb3c5e541.png)

### Action Items

- [

[2020-11-03 07:39] ye-susan opened #385 "Improvements to Slack bot (to message new users)"
### Overview
- This issue is a continuation of issue #154.
The slackbot for sending new users (account created 30 days or less) messages and reminders currently has the functionality to
* query the db for user accounts that are <= 30 days old
* message user from markdown via Slackbot direct message

### Action Items -- Improvements Required
- check if user has already attended meetings, so they wo

[2020-11-03 22:23] alex-anakin opened #386 "Implement "Sign In" page"
### Overview
Implement [page](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25461%3A3337) for logging in the application.

### Action Items

- [x] The "Sign in" button is disabled by default.
- [x] Enable the "Sign in" button when the input value is not empty (consider spaces as empty input).
- [x] After clicking the "Sign in" button validate inputted symbols in the client u

[2020-11-04 03:01] alex-anakin commented on #124
This task is obsolete now.

[2020-11-04 03:01] #124 closed

[2020-11-04 03:06] #315 closed, assigned to nobody

[2020-11-04 04:17] alex-anakin commented on #365
@awhig This is a good idea. Let's create a field `objectType: String` with enum value `'UserProfile', 'EventTemplate', 'ProjectInfo', 'ProjectMembership'`. Also please define compound index using `objectId` and `objectType`.
The task description is updated.

[2020-11-04 06:17] alex-anakin opened #388 "Implement a service for operating ModificationLog entity"
The task is blocked by:
- [ ] #365

### Overview
ModificationLog handling doesn't require implementing API now. We need to have a service for calling it from other services or controllers to save or get logs.

### Action Items

- [ ] Add `services/modificationLog.service.js` into `backend` folder.
- [ ] Implement `saveLog(authorEmail, object)` function without return value.
- [ ] Implement `getLog

[2020-11-06 04:20] #356 closed, assigned to awhig

[2020-11-06 20:58] switchzer0 commented on #278
Finished reviewing all models/values. Drafted dictionaries. Finalized UAL scheme. @alex-anakin reviewing some final relationship issues between projects<->events and GitHub teams questions before we close this out
Blockers: none
Avails: most days
ETA: a few days

[2020-11-08 00:42] nickbeaird opened #390 "Add mvp container to local development"
Allow accessing the mvp frontend using docker and docker-compose.

[2020-11-08 02:51] nickbeaird opened #393 "Make standards for ports used"
We aim to standardize the development ports to have consistency.

Ports:
- Client/Frontend applications: 300x (i.e. client and mvp)
- Backend applications: 400x (i.e. api)
- Backend services: 4x0x (i.e. slack)
- Load balancers: 500x (i.e. nginx)

[2020-11-08 03:20] nickbeaird opened #395 "Streamline readme for new developers"
Update the readme for new developers looking at the project for the first time.

Goals:
1. Simplify the readme to show how to setup and how to run tests.
2. Move contributing related information to a contributing.md file.
3. Move all new users to using Docker. Users not using Docker will have already set themselves up for this type of development.

[2020-11-08 23:05] nickbeaird commented on #320
This is solved by #396

[2020-11-08 23:05] #320 closed, assigned to nobody

[2020-11-08 23:06] nickbeaird commented on #313
This is no longer an issue as we are moving with a new frontend.

[2020-11-08 23:06] #313 closed, assigned to nobody

[2020-11-09 00:59] switchzer0 opened #399 "Manually Update BallotNav meeting times in VRMS database"
### Overview
We need to add/change the team meeting times for BallotNav so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (day of week, start time am/pm, duration):
Tuesday, 5:00pm, ~1.5 hours~ 1 hour
Remove the others: Saturday and Thursday

### What is your project page URL?
https

[2020-11-09 01:07] switchzer0 commented on #283
@nickbeaird does this relate only to automating Slack DM/channel messaging or globally including adding/checking users on workspace, channels, etc.?

[2020-11-09 01:11] nickbeaird commented on #283
This relates to all things Slack related. The way that we are using the Slack app is a strange work-around and is causing us issues with our development pipelines as well as our tests. This ticket is to address those specific concerns.

[2020-11-09 23:10] OlgaBilogurova opened #400 "Cover implemented LoginContainer functionality with tests"
### Overview

Need to cover implemented LoginContainer functionality with unit tests (mock data, test logic).

### Resources/Instructions
Implement "Sign In" page #386

[2020-11-09 23:11] OlgaBilogurova commented on #386
Done.
Next step - cover implemented LoginContainer functionality with unit tests (mock data, test logic).

[2020-11-10 00:36] patrickgus commented on #192
Progress: Working on hooking up the back end to the front end form so that the newly added logs will render on the profile page.
Blockers: None
Availability: Weekdays after 3pm
ETA: 1 week

[2020-11-10 00:51] #390 closed, assigned to nickbeaird

[2020-11-10 01:50] ChrxsCrxss commented on #358
I have documented the majority of the schemas. The endpoints still have to be documented. Some front-end work may be necessary to expose the documents to the public.

[2020-11-10 02:05] #393 closed, assigned to nickbeaird

[2020-11-10 02:17] #386 closed, assigned to OlgaBilogurova

[2020-11-10 03:08] switchzer0 commented on #341
added interactive mockup link. blocked from finishing by #278 (finalizing database schema) ETA a few days until unblocked and then trivial to finish

[2020-11-10 03:55] #369 closed, assigned to nickbeaird

[2020-11-10 05:07] awhig opened #403 "Mongoose findOneAndUpdate must use new parameter to return updated record"
### Overview
There are two places in the backend code that are using findOneAndUpdate to update and return a DB record. They return the record in the response. I assume this should be the updated record.

By default the pre-updated record is returned, unless a "new" option is set to true. This is currently not being done.

### Action Items
Update DB call to pass "new" option as true.

### Resource

[2020-11-10 19:23] OlgaBilogurova commented on #333
Everything is working, closed the task

[2020-11-10 19:23] #333 closed, assigned to nickbeaird

[2020-11-10 23:20] alex-anakin opened #407 "Implement a service for operating UserProfile entity"
The task is blocked by:
- [x] #388
- [x] #410

### Overview
For the application 3-layered structure implement a service to operate [UserProfile](https://github.com/hackforla/VRMS/blob/development/backend/models/userProfile.model.js) entity

### Action Items

- [x] Add `userProfile.service.js` into `backend/services` folder.
- [x] Implement `createUser(userProfile, authorEmail)` function that retur

[2020-11-10 23:20] alex-anakin opened #408 "Implement authentication by Magic Link in `client-mvp-04`"
### Overview
Implement authentication using the Magic Link approach in `client-mvp-04`.

### Action Items

- [x] Reuse "Magic link" [implementation](https://github.com/hackforla/VRMS/blob/development/client/src/hooks/useProvideAuth.js) from the current client.
- [x] Implement sending the Magic link to a user after clicking the "Sign In" button on the "Sign In" page.
- [x] Implement a new [page](ht

[2020-11-11 08:48] alex-anakin opened #410 "Add unique index for UserProfile signupEmail"
### Overview
User email should be a unique index in the `UserProfiles` collection.

### Action Items

- [ ] Add the following properties to the `UserProfile` model `signupEmail` definition: `unique: true, index: true, required: true`.
- [ ] Create a test for confirming that saving email duplicates is impossible. If the test works as expected the task is done.
- [ ] If the test doesn't work apply a

[2020-11-12 19:56] rfambro2 opened #412 "Update Weekly Meeting Time - Civic Opportunity Project."
### Overview
We need to add/change the team meeting time for the Civic Opportunity Project so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (day of week, start time am/pm, duration):
EXAMPLE: Monday, 7:30pm, 2 hours

Sunday, 9am PST, 1 hour
Thursday, 4pm PST, 1 hour

### What is yo

[2020-11-12 19:57] djbowers opened #413 "Add cookie for email address when logging in returning user"
### Overview
It would be nice if VRMS would store the user's email address so that users don't have to type it in again every time they log in. This could be accomplished with a cookie or any other method of storage.

### Action Items
Save the user's email address so that it auto-populates on subsequent logins.

[2020-11-13 05:03] alex-anakin opened #414 "Implement "Main Dashboard" page"
### Overview
Implement the "Main Dashboard" page as shown on the [mockup](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25466%3A3386).

### Action Items
Currently, the page doesn't have access to real data.

- [x] The task is blocked by #425. If this task is not implemented, please implement it first.
- [x] Implement the page component `dashboard`. It should be accessible fr

[2020-11-13 23:45] alex-anakin commented on #18
Obsolete

[2020-11-13 23:45] #18 closed

[2020-11-13 23:46] alex-anakin commented on #31
Obsolete

[2020-11-13 23:46] #31 closed

[2020-11-13 23:46] alex-anakin commented on #41
Obsolete

[2020-11-13 23:46] #41 closed

[2020-11-13 23:46] alex-anakin commented on #45
Obsolete

[2020-11-13 23:46] #45 closed

[2020-11-13 23:47] alex-anakin commented on #69
Obsolete

[2020-11-13 23:47] #69 closed

[2020-11-13 23:48] alex-anakin commented on #79
Obsolete

[2020-11-13 23:48] #79 closed

[2020-11-13 23:51] alex-anakin commented on #125
Obsolete

[2020-11-13 23:51] #125 closed

[2020-11-13 23:51] alex-anakin commented on #70
Obsolete

[2020-11-13 23:51] #70 closed

[2020-11-13 23:51] alex-anakin commented on #190
Obsolete

[2020-11-13 23:51] #190 closed

[2020-11-13 23:52] alex-anakin commented on #182
Obsolete

[2020-11-13 23:52] #182 closed

[2020-11-13 23:53] alex-anakin commented on #181
Obsolete

[2020-11-13 23:53] #181 closed

[2020-11-13 23:53] alex-anakin commented on #191
Obsolete

[2020-11-13 23:53] #191 closed

[2020-11-13 23:54] alex-anakin commented on #179
Done
https://docs.google.com/document/d/16VvC0fbaXsvEQkQaVSj8dG3wFEHgErbjJ6H3akSUoVM/edit

[2020-11-13 23:54] #179 closed

[2020-11-13 23:55] alex-anakin commented on #174
Obsolete

[2020-11-13 23:55] #174 closed

[2020-11-13 23:56] alex-anakin commented on #161
Duplicate of #192

[2020-11-13 23:56] #161 closed

[2020-11-14 01:14] switchzer0 commented on #399
if this hasn't been completed yet, please note that the stakeholder has requested that the meeting length should in fact be 1 hour: 5-6pm

[2020-11-14 01:31] alex-anakin commented on #214
Done

[2020-11-14 01:31] #214 closed

[2020-11-14 01:46] alex-anakin commented on #334
Obsolete

[2020-11-14 01:46] #334 closed, assigned to nobody

[2020-11-14 04:42] alex-anakin opened #415 "Write proper text for VRMS magic link"
### Overview
Currently, the Magic link email looks like:
![Login-to-VRMS-email](https://user-images.githubusercontent.com/11644789/99139743-42eae080-25f0-11eb-895f-63ed3acbffcb.png)

We need to improve the email's subject and text.

### Action Items

- [x] Add a comment to the task with improved subject and text.

[2020-11-14 09:03] #410 closed, assigned to awhig

[2020-11-15 00:08] OlgaBilogurova commented on #400
Installed new packages for `client-mvp-04` to mock data: "redux-mock-store", "jest-fetch-mock".
Mocked redux-store, fetch, userService, historyPush.

Covered with tests:
- userService `services/user.service.test.js`
- emailValidation `utils/validation/validation.test.js`
- loginContainer `login/loginContainer.test.js`

![tests_all](https://user-images.githubusercontent.com/11681030/99159814-1b0188

[2020-11-15 16:14] switchzer0 commented on #415
@alex-anakin a few Qs:
- Is it burdensome to pull firsttname from user in the DB? (just a nice to have)
- How long until the link expires?
- Will users only have to do magic link 1x per device/browser unless they actively log out, or every single time?
- I think in the interest of time let's do plaintext for now but is this something we could shift to pretty HTML in v0.5+?

[2020-11-15 16:33] switchzer0 commented on #413
@alex-anakin came as a this user request but aligns 1:1 with our release plan. Please add details per [PRD 1.04](https://docs.google.com/document/d/16VvC0fbaXsvEQkQaVSj8dG3wFEHgErbjJ6H3akSUoVM/edit#heading=h.h4uvf9jro82u) or close as a duplicate.

[2020-11-15 20:33] #403 closed, assigned to awhig

[2020-11-15 22:17] alex-anakin opened #417 "Suppress temporarily the test causing GitHub actions failure"
### Overview
The test https://github.com/hackforla/VRMS/blob/development/backend/config/auth.config.test.js fails on GitHub actions but passes locally. We need to suppress it or ignore programmatically, or just comment out.

### Action Items

- [ ] Disable the test using any approach
- [ ] Add TODO to turn the test on after fixing GitHub actions.

[2020-11-16 06:05] alex-anakin opened #418 "Implement a controller for handling UserProfile API endpoints"
The task is blocked by:
- [x] #407
- [x] #431

### Overview
Implement a controller for handling [UserProfile](https://github.com/hackforla/VRMS/blob/development/backend/models/userProfile.model.js) API endpoints.

### Action Items

- [ ] Add `userProfile.controller.js` into `backend/controllers` folder.
- [ ] Implement POST `/userProfiles` API endpoint that returns the created `userProfile` value

[2020-11-16 07:13] alex-anakin commented on #412
Done

[2020-11-16 07:19] alex-anakin commented on #399
Done

[2020-11-16 08:25] alex-anakin commented on #415
@switchzer0
1. We can do that easily.
2. 15 minutes
3. Current implementation requires to log in every single time. [Feature](https://docs.google.com/document/d/16VvC0fbaXsvEQkQaVSj8dG3wFEHgErbjJ6H3akSUoVM/edit#heading=h.a6rvqzgtch6l) will be implemented for the MVP version.
4. We can use HTML right now. But the complex design of the email is time-consuming. So yes, let's stay on a simple design f

[2020-11-16 08:35] alex-anakin commented on #413
Duplicate

[2020-11-16 08:35] #413 closed, assigned to nobody

[2020-11-16 21:05] #370 closed, assigned to awhig

[2020-11-16 22:30] switchzer0 commented on #218
whoever picks this up should discuss current status with @switchzer0 before proceeding since this issue has aged significantly in the icebox

[2020-11-16 22:45] switchzer0 commented on #415
### Proposed text
**Subject:** Your Hack for LA VRMS Login
**Sender Name:** Hack for LA
**Email copy:**
Hi User-FirstName, here's your magic link to access VRMS. It expires after 15 minutes.

[Click here]() to login or paste this URL into your browser: [https://URL.com](https://URL.com)

[2020-11-16 22:46] #415 closed, assigned to switchzer0

[2020-11-16 22:48] switchzer0 commented on #399
Thanks for handling these. Did karen confirm this is good? if not, I will handle DMing her. Same question for Ray on the other ticket.

[2020-11-16 23:27] patrickgus commented on #192
Progress: Refactoring so that it is contained in its own component. Still need to hook up to the back end.
Blockers: None
Availability: Weekdays after 3pm
ETA: 1 week

[2020-11-17 00:17] OlgaBilogurova commented on #408
Progress:

- Learned resources about the magic link approach and implementation from the current client
- Implemented sending the Magic link to a user after clicking the "Sign In" button

Blocks: None
Availability: Weekdays
ETA: 1 week

[2020-11-17 00:19] OlgaBilogurova commented on #375
Progress: None
Blocks: None
Availability: Weekdays
ETA: 1-2 Weeks

[2020-11-17 02:46] nickbeaird commented on #136
After talking with Alex, we are going to close this ticket and reimplement in the new MVP when that is applicable.

[2020-11-17 02:46] #136 closed

[2020-11-17 02:47] nickbeaird commented on #154
This work is being held on hold for the time being until we determine the best way to implement with the mvp.

[2020-11-17 02:49] nickbeaird commented on #395
Done and the corresponding PR needs to be approved and merged.

[2020-11-17 02:53] #322 closed, assigned to ChrxsCrxss

[2020-11-17 03:06] awhig commented on #407
Will get started on this once ModificationLog Service is merged.

[2020-11-17 03:17] cicyhou commented on #281
Update - finished admin/team request screens today.
Next step - finalize the screens with Adam
Blockers - None

[2020-11-17 03:35] switchzer0 commented on #412
I will be corresponding with stakeholder to confirm user acceptance. ETA this week.

[2020-11-17 03:36] switchzer0 commented on #399
I will be corresponding with stakeholder to confirm user acceptance. ETA this week.

[2020-11-17 03:54] awhig commented on #417
This is done. test.skip() was used.

[2020-11-17 03:55] #417 closed, assigned to nobody

[2020-11-17 03:56] alex-anakin commented on #153
Obsolete

[2020-11-17 03:56] #153 closed

[2020-11-17 04:28] awhig opened #422 "Exception in startup of slack.router.js in tests"
### Overview
Fix this.

[nodemon] starting `node server.js`
(node:82205) UnhandledPromiseRejectionWarning: ReferenceError: app is not defined
    at /Users/rcook/Documents/hackforla/vrms/code/vrms/backend/routers/slack.router.js:23:5
    at Object.<anonymous> (/Users/rcook/Documents/hackforla/vrms/code/vrms/backend/routers/slack.router.js:25:5)
    at Module._compile (internal/modules/cjs/loader.j

[2020-11-17 04:44] OlgaBilogurova opened #424 "Cover CreateAccountContainer functionality with tests"
### Overview
Need to cover implemented CreateAccountContainer functionality with unit tests (mock data, test logic).
It's the next task after finishing #322.

[2020-11-17 06:54] OlgaBilogurova opened #425 "Implement 'Hamburger' Menu"
### Overview
Implement "Main Dashboard" Hamburger Menu as shown on the

- [Open menu mockup](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25464%3A3482),

- [Closed menu mockup](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25466%3A3365) (see just Hamburger icon in top left of dashboard screen)

### User Story
As a general user, I want to use the hambu

[2020-11-17 06:56] #400 closed, assigned to OlgaBilogurova

[2020-11-17 14:22] rfambro2 commented on #412
Should the meeting times on the HfLA website indicate timezones?

[2020-11-17 18:19] #365 closed, assigned to awhig

[2020-11-17 18:19] #388 closed, assigned to awhig

[2020-11-17 19:12] #282 closed

[2020-11-17 21:58] awhig commented on #407
@alex-anakin I think this requirement for update

Treat empty, null, undefined values of fields as no-change

Should be:

Treat undefined values of fields as no-change

Otherwise if a field is set once, we can never remove it. Additionally, this is how mongoose works. If it's not defined on the update data, it's not changed. If it is set, with empty string or null, it sets this value.

[2020-11-17 22:05] awhig commented on #407
@alex-anakin This requirement,

Make a record in ModificationLogs collection. Use the user email for the author of changes.

You want to use the user email of the userProfile record that is being updated as the author? Shouldn't this be an email, of the user calling the create/update? Which could be anyone who has rights to make these updates.

Do we have a context User object available somewhere

[2020-11-18 00:23] awhig commented on #407
@alex-anakin I see in #418 that there is some business logic rules. Should these be in the service instead of the controller?

Validate firstName, lastName as non-empty String. Don't allow the following characters: {, $, :, }. Limit the length by 50 symbols
Validate signupEmail and googleEmail as an email using regexp pattern from email validation https://github.com/hackforla/VRMS/blob/development

[2020-11-18 00:27] switchzer0 commented on #399
requested UAT w/ stakeholder

[2020-11-18 00:33] switchzer0 commented on #412
requested UAT w/ stakeholder.

@rfambro2 looks like none of them do currently, i think that's a question of how the website calculates/displays times. I believe someone mentioned it displays in local time based on user's browser/system clock? Not sure...we have been entering the data as provided by stakeholders. FYI, a forthcoming Q1 2021 release of VRMS will include a timezone variable in the dat

[2020-11-18 00:48] awhig commented on #407
Also, During creation of User Profile, I've added logic to lower case the email address.

[2020-11-18 01:07] switchzer0 commented on #399
stakeholder approved. done.

[2020-11-18 01:07] #399 closed, assigned to switchzer0

[2020-11-18 02:06] rfambro2 commented on #412
@switchzer0 - You are correct in that it displays times based on the user's local browser settings/time zones. Thanks for your help! I think we are set.

[2020-11-18 02:34] switchzer0 commented on #412
approved by user. done.

[2020-11-18 02:34] #412 closed, assigned to switchzer0

[2020-11-18 06:12] alex-anakin opened #428 "Implement "Code of Conduct" page"
### Overview
Implement the "Code of Conduct" page as shown on the [mockup](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25466%3A3493).

### Action Items

- [x] The task is blocked by #429. If this task is not implemented, please implement it first.
- [x] Implement the page component `code-of-conduct`. It should be accessible from a browser by direct link `<host>/code-of-con

[2020-11-18 08:48] alex-anakin commented on #407
I agree with that. I fixed the requirement.

[2020-11-18 08:55] alex-anakin commented on #407
We don't have a context User object and probably will not have it in the nearest future.
Let's add a parameter into the methods like the following: `createUser(userProfile, authorEmail)`, `updateUser(userProfile, authorEmail)`. It will be a controller's responsibility to pass the correct author depending on specific API.

[2020-11-18 09:24] alex-anakin commented on #407
This is a good point but it requires some work from my side. I will add a couple of tasks related to this and we will update the service. We can merge `UserService` without this validation.

[2020-11-18 19:13] OlgaBilogurova opened #429 "Create a progress bar as a new UI element & reusable component"
### Overview

Create a progress bar as a new UI element and reusable component (based on finalized 0.4 Style Guide).

Find mockup here => [Finalized v0.4 Style Guide (Figma), page 2](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25453%3A28)

![processing](https://user-images.githubusercontent.com/11681030/99574836-b85a0680-298c-11eb-8e45-b8676c405c8f.png)

### Action Items

[2020-11-18 19:18] OlgaBilogurova commented on #374
Created a new task #429

[2020-11-19 04:24] awhig commented on #407
@alex-anakin I've made the authorEmail change.

[2020-11-20 03:37] #422 closed, assigned to awhig

[2020-11-20 07:41] alex-anakin opened #430 "Implement custom errors"
### Overview
We need to use custom errors to conveniently differentiate the cause of possible issues or cases when something goes wrong.

### Action Items
- [x] Add `errors` directory into `backend` folder.
- [ ] Create the `ValidationError` class in `errors/validation.error.js` as explained in the article below.
- [x] Create the `DatabaseError` class in `errors/database.error.js` as explained in

[2020-11-20 07:52] alex-anakin opened #431 "Implement backend validation"
The task is blocked by:
- [x] #430

### Action Items

- [x] Add `utils/validator.js` into `backend` folder.
- [x] Implement `isNotEmpty` static function to check a String value to be defined and not null. Also check that String doesn't consist of the whitespace characters only (space, tab, no-break space, etc.).
- [x] Implement `isSafe` static function to check a String value doesn't contain the f

[2020-11-22 04:59] switchzer0 commented on #278
completed review of all models. will review dictionaries and add "event template" model to document in coming few days
Blockers: none
ETA: monday eve after meeting w/ Alex

[2020-11-22 04:59] switchzer0 opened #433 "Document database schema based on updated data models"

[2020-11-23 18:39] OlgaBilogurova opened #434 "Add preloader"
### Overview

Create a component to preload data before rendering the main content (when fetching data from API, calculating stats, etc).

[2020-11-23 18:51] OlgaBilogurova opened #435 "Update the Magic link email's subject and text"
### Overview
Need to update the Magic link email's subject and text:

**Subject:** Your Hack for LA VRMS Login
**Sender Name:** Hack for LA
**Email copy:**
Hi User-FirstName, here's your magic link to access VRMS. It expires after 15 minutes.

[Click here]() to login or paste this URL into your browser: [https://URL.com](https://URL.com)

### Resources/Instructions
#415

[2020-11-23 19:32] #408 closed, assigned to OlgaBilogurova

[2020-11-23 20:34] OlgaBilogurova commented on #435
Updated everything besides of **Sender Name**.

![email](https://user-images.githubusercontent.com/11681030/100012552-53d1e980-2d88-11eb-96a8-8a75edd050a9.png)

[2020-11-24 00:22] patrickgus commented on #192
Progress: Done refactoring form for adding new logs. Working on getting newly added log to render on the profile page.
Blockers: None
Availability: Very limited this week
ETA: 2 weeks

[2020-11-24 02:35] cicyhou commented on #281
Update - finalizing and updating the Admin/Team request screens
Blocker - none
ETA - 1 week

[2020-11-24 02:37] #435 closed, assigned to OlgaBilogurova

[2020-11-25 07:21] #407 closed, assigned to awhig

[2020-11-25 07:21] #430 closed, assigned to awhig

[2020-11-27 16:18] switchzer0 opened #437 "Diagram database schema"
### Overview
Create a diagram of database schema to support developer understanding.

### Action Items
- [x] create diagram
- [x] review with @switchzer0
- [x] link to various model.js files in GitHub
- [x] save to google drive as PDF or Google Drawing

### Resources/Instructions
- @alex-anakin for clarifying questions on relationships
- [original draft relationships diagram (not accurately depict

[2020-11-30 18:50] switchzer0 commented on #278
Addressed event template and dictionaries this week. Next steps (final odds and ends):
- @alex-anakin tweaking a couple parameters in the recurring portion of event template model.
- @awhig diagramming database schema #437
- @switchzer0 meeting with @ExperimentsInHonesty to discuss requirements/clarifications/definitions around a few existing matching variables between user and project models
- Th

[2020-11-30 18:55] switchzer0 commented on #395
Update/next steps: no progress this week. review text from a copyediting perspective
Blockers: none, just my schedule
Avails: thursday on
ETA: 1 week

[2020-11-30 22:42] ChrxsCrxss commented on #424
**Update:** I've mostly completed this task. I'm dealing with one final stubborn test case, but that should be resolved some time tomorrow.

Blockers: none
Availability: variable
ETA: 2 days

[2020-12-01 02:21] ChrxsCrxss commented on #358
**Update:** I've attempted to use Swagger Inspector and SwaggerHub to generate annotations based on request responses. I could hit the api endpoints, but could not generate annotations for some reason. I think I'll just bite the bullet and annotate the api by hand. Shouldn't be more than a couple hours of work and a cup of coffee.

Blockers: none
Availability: variable
ETA: 1 week

[2020-12-01 03:05] cicyhou commented on #281
Update - still finalizing the team request screens with Adam.
Blocker - none
ETA - it's complete from my perspective, awaiting for Adam's approval

[2020-12-01 03:23] awhig commented on #437
Should finish late this week.

[2020-12-01 03:23] awhig commented on #431
Should finish late this week.

[2020-12-01 20:03] awhig commented on #437
@switchzer0 Please view initial diagram based off of model document. It was unclear to me in two places.

EventTemplate

templateID		event’s join ID connecting it to recurring instances for future editing

I believe this is the EventTemplateID? The primary key of the EventTemplate record?

Event

templateID		event’s join ID connecting it to recurring instances for future editing

I believe this is

[2020-12-07 22:52] OlgaBilogurova commented on #434
Progress: Created the loader component, added loader.gif, and styles. Need to integrate it into components.
Blocks: None
Availability: Weekdays
ETA: 1 week

[2020-12-08 02:43] alex-anakin opened #440 "Deploy the VRMS production instance on AWS"
### Overview
To set up a stable development/deploying process we need to deploy the VRMS production instance on AWS.
The most complex task here is choosing a powerful enough but not expensive configuration.

### Resources/Instructions
EC2 spot instances https://aws.amazon.com/ec2/spot/

[2020-12-15 02:33] OlgaBilogurova commented on #425
Progress:
- created a hamburger button
- added css-animation for smooth transform opened button to closed

Blocks: None
Availability: Weekdays
ETA: 1 week

[2020-12-15 15:29] switchzer0 commented on #395
Update/next steps: suggested copyedits, requested clarification on a couple small things
Blockers: feedback from @alex-anakin
Avails: most afternoons/evenings
ETA: friday, assuming I get feedback on one of Alex's usual available days

[2020-12-15 15:43] switchzer0 commented on #437
this looks great overall!
- I believe your interpretation of templateID is correct.
- what's the difference between the dotted and dashed lines?
- i don't see a reason for `event` or `eventTemplate` to see data from `user`; please clarify why you illustrated that way
- @alex-anakin want to chime in with additional comments?

[2020-12-18 20:52] awhig commented on #437
Hey @switchzer0

**what's the difference between the dotted and dashed lines?**

It represents identifying vs non-identifying relationships. For example a ProjectMembership record can't exist without a UserId, or a ProjectId, they are both part of the primary key for the record. On the other hand, an EventTemplate, has its own primary key. The JoinIdProject and HostUserId are not part of the prima

[2020-12-18 20:54] awhig commented on #431
still awating pull request review from @alex-anakin

[2020-12-19 21:01] switchzer0 commented on #281
approved all designs. once @cicyhou finalizes we'll be done other than a few one-off issues that will be created to correct design errors we caught after finalizing the initial mockups

[2020-12-19 21:12] switchzer0 commented on #437
Thanks for the explainer! Everything you drafted makes sense to me now, only remaining question is:
- should **CheckIn** have an identifying relationship w/ **user** + **event**? CheckIn definitely can't exist without being connected to both an event and user object, although i see checkin has its own primary key in your diagram. I'm ok with that, but want to make sure it makes sense and is useful

[2020-12-20 01:42] awhig commented on #437
@switchzer0 I realize now, that a user should only have 1 checkin per event, so my model is wrong there. We don't need that artificial primary key. The primary key should be the EventID + UserID. I've made this change. FYI, I didn't put all the of the fields in the diagram, just the ones needed to show the relationships. See attached updated pdf.

[vrms4.pdf](https://github.com/hackforla/VRMS/file

[2020-12-20 01:48] switchzer0 commented on #437
@awhig looks great to me now; thank you! would be great to have @alex-anakin second opinion, but I'm all set at this point.

[2020-12-21 18:24] switchzer0 commented on #278
met with Bonnie to get input on user-project matching variables. can discuss with @alex-anakin when ready

[2020-12-22 01:06] patrickgus commented on #192
Progress: None
Blockers: Running into a proxy error on my local machine where I can't load anything from the backend. Not sure what is causing error but it occurred after I pulled changes from the development branch.
Availability: Only Tuesday after 3pm this week.

[2020-12-22 02:57] cicyhou commented on #281
Update - finalized the design approved by Adam, coordinating with Olga to make sure all the features are buildable before moving into Final page.

[2020-12-27 19:00] abenipa3 opened #445 "Update Record Clearance Project Card - Meeting Times"
### Overview
We need to add/change the team meeting time for Record Clearance so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [X] yes
- [ ] no

### List all of your meeting times (day of week, start time am/pm, duration):
Dev meetings Thurs. @ 6 PM PST - 7PM PST
Design & Research meetings Tues. @ 6 PM PST - 7 PM PST
Team meetings Bi

[2020-12-30 00:14] ahdithebomb opened #446 "Add/edit team meeting time: Hackforla.org Website PM meeting addition"
### Overview
We need to add/change the team meeting time for Hackforla.org Website so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (day of the week, start time am/pm, duration):
Sun, 10:00 am,  2 hours, Team Meeting (Fine as is)
Tue, 7:00 pm, 1 hour,  Development Team (Fine as is)

[2020-12-31 00:18] OlgaBilogurova commented on #425
Done. [Demo here](https://drive.google.com/file/d/1OBHzJfJdM7NiCrovbSutkc5OISWlKMCq/view?usp=sharing).

[2021-01-01 23:09] ExperimentsInHonesty opened #448 "Add licence to repo after notifying prior contributors of change"
### Overview
We need to add a licence to the VRMS repository so that we can make sure it stays open source

### Action Items
- [x] Research Licence types and make recommendation
- [x] Run script to find all prior contributors to notify them
- [ ] AT mention all prior contributors in the new issue (to be created) - don't write anything else in the issue
- [ ] Remove code as required
- [ ] Change li

[2021-01-01 23:14] ExperimentsInHonesty opened #449 "VRMS repository wants to change its license type"
### Overview
The Hack for LA organization is seeking to add the appropriate licences to all projects.  You are receiving this issue because you contributed code to our repository.  If you disagree with the agpl-3.0 being added.  Please let us know what pull request you submitted (provide a link to the pr in the comments of this issue), and we will remove the code.

We will add the licence on Feb 1

[2021-01-01 23:16] Rankazze commented on #448
@ExperimentsInHonesty @switchzer0 After conducting broad research into the types of open source licenses available I recommend that we use the GNU Affero General Public License.  It is specific to network conveyed applications.   https://www.gnu.org/licenses/agpl-3.0.en.html

[2021-01-01 23:31] ExperimentsInHonesty commented on #448
@switchzer0 - here is the issue you asked me to work on.  I got Dean to research the licence types and make a recommendation.  I created this issue and another issue for implementing the notification.  All that remains if for the other action items to be addressed.  I am putting the issue in the prioritized backlog.  But wanted to give you a heads up so you could talk about it with Alex.  It proba

[2021-01-05 02:28] switchzer0 commented on #341
will add links once @awhig finalizes database schema diagram

[2021-01-05 05:12] switchzer0 commented on #446
reached out to stakeholder to confirm UAT

[2021-01-05 05:13] switchzer0 commented on #445
reached out to stakeholder to confirm UAT

[2021-01-07 02:26] nielseny opened #450 "Add meeting time for YouthJusticeNav"
### Overview
We need to add/change the team meeting time for YouthJusticeNav so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [ ] yes
- [x] no

### List all of your meeting times (day of week, start time am/pm, duration):
Wednesday, 6PM -7PM PST

### What is your project page URL?
https://www.hackforla.org/projects/youthjusticenav

#

[2021-01-07 06:33] #434 closed, assigned to OlgaBilogurova

[2021-01-07 06:52] #425 closed, assigned to OlgaBilogurova

[2021-01-07 09:09] alex-anakin opened #451 "Increase user session expiration time"
The task is blocked by:
- [x] #471

### Overview
Currently, the user session expires in 15 minutes after successful authentification.
We need to extend this period to 90 days if `auth-origin = GOOGLE_ACCOUNT_CHECK`. In other cases, it should remain 15 minutes.

### Action Items

- [ ] Fix expiration time on the backend.
- [ ] Save auth token on a user device using cookies.
- [ ] Save time when the

[2021-01-08 06:41] OlgaBilogurova opened #452 "Customize scroll-bar"
### Overview
For pages where inner content longer than container should be applied customized scroll-bar as designed in the [mockup](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25491%3A76).
Support custom scroll in Chrome, Edge, Safari, Firefox.

[2021-01-08 21:19] switchzer0 commented on #452
how burdensome will it be to also support in Brave browser? Their growth is wild right now and generally among more tech-oriented users i.e. HfLA types. This is also a selfish request :). If trivial, would be great to support Brave, too. If burdensome, just a nice-to-have.

[2021-01-09 04:38] #431 closed, assigned to awhig

[2021-01-09 19:50] OlgaBilogurova commented on #452
Hi @switchzer0,

Yes, we can support Brave as well. Because Brave is a Chromium-based (developed by the Google-sponsored Chromium project) browser as Edge and Opera.

I already checked and the customized scroll-bar looks good in Brave, Edge, Opera, Firefox, and Chrome web browsers.

[2021-01-10 02:57] OlgaBilogurova commented on #414
Main Dashboard is implemented.
Additionally added responsiveness, new tests for the footer for authorized users, customizated scroll-bar.

[2021-01-11 00:33] alex-anakin opened #454 "Create Location data model"
### Overview
`Location` is a new model for storing predefined locations in the database. We need to create this model to be able to:
* reuse location values across the application
* dynamically change locations without changing the codebase.

Create a Mongoose schema `Location` in `dictionaries` subdirectory of `models` directory containing the following properties:

[code]

### Action Items

- [x

[2021-01-11 04:31] alex-anakin opened #455 "Create TimeZone data model"
### Overview
`TimeZone` is a new model for storing available TimeZones in the database. We need to create this model to be able to:
* reuse TimeZone values across the application
* validate different models' fields against the only source

Create a Mongoose schema `TimeZone` in `dictionaries` subdirectory of `models` directory containing the following properties:

[code]

### Action Items

- [x] C

[2021-01-11 05:09] alex-anakin opened #456 "Create ProjectInfo data model"
The task is blocked by:

- [x] #454
- [x] #455
- [x] #457

### Overview
`ProjectInfo` is a new model for project representation in the database. We need to create a separate schema of the project to not carry the burden of maintenance legacy Project records in parallel with new ones.

Create a Mongoose schema `ProjectInfo` containing the following properties:

[code]

### Action Items

- [ ] Creat

[2021-01-11 23:06] #414 closed, assigned to OlgaBilogurova

[2021-01-12 00:03] #424 closed, assigned to ChrxsCrxss

[2021-01-12 03:11] switchzer0 commented on #278
reviewed outstanding questions w/ @alex-anakin; ready for him to finalize

[2021-01-12 04:52] #452 closed, assigned to OlgaBilogurova

[2021-01-12 23:35] alex-anakin opened #457 "Create JobRole data model"
### Overview
`JobRole` is a new model for storing projects' job roles in the database. We need to create this model to be able to:
* reuse Job Roles values across the application
* dynamically change locations without changing the codebase
* validate different models' fields against the only source

Create a Mongoose schema `JobRole` in `dictionaries` subdirectory of `models` directory containing

[2021-01-13 19:53] ahdithebomb opened #458 "Update & Add Team Meeting Time: 311 Data"
### Overview
We need to add/change the team meeting time for [311 Data] so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (day of week, start time am/pm, duration):
EXAMPLE: Monday, 7:30pm, 2 hours

Team Meeting
1. Delete Tuesday, 7:00 pm, 2 hours, (Team Meeting)
2. Change Thursday

[2021-01-18 00:03] alex-anakin opened #459 "Implement a service for operating TimeZone entity"
The task is blocked by:
- [x] #455

### Overview
Implement a service to operate the `TimeZone` data model.

### Action Items

- [ ] Add `timeZone.service.js` into `backend/services` folder.
- [ ] Implement `getTimeZones()` function that returns the TimeZones array.
- [ ] Cover implemented functionality with tests.

### Resources/Instructions
[Service example](https://github.com/hackforla/VRMS/blob

[2021-01-19 00:14] OlgaBilogurova commented on #428
Progress: Started to implement task #429 (create a progress bar)
Blocks: The task is blocked by #429
Availability: Weekdays
ETA: N/A

[2021-01-19 00:22] OlgaBilogurova commented on #429
Progress: Started working on this task. But this week was quite busy, so I don't have much progress.
Blocks: None
Availability: Weekdays
ETA: 1 week

[2021-01-22 03:21] OlgaBilogurova commented on #429
Done

[2021-01-25 04:33] switchzer0 commented on #445
reached out to stakeholder again

[2021-01-25 04:35] switchzer0 commented on #450
reached out to stakeholder to confirm

[2021-01-25 04:35] switchzer0 commented on #446
reached out again; user responded saying he will confirm by EOD Monday

[2021-01-25 04:37] switchzer0 commented on #458
reached out to stakeholder to confirm UAT

[2021-01-25 07:44] alex-anakin opened #461 "Implement a service for operating ProjectInfo entity"
The task is blocked by:
- [x] #456

### Overview
Implement a service to operate the ProjectInfo data model.

### Action Items

- [ ] Add `projectInfo.service.js` into `backend/services` folder.
- [ ] Implement `createProject(projectInfo, authorEmail)` function that returns the saved entity. Features:
* Required fields for creating a project are the following:
  - `name`, `type`, `description`
  -

[2021-01-25 23:10] alex-anakin commented on #437
Looks good to me. @awhig please fix minor mistakes:
* All IDs are not INT but ObjectId. Or we can skip mentioning of ID type in the diagram.
* ProjectMembership has its own ID.
* There can be multiple EventTemplates for a Project (fix relation mark).

After that it's ready for using in our documentation.

[2021-01-26 01:44] #429 closed, assigned to OlgaBilogurova

[2021-01-26 02:06] alex-anakin opened #462 "Implement a service for operating JobRole entity"
~The task is blocked by:~
~- [x] #457~

### Overview
Implement a service to operate the JobRole data model.

### Action Items

- [x] Add `jobRole.service.js` into `backend/services` folder.
- [x] Implement `getAll()` function that returns all `JobRole` values as an array of strings.
- [x] Wrap DB call using `try/catch` with throwing [DatabaseError](https://github.com/hackforla/VRMS/blob/developmen

[2021-01-26 02:17] alex-anakin opened #463 "Implement a service for operating Location entity"
~The task is blocked by:~
~- [x] #454~

### Overview
Implement a service to operate the `Location` data model.

### Action Items

- [ ] Add `location.service.js` into `backend/services` folder.
- [ ] Implement `add(locations)` function without returning value. Features:
* `locations` parameter is an array of non-empty strings with at least one element. This should be validated.
* the function adds

[2021-01-26 02:27] alex-anakin opened #464 "Implement a controller for handling Location API endpoints"
The task is blocked by:
- [x] #463

### Overview
Implement a controller for handling `Location` API endpoints.

### Action Items

- [x] Add `location.controller.js` into `backend/controllers` folder.
- [x] Implement POST `/locations` API endpoint that returns OK 200 in the response in case of an operation success. Call `add` function of `location.service.js`.
- [x] Implement GET `/locations` API e

[2021-01-26 02:46] switchzer0 commented on #450
approved by user

[2021-01-26 02:46] switchzer0 commented on #450
approved by user

[2021-01-26 02:46] #450 closed, assigned to alex-anakin

[2021-01-26 02:47] switchzer0 commented on #458
approved by user

[2021-01-26 02:47] #458 closed, assigned to alex-anakin

[2021-01-26 03:11] OlgaBilogurova commented on #428
Progress:

- developed a progress bar as a reusable component
-  created a new component and added route <host>/onboarding/code-of-conduct
-  fetched text from the remote source: HackForLA code of conduct

Blocks: None
Availability: Weekdays
ETA: ~2weeks

[2021-01-26 04:27] mdPial commented on #454
Hello, I would like to work on that issue.

[2021-01-26 05:38] awhig commented on #437
@alex-anakin Here is a new version of the doc, with the changes requested.

There is no ObjectId datatype in the sql tool I'm using (Mysql workbench), and I can't leave it empty, so I had to put char(12), which I hope is good enough, as the ObjectIds are 12 byte hex strings, in mongodb.

[vrms5.pdf](https://github.com/hackforla/VRMS/files/5871382/vrms5.pdf)

[2021-01-27 08:20] OlgaBilogurova opened #468 "Implement reusable component 'Popup'"
### Overview
Implement a `Popup` as a reusable component inside `src/components/common` directory.

Popup should cover the screen with a grey background overlay (look at [mockup](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25466%3A3505)) and prevent the page from scrolling until the visitor closes the `Popup`. The Popup has a close button in the top right corner. But also

[2021-01-27 08:43] OlgaBilogurova opened #469 "Create a radio button as a new UI element"
### Overview

Create a radio button as a new UI element (based on finalized 0.4 Style Guide).

Find mockup here => [Finalized v0.4 Style Guide (Figma), page 2](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25453%3A28)

![radio-btn](https://user-images.githubusercontent.com/11681030/105964406-fb90bf80-6036-11eb-8134-322a612be8cb.png)

### Action Items

- [x] Explore existing

[2021-01-28 16:28] piall commented on #469
Hello, I would like to work on that issue 😃

[2021-01-28 17:49] OlgaBilogurova commented on #469
Hi @mdPial, sounds good.
To work on the VRMS project tasks you have to be a team member.  
Please, open [this link](https://www.hackforla.org/projects/vrms) and start from "Getting Started".

[2021-01-28 17:54] piall commented on #469
Okay. Thank you.😃

[2021-01-28 18:02] piall commented on #469
Did you wanted point on https://www.hackforla.org/projects/vrms ? because your provided link is invalid

[2021-01-28 22:38] OlgaBilogurova commented on #469
@mdPial yes, this is the correct link.
https://www.hackforla.org/projects/vrms

[2021-01-29 04:39] captain-nimo opened #470 "Update 311-data meeting time"
### Overview
We need to add/change the team meeting time for 311-data so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes

### List all of your meeting times (day of week, start time am/pm, duration):
- Thursday 6:00 - 6:30 pm (Data science meeting)
- Thursday 6:30 - 7:30 pm (Weekly Team meeting)
- Thursday 7:30 - 8:30 pm (Manag

[2021-01-29 06:05] alex-anakin opened #471 "Add "auth_origin" payload to the Magic Link token"
### Overview
To determine the originator of sending a Magik Link to a user we need to save this information in the Magic Link token.

### Action Items

- [x] Create a JavaScript util class for string constants.
- [x] Create a constant `['LOG_IN', 'ONBOARDING', 'GOOGLE_ACCOUNT_CHECK']`.
- [x] Send `auth_origin = LOG_IN` when requesting the Magic Link for logging in.
- [x] Send `auth_origin = ONBOAR

[2021-01-29 08:02] alex-anakin opened #472 "Implement "Collect Google Account" page"
The task is blocked by:
- [x] #471

### Overview
Some people don't Gmail as their primary email, but we require having a Gmail account to provide access to project Google Drive.

### Business logic

After checking out user email existence using Magic Link (originated from `ONBOARDING`) validate it against domain:
* If it's 'gmail.com' then go to option 1.
* If it's not 'gmail.com' validate it agai

[2021-01-29 08:09] alex-anakin opened #473 "Make a real call to api/userProfile/<id> to save user Google email"
This task is blocked by:
- [x] #472
- [ ] implementation of `api/userProfiles` API

### Overview
Page was implemented with a call to dummy API. Replace it with the real call.

[2021-02-01 19:26] OlgaBilogurova commented on #428
Progress:

- handled and displayed markdown data from the remote source: HackForLA code of conduct
- implemented reusable component 'Popup', PR #474
- added behavior when popup should be closed (described above)

Blocks: none
Availability: weekdays
ETA: till next meeting

[2021-02-02 02:12] #468 closed, assigned to OlgaBilogurova

[2021-02-02 02:23] alex-anakin commented on #457
Done

[2021-02-02 02:23] #457 closed, assigned to awhig

[2021-02-02 02:23] alex-anakin commented on #454
Done

[2021-02-02 02:23] #454 closed, assigned to awhig

[2021-02-02 21:05] #455 closed, assigned to awhig

[2021-02-04 02:26] nielseny opened #475 "Update meeting time for YouthJusticeNav"
### Overview
We need to change the team meeting time for YouthJusticeNav so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

Meeting time:
* Wednesday 7PM PST (new update)
* Friday 3PM PST (new update)

### What is your project page URL?
https://www.hackforla.org/projects/youthjusticenav

### Who should we contact on y

[2021-02-04 03:01] nielsen commented on #475
Sorry — did you tag me in this CR?

[2021-02-04 03:07] nielseny commented on #475
@nielsen Sorry didn't mean to tag you! It was meant for me, my slack handle conflicts with your github username, will fix it now

[2021-02-05 00:35] danyc23 opened #476 "Add team meeting time for Open Community Survey."
### Overview
We need to add/change the team meeting time for Open Community Survey so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
no

### List all of your meeting times (day of week, start time am/pm, duration):
Mondays 12:00pm - 1:00pm

### What is your project page URL?
https://www.hackforla.org/projects/open-community-survey

###

[2021-02-05 02:22] piall commented on #469
@OlgaBilogurova  I have become a team member. Could you assign me on this issue?

[2021-02-05 04:56] OlgaBilogurova commented on #469
@mdPial assigned. When you will be ready to start, move this task to progress.
Please, in the future feel free to assign yourself any task that you like to work on. Thanks.

[2021-02-05 06:18] OlgaBilogurova commented on #428
Done

[2021-02-05 06:43] piall commented on #469
Thank you for guidelines 😀

[2021-02-05 20:05] thatguyish opened #478 "Home Unite Us meeting times need to change"
### Overview
We need to add/change the team meeting time for Home Unite Us so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (day of week, start time am/pm, duration):
Tue 10:00 pm - 11:00 pm (EDT)
Sat 3:30 pm - 5:00 pm (EDT)

### What is your project page URL?
https://www.hackforla

[2021-02-06 01:11] OlgaBilogurova opened #479 "Create input for adding current skills as a new UI element"
### Overview

Create input for adding current skills as a new UI element (based on finalized 0.4 Style Guide).

Find mockup here => [Finalized v0.4 Style Guide (Figma), page 1](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=23471%3A1)

![el-1](https://user-images.githubusercontent.com/11681030/97739745-7f212b80-1a9d-11eb-8c2a-0cef2f182a9d.png)

### Action Items

- [x] Explore

[2021-02-06 01:11] OlgaBilogurova commented on #374
Created a new task #479

[2021-02-06 05:14] mdPial commented on #469
Is`src/sass/elements` is the folder of **client-mvp-04**?

[2021-02-06 05:54] harshad71 commented on #479
hi i m harshad if this issue is not resolve then i would like to work on it

[2021-02-06 17:33] piall commented on #469
@OlgaBilogurova The color used in Figma as the border of the radio button is`#32373B` which is not in the `_colors.scss` file. Should I use existing dark color  `#000000` or create a new one in the _colors.scss??

[2021-02-08 07:05] Olivia-Chiong opened #481 "Add meeting times for Product Management Community of Practice"
### Overview
We need to add/change the team meeting time for Product Management Community of Practice so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [ ] yes
- [x] no

### List all of your meeting times (day of week, start time am/pm, duration):
Community of Practice: Product Management, Tuesday, 6 pm for 1 hour
Community of Practic

[2021-02-08 07:08] Olivia-Chiong opened #482 "Add meeting time for UI/UX Community of Practice"
### Overview
We need to add the team meeting time for UI/UX Community of Practice so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [ ] yes
- [x] no

### List all of your meeting times (day of week, start time am/pm, duration):
Monday at 6 pm for 1 hour

### What is your project page URL?
No project page, here's the repo - https://git

[2021-02-08 07:11] Olivia-Chiong opened #483 "Add meeting time for Marketing Community of Practice"
### Overview
We need to add the team meeting time for Marketing Community of Practice so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [ ] yes
- [x] no

### List all of your meeting times (day of week, start time am/pm, duration):
Tuesday, 6 pm for 1 hour

### What is your project page URL?
No project page, here's the repo - https://

[2021-02-08 07:13] Olivia-Chiong opened #484 "Add team meeting times for Civic Tech Index"
### Overview
We need to add/change the team meeting time for Civic Tech Index so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (day of week, start time am/pm, duration):
Developers Meeting - Tuesday, 5:30 pm for 2 hours
Product Managers Meeting - Wednesday, 12:30 pm for 1 hour
Team

[2021-02-08 22:27] #428 closed, assigned to OlgaBilogurova

[2021-02-08 23:37] alex-anakin commented on #470
Added Data science meeting.

[2021-02-09 00:48] khushbooshah-PM opened #486 "Add meeting time for Record Clearance Project for Check-IN"
### Overview
We need to add/change the team meeting time for Record clearance Project so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (day of week, start time am/pm, duration):
Thursday, 6pm to 7 PM, 1 hours

### What is your project page URL?
https://www.hackforla.org/projects/re

[2021-02-09 01:46] ggrrettcchhenn commented on #486
Record Clearance Project Meeting times:

Team meeting - every other Monday 6:00 pm - 7:00 pm PST
Design & Research meeting - Tuesdays 6:00 pm - 7:00 pm PST
Dev meeting - Thursdays 6:00 pm PST (typically runs 15 - 30 min)

[2021-02-09 01:48] ggrrettcchhenn commented on #486
Slack Channel name: [#record-clearance](https://hackforla.slack.com/archives/record-clearance)
People to contact on Slack: @Myranda Pierce and @Gretchen Howard

[2021-02-09 02:06] alex-anakin opened #487 "Update EventTemplate data model due to changed requerements"
### Overview
Update [EventTemplate ](https://github.com/hackforla/VRMS/blob/development/backend/models/eventTemplate.model.js) model due to the [doc](https://docs.google.com/document/d/16VvC0fbaXsvEQkQaVSj8dG3wFEHgErbjJ6H3akSUoVM/edit#heading=h.aui7osumr40e).

### Action items

- [ ] Update the model
- [ ] Fix tests

[2021-02-09 02:07] alex-anakin commented on #278
Created the #487 task for fixing the EventTemplate model.

[2021-02-09 02:07] #278 closed

[2021-02-09 04:12] OlgaBilogurova opened #488 "Create search input as a new UI element"
### Overview

Create search input as a new UI element (based on finalized 0.4 Style Guide).

Find mockup here => [Finalized v0.4 Style Guide (Figma), page 2](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25453%3A28)

![search-input](https://user-images.githubusercontent.com/11681030/107314252-173d9200-6a49-11eb-8797-a3a3e6508bf2.png)

### Action Items

- [x] Explore existing

[2021-02-09 04:13] OlgaBilogurova commented on #374
Created a new task 'Create search input as a new UI element' #488

[2021-02-09 05:10] OlgaBilogurova commented on #469
@mdPial sure, you could create a new color variable for the radio button inside _colors.scss.
I'll add this comment to your PR.

[2021-02-09 05:18] piall opened #489 "Fix Scrolling In The DEV UI KIT Web Page"
### Overview
Currently, scrolling doesn't work properly if the screen height is small. It doesn't look like having any problem in the beginning. But if we scroll down up to the end it doesn't show all the content (depends on screen height how much content won't show).

![image](https://user-images.githubusercontent.com/43095489/107315698-68896800-6ac1-11eb-9834-a733d95af670.png)

### Steps to repr

[2021-02-09 05:28] piall commented on #469
Okay. I will add the new color variable and make necessary changes. May be you don't need to comment again . I got your message :smile:

[2021-02-10 00:19] jbubar opened #490 "Update Home unite us meeting time"
### Overview
We need to add/change the team meeting time for Home Unite Us so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (day of week, start time am/pm, duration):

Tue 10:00 pm - 11:00 pm (EDT)
Sat 3:30 pm - 5:00 pm (EDT)

### What is your project page URL?
https://www.hackforl

[2021-02-10 00:24] #490 closed, assigned to nobody

[2021-02-11 00:31] switchzer0 commented on #470
reached to @Mahmudul on slack for UAT

[2021-02-11 00:43] switchzer0 commented on #470
approved by stakeholder

[2021-02-11 00:43] #470 closed, assigned to alex-anakin

[2021-02-12 01:19] OlgaBilogurova commented on #489
@mdPial when I developed `dev-ui-kit` I didn't add responsiveness because it's only for developers' needs.😁
Feel free to add responsiveness to `the dev-ui-kit` as well.

[2021-02-12 01:37] OlgaBilogurova opened #491 "Configure ESLint & Prettier for client-mvp-04"
### Overview
Configure ESLint & Prettier for `client-mvp-04`

[2021-02-12 03:56] piall commented on #489
Oh. I see. :sweat_smile:  I thought I am the one with the lowest small screen height in VRMS. So, others didn't notice and made an issue about it. 🤣️

[2021-02-15 20:46] #469 closed, assigned to piall

[2021-02-17 07:39] piall commented on #488
I have some doubts about input box width!!
Should  I give 18px margin left for search icon?
![image](https://user-images.githubusercontent.com/43095489/108168938-47a8be80-7122-11eb-9ed6-bbd45c48dcc2.png)
**or**, Should I give 21px margin right for the input box?
![image](https://user-images.githubusercontent.com/43095489/108169118-82125b80-7122-11eb-8bda-4a557606f326.png)
[code]

[2021-02-17 08:21] alex-anakin commented on #475
Meeting time updated.

[2021-02-17 08:23] OlgaBilogurova commented on #488
Hi @mdPial, regarding mockups please reach out to our UX designer @cicyhou

[2021-02-17 08:26] alex-anakin commented on #478
The meeting time is updated.

[2021-02-17 08:34] alex-anakin commented on #486
@ggrrettcchhenn please clarify what should be changed. Mentioned meeting time has no difference with actual values on https://www.hackforla.org/project-meetings

[2021-02-17 10:15] piall commented on #488
Okay. Thank you for the information.

[2021-02-18 00:49] daniellex0 opened #495 "Add UI/UX Community of Practice Meeting"
### Overview
We need to add the weekly Community of Practice meeting time for the **UI/UX Community of Practice** so that it will appear on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [ ] yes
- [x] no

### List all of your meeting times (PST time ONLY) (day of week, start time am/pm, duration):
Monday, 6:00 pm, 1 hour

### What is your project page URL?
https

[2021-02-18 05:09] ggrrettcchhenn commented on #486
@alex-anakin no need to change the meeting times on the website. I had commented those times in response to them not being listed correctly on this issue so that the Monday & Tuesday weren't taken off the site.

[2021-02-19 06:03] piall commented on #488
I have not received any response from her. I sent message two days ago in Slack.

[2021-02-19 21:56] OlgaBilogurova commented on #488
Hi @mdPial,

Got it. I've already created a similar element but with the gitHub icon.
Please, check again `Input with icon` http://localhost:3001/dev-ui-kit

Apply these styles for your element:
[code]

[2021-02-22 18:42] #384 closed, assigned to JsonRoyJones

[2021-02-23 02:53] alex-anakin commented on #486
@ggrrettcchhenn Meeting time order can't be changed in the nearest time, sorry.
This type of task is for changing meetings' time range or day of the week.

[2021-02-23 02:58] OlgaBilogurova commented on #472
Progress:

- On create account page added validation if it's Gmail redirect the user to `Google Drive Setup` page
- Created a new component `GoogleDriveSetup`,
- Added a new route `/onboarding/google-drive-setup`

Blocks: PR #492 should be merged
Availability: Weekdays
ETA: 1 week

[2021-02-26 07:54] akibrhast opened #499 "List of possible location does not match code comments"
### Overview
One of the locations returned by the endpoint: https://www.vrms.io/api/projects was 'dtla' whereas the code comments suggested only the following `\\DTLA, Westside, South LA, or Remote (hacknight)`

### Action Items
- [ ] Ensure that data is consistent

### Resources
https://github.com/hackforla/VRMS/blob/2045f382e655d42b55af43533834faf98a1d1084/backend/models/project.model.js#L24

![

[2021-02-28 04:11] daniellex0 opened #500 "Remove "Hack4LA Happy Hour" and "Hack4LA Onboarding" from schedule"
### Overview
We need to remove the meetings "Hack4LA Happy Hour" and "Hack4LA Onboarding"  from Mondays and Tuesdays so that the schedule on hackforla.org will be accurate- because the Happy Hour is no longer happening, and the Onboarding switches every week between Monday and Tuesday.

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeti

[2021-02-28 21:31] akibrhast commented on #499
@alex-anakin How do you want this issue to be prioritized?

[2021-02-28 22:24] #188 closed

[2021-03-02 02:17] OlgaBilogurova commented on #472
Progress: No progress this week
Blocks: PR #492 should be merged
Availability: Weekdays
ETA: 1 week

[2021-03-02 02:41] #459 closed, assigned to awhig

[2021-03-02 03:53] alex-anakin commented on #482
@Olivia-Chiong The even was added. Please check it out.

[2021-03-02 17:07] #488 closed, assigned to piall

[2021-03-02 17:56] drubgrubby commented on #484
These changes have been completed.  I will message Olivia for user acceptance testing. (I'm not on the github yet, so I can't assign or move this issue yet).

[2021-03-02 17:58] drubgrubby commented on #484
@Olivia-Chiong - These changes to the Civic Tech Index meeting times. have been completed.  Can you please confirm that these changes are correct (and that the meeting times haven't changed since the original ticket was placed ;-)

[2021-03-02 19:02] drubgrubby commented on #481
These changes have been made.  I will move them and assign myself when I get github privileges for vrms.

[2021-03-02 19:05] drubgrubby commented on #481
@Olivia-Chiong @ExperimentsInHonesty @alex-anakin - There doesn't seem to be any consistency for the naming of the Communities of Practice.

Should it be:
- Product Management Community of Practice
- Product Management: Community of Practice
- Community of Practice: Product Management
- Some other thing.

[2021-03-02 19:14] drubgrubby commented on #481
per @Olivia-Chiong via slack - We are going to standardize the Communities of Practice to read:

Community of Practice: Team
for example
Community of Practice: Product Management

[2021-03-02 22:00] drubgrubby commented on #481
@Olivia-Chiong - I mentioned in slack that these were ready for user acceptance testing.  I'm just putting it here in the issue to memorialize that.

[2021-03-02 22:03] drubgrubby commented on #482
The name on this was changed to "Community of Practice: UI/UX" to standardize the name of all of the Community of Practice listings.

[2021-03-02 22:25] drubgrubby commented on #483
@Olivia-Chiong - The Community of Practice: Marketing times have been added.  Please check them out and confirm that they are correct.  Thanks.

[2021-03-02 22:55] drubgrubby commented on #476
Changes have been completed.  I slacked to olivia to either check the times, or to let me know if I should send it to someone else.

[2021-03-02 23:00] drubgrubby commented on #495
The meeting time was added on ticket #482 .

@daniellex0 @Olivia-Chiong
The two tickets have different project page URLs:
-- This ticket has:  https://github.com/hackforla/UI-UX/blob/main/README.md
-- #482 has: https://github.com/hackforla/UI-UX

Which do you want listed?

[2021-03-02 23:52] drubgrubby commented on #500
@daniellex0 - Onboarding and Happy Hour have been removed from the schedule.  Please check and confirm that the changes are correct.

[2021-03-03 06:35] Olivia-Chiong commented on #495
I will leave it to @daniellex0 for her decision as she is the community lead.

[2021-03-04 17:02] daniellex0 commented on #495
@drubgrubby Thank you! Please list the second one #482 https://github.com/hackforla/UI-UX )

[2021-03-04 17:02] daniellex0 commented on #500
@drubgrubby These are correct, thank you!

[2021-03-05 20:12] drubgrubby commented on #495
The project page url has been set as requested by danielle.

[2021-03-06 05:53] Olivia-Chiong commented on #475
@alex-anakin thank you for the changes.

[2021-03-06 05:53] #475 closed, assigned to alex-anakin

[2021-03-06 05:54] Olivia-Chiong commented on #482
Thank you for the updates @drubgrubby

[2021-03-06 05:54] #482 closed, assigned to nobody

[2021-03-06 05:54] Olivia-Chiong commented on #484
@drubgrubby confirmed with thanks!

[2021-03-06 05:54] #484 closed, assigned to drubgrubby

[2021-03-06 05:55] Olivia-Chiong commented on #481
@drubgrubby Thanks David, my apologies, but can you change the meeting on Friday to be 1 hour?

[2021-03-06 05:56] Olivia-Chiong commented on #483
@drubgrubby The meeting time has now been changed to Friday at 5 pm. Apologies for the change!

[2021-03-07 02:42] drubgrubby commented on #483
@Olivia-Chiong - This has been updated to Friday @ 5pm.

[2021-03-07 02:44] drubgrubby commented on #481
@Olivia-Chiong - The Friday meeting has been changed to 1 hour.

[2021-03-07 05:12] Olivia-Chiong commented on #483
Great, thank you. This is good.

[2021-03-07 05:13] #483 closed, assigned to drubgrubby

[2021-03-07 05:13] Olivia-Chiong commented on #481
Thank you. All good now.

[2021-03-07 05:13] #481 closed, assigned to drubgrubby

[2021-03-07 17:07] drubgrubby commented on #476
This was the original ticket that had the meeting times.

https://github.com/hackforla/community-survey-nc-websites/issues/2

[2021-03-09 02:22] OlgaBilogurova opened #501 "Create dropdown as a new UI element"
### Overview

Create dropdown as a new UI element (based on finalized 0.4 Style Guide).

Find mockup here => [Finalized v0.4 Style Guide (Figma), page 2](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=25453%3A28)

![dropdown](https://user-images.githubusercontent.com/11681030/110408409-56f09d00-803a-11eb-8339-182ae5061dd9.png)

### Action Items

- [x] Explore existing impleme

[2021-03-09 02:23] OlgaBilogurova commented on #374
Created a new task #501

[2021-03-09 02:24] #374 closed, assigned to OlgaBilogurova

[2021-03-09 02:36] OlgaBilogurova commented on #472
Progress: Creating UI for the `Google Drive Setup` page
Blocks: PR #492 should be merged
ETA: 1-2 weeks

[2021-03-09 02:56] switchzer0 commented on #281
**Progress:** @cicyhou states all designs are ready for final review; She is resigning from project. Next I will review designs, finalize where appropriate, identify any cures to be completed by next designer, and write tickets for them
**Blockers:** None
**Availability:** tomorrow afternoon/eve after 2pm PST
**ETA:** 3/9 (this ticket will be made obsolete by new individual cure tickets)

[2021-03-09 02:59] switchzer0 commented on #341
Blocked by review of #437 (diagram database schema) — hoping to finalize this week

[2021-03-14 08:07] alex-anakin opened #502 "Update user and project models"
### Overview
For implementing project management UI we need to store managers in projects and projects in users.

### Action Items

- [x] Add field `managedProjects` as an array of Strings into `user` model.
- [x] Add field `managedByUsers` as an array of Strings into `project` model.
- [x] Check out tests don't fail.

### Resources/Instructions
[User model](https://github.com/hackforla/VRMS/blob/

[2021-03-15 17:49] drubgrubby commented on #502
I have added the fields to user and project model, and it seems to have passed the tests:
<img width="309" alt="Screen Shot 2021-03-15 at 10 40 37 AM" src="https://user-images.githubusercontent.com/68244054/111197454-b7706480-857b-11eb-9acb-a7171fff3d67.png">
<img width="235" alt="Screen Shot 2021-03-15 at 10 40 21 AM" src="https://user-images.githubusercontent.com/68244054/111197465-ba6b5500-857b

[2021-03-15 18:19] drubgrubby commented on #502
This is probably unrelated, but I am having some additional errors that I think are unrelated.  I'm posting them here to discuss at the meeting.  I can delete this comment if unrelated:
<details>
<summary>Terminal error 1</summary>
<img width="974" alt="Screen Shot 2021-03-15 at 10 41 28 AM" src="https://user-images.githubusercontent.com/68244054/111201194-c527e900-857f-11eb-93ee-5a0825202702.png"

[2021-03-15 19:27] drubgrubby commented on #486
@alex-anakin - This ticket appears to be completed.  I am moving it to 'done'.  Let me know if we can close it.

[2021-03-15 19:30] drubgrubby commented on #478
@alex-anakin -  Per Bonnie I have confirmed that these changes are correct on the HfLA site. I'm moving this do done.

[2021-03-15 19:31] drubgrubby commented on #476
Per Bonnie, I have confirmed that these changes have been made correctly.

[2021-03-16 01:54] #500 closed, assigned to drubgrubby

[2021-03-16 01:54] #476 closed, assigned to drubgrubby

[2021-03-16 01:54] #478 closed, assigned to alex-anakin

[2021-03-16 01:55] #486 closed, assigned to alex-anakin

[2021-03-16 01:55] #495 closed, assigned to drubgrubby

[2021-03-16 01:56] #446 closed, assigned to alex-anakin

[2021-03-16 01:56] #445 closed, assigned to alex-anakin

[2021-03-16 02:57] alex-anakin opened #504 "Implement a page for managing users"
### Overview
~1. As a project manager, I want to create a new project.~ (moving to separate issue)
~2. As a project manager, I want to change my existing project details.~ (moving to separate issue)
3. As an Administrator, I want to assign/unassign managers for projects.

### Action Items

1. Login user. If the user is an admin -> it goes to the home page. We need to add a hyperlink to the project

[2021-03-16 16:33] piall commented on #501
I am little bit confused about this step. As data and UI didn't match.
![image](https://user-images.githubusercontent.com/43095489/111403826-e4498680-86f7-11eb-9ee2-2d7d97eafc4b.png)

Could you explain me more about the implementation?
[code]

[2021-03-17 02:02] peteplass opened #505 "add onboarding session3/16/2021"
### Overview
We need to add/change the team meeting time for [YOUR PROJECT NAME HERE] so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
EXAMPLE:
- New participant onboarding 6:00pm Alte

[2021-03-17 02:11] mdPial commented on #501
I understand that when user will select `Hawaii Standard Time`
![image](https://user-images.githubusercontent.com/43095489/111404017-37bbd480-86f8-11eb-80e0-6d9eba61ab01.png)
here `HST` will show. Am I thinking right way?. But what about this?
![image](https://user-images.githubusercontent.com/43095489/111404042-4a360e00-86f8-11eb-923b-182fe8f07713.png)

[2021-03-17 03:14] fancyham opened #506 "Add privacy policy"
### Dependency
- [ ] Bonnie writing privacy policy template. Once complete, can move this out of icebox and begin working on this issue.

### Overview
When signing up for, I was unsure of the privacy implications of entering my information into the app.

Add a privacy policy so that new and returning users can make an informed decision about entering their personal information.

### Action Items
S

[2021-03-17 19:01] drubgrubby commented on #505
@peteplass @ExperimentsInHonesty -> I'm assuming that "Alternating Mondays and Tuesdays" means that one week it's on Monday, and the following week it's on Tuesday.  The challenge is that the meeting display isn't really a calendar, so there's not really a way to make it show up one week under Mondays, and the next under Tuesdays.

I can put it in on both Monday and Tuesday, and have the 'eventTyp

[2021-03-17 19:11] drubgrubby commented on #505
@peteplass - You listed "https://www.hackforla.org/projects/vrms" as the Project Page URL.  This is the place that the person is redirected to when they click the link in the schedule.  I don't think that the vrms page is where people should get redirected to if they are interested in onboarding.  Is it?  If not, what is the url that people should be sent to when you they click the "onboarding" li

[2021-03-18 02:08] ExperimentsInHonesty opened #507 "Add to events: Software Engineering Community of Practice"
### Overview
We need to add/change the team meeting time for Software Engineering Community of Practice so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [ ] yes
- [x ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
EXAMPLE:
- Community of Practi

[2021-03-18 16:07] peteplass commented on #505
@drubgrubby ah, gotcha. I think what we're looking at here is two events that occur every other week. One on Tuesdays and one on Mondays. As for an onboarding link, It's likely going to be the onboarding site for zoom registration: https://us02web.zoom.us/meeting/register/tZUtdeGvrTMoHtKkRwm7R8Kl8r9TXL73-UY9?_x_zm_rtaid=TNHnsFXoTF2IZlf-TUfrPw.1616083598988.a1e0d0f77cffa24ca0d6e75e25e23695&_x_zm_rh

[2021-03-21 16:09] drubgrubby commented on #505
@alex-anakin ->
Question background: Bonnie wants to add Onboarding to the recurring event schedule.  The onboardings are held on alternating Mondays and Tuesdays: one week it's on Monday, the next week it's on Tuesday.  She's okay listing it on both days, and making a note (probably using 'eventType") that it's alternating, and to check meetup.

However, she wants to make sure that vrms only give

[2021-03-21 16:51] drubgrubby commented on #507
<img width="432" alt="Screen Shot 2021-03-21 at 9 30 01 AM" src="https://user-images.githubusercontent.com/68244054/111913325-e0d13a80-8a2a-11eb-9b8b-77308537ac33.png">

This has been added to the calendar.  Please confirm that these changes are correct.

[2021-03-21 17:34] gregpawin opened #508 "Correct Lucky Parking Meeting Time"
### Overview
We need to add/change the team meeting time for [YOUR PROJECT NAME HERE] so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [X] yes
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
EXAMPLE:
- Lucky Parking, General Meeting, Monday

[2021-03-22 00:52] piall commented on #501
@OlgaBilogurova in case you have missed it. I am requesting to check the above comments.

[2021-03-23 01:03] drubgrubby commented on #507
Per Greg Pawin via slack, this is correct.

[2021-03-23 01:09] drubgrubby commented on #508
This change has been completed:

<img width="412" alt="Screen Shot 2021-03-22 at 6 07 58 PM" src="https://user-images.githubusercontent.com/68244054/112077386-9ee2ea00-8b39-11eb-9eb1-22e15265bba9.png">

[2021-03-23 01:13] gregpawin commented on #508
Looks great! Thanks!

[2021-03-23 01:40] switchzer0 commented on #281
99% done, as discussed the other week, outstanding tweaks on select screens — will make individual tickets for each design change

[2021-03-23 01:40] #281 closed

[2021-03-23 01:44] switchzer0 opened #509 "Ballot Nav check-in does not appear at designated time in check-in dropdown each week"
desired behavior. on all Tuesdays around 5pm, in line with [schedule](https://www.hackforla.org/events/), ballotnav meeting should appear as a clickable checkin option in the dropdown at vrms.io

[2021-03-23 01:47] #502 closed, assigned to drubgrubby

[2021-03-23 02:28] switchzer0 commented on #437
approved and saved to appropriate destinations

[2021-03-23 02:28] #437 closed, assigned to switchzer0

[2021-03-23 02:33] switchzer0 commented on #341
added to wiki. done! now new joiners can hopefully get acquainted with the project independently!

[2021-03-23 02:33] #341 closed, assigned to switchzer0

[2021-03-23 07:01] akibrhast commented on #487
@alex-anakin
1. Am I supposed to only add the fields highlighted in yellow? Or Should I remove the existing `eventTemplateSchema` and recreate it following the fields in the image below?

2. Also during monday meeting there was a picture of the overall database architecture? Where can I find it?

3. Do I need to follow the naming convention highlighted in yellow or just do something that best fits

[2021-03-23 18:13] drubgrubby opened #511 "README.md updates for easier onboarding"
### Overview
Edit README.md to make onboarding easier for new VRMS team members.

### Action Items
Updates will include:

- [x] Clarify the "configure your database" section to remove references to setting up a local MongoDB server.
- [x] Remove the docker setup information. (It seems (from my experience) that the docker setup is currently unreliable.  If we choose not to remove the docker compone

[2021-03-24 04:13] drubgrubby commented on #241
The auto-complete feature seems not to be working any more per me and Bonnie.  I have reopened the issue for investigation.

[2021-03-24 15:44] myrandi opened #512 "Change vrms labels from Record Clearance to Expunge Assist"
### Overview
We need to change the team meeting designation for The Record Clearance Project so it will appear correctly on hackforla.org as **Expunge Assist**

### Is your team meeting team already displayed on hackforla.org?
- [x] yes - needs update
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):

- Te

[2021-03-25 06:27] alex-anakin commented on #487
@akibrhast
1. You need to update the existing schema. Align the code with the doc.
2. https://github.com/hackforla/VRMS/files/5871382/vrms5.pdf
3. Do your best. I will review your pull request anyway.
4. It will simplify the time handling across the application.
5. `Event` is a different data model. `Event` is something that happens ones but `EventTemplate` is a blueprint for events.
6.  `TimeZone

[2021-03-26 04:09] drubgrubby commented on #505
@peteplass @ExperimentsInHonesty

Onboarding has been added to the calendar on both Monday and Tuesday with a note "Alternating Mon/Tue. Click for schedule".

<details>
<summary>HfLA Meetings Page</summary>

![screencapture-hackforla-org-project-meetings-2021-03-25-21_07_52](https://user-images.githubusercontent.com/68244054/112575787-3fd9db00-8dae-11eb-8bcc-4a00a872f864.png)

</details>

Please c

[2021-03-26 04:47] drubgrubby commented on #512
@myrandi  - I've made the changes to the calendar.  Please confirm that they are correct.

<details>
<summary>Event Calendar</summary>

![screencapture-hackforla-org-project-meetings-2021-03-25-21_36_41](https://user-images.githubusercontent.com/68244054/112578522-ed4eed80-8db2-11eb-933a-f892bce19cac.png)

</details>

I'm leaving the ticket "in progress" because the website hasn't yet changed the

[2021-03-26 14:49] myrandi commented on #512
Thanks @drubgrubby looks good on the calendar

[2021-03-26 18:34] ktjnyc opened #514 "Update Food Oasis Meeting Times"
### Overview
We need to add/change the team meeting time for Food Oasis so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
EXAMPLE:
- Food Oasis, Management, Monday 3:00pm, 1 hour
- Food

[2021-03-26 22:42] drubgrubby commented on #514
@ktjnyc -> I've updated the Food Oasis meeting times.  Can you please check them and confirm that they are correct?

https://www.hackforla.org/project-meetings

[2021-03-27 01:37] ktjnyc commented on #514
@drubgrubby - I made a mistake. Thursday should be:

Food Oasis, Team, Thursday 6:00pm, 1 hour

Could you update that? Thanks

[2021-03-29 22:36] akibrhast commented on #464
@alex-anakin Cannot start on this due to dependency not being resolved yet.

[2021-03-30 01:48] drubgrubby commented on #514
@ktjnyc -> I've made the update.  Please confirm that it is correct.  Thanks.

[2021-03-30 01:50] ktjnyc commented on #514
Looks good now! Thanks.

[2021-03-30 16:29] snooravi opened #516 "Add Accesss The Data Project to the project database"
### Overview
We need to add/change the team meeting time for Access the Data so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [ ] yes
- [x] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
EXAMPLE:
- Access the Data, Team Meeting, Tuesday 2:00pm,

[2021-03-30 20:53] drubgrubby commented on #516
@snooravi -> The Access the Data team meeting has been added to the website calendar.  Please check it and confirm that it is correct.  Thanks.

https://www.hackforla.org/project-meetings

[2021-03-30 21:54] drubgrubby commented on #504
@alex-anakin -> On the Admin Nav there is now an option to "Add Event".  Is that functionality going to be moved into the "Projects" area that is only accessible to the Project Managers for that project?

It seems like the PM should log into one of the projects that they are allowed to manage, and from there they will be able to create and edit events.

But maybe this add event is something else.

[2021-03-31 20:41] drubgrubby commented on #509
@switchzer0 -> BallotNav seems to be showing up in the drop-down now.  Was this a consistent thing, or was BallotNav not showing up intermittently?

Please let us know (reopen this issue) if you notice that it doesn't show up in the future.  I'm guessing this is solved, but it's possible it's some weird intermittent thing.

<img width="574" alt="Screen Shot 2021-03-30 at 6 22 48 PM" src="https://u

[2021-04-02 01:37] ktjnyc commented on #514
The meetings don't seem to be showing up on the VRMS website at meeting time.  Is it possible to get that updated too?

[2021-04-05 05:31] switchzer0 commented on #509
was a request from user. guess it's resolved itself!

[2021-04-05 05:31] #509 closed, assigned to drubgrubby

[2021-04-05 05:40] OlgaBilogurova commented on #501
@mdPial At the mockup you can see data as an example, to show how the dropdown works. I provided in the description the data object that simulating JSON data coming from the API for one of the future dropdowns. But the data could be absolutely different.

This issue about creating a dropdown as a new UI element. When it would be implemented we could pass any data object using props. That's why the

[2021-04-06 02:20] switchzer0 commented on #448
I am evaluating GNU vs Affero to ensure we can e.g., monetize to cover costs in the future.

[2021-04-08 01:39] Olivia-Chiong opened #520 "Adding the year 2021 for new user"
### Overview
We need to add the year 2021 for new users in the check in page as right now it only shows 2020.

### Action Items
- [ ] Edit calendar on check in page to include 2021

### Resources/Instructions
Check In Page
![image](https://user-images.githubusercontent.com/75456721/113955362-6cd7b600-97d0-11eb-97f3-a07c226a6502.png)

[2021-04-08 16:55] drubgrubby opened #522 "Meetings (intermittently) not displaying for check-in at meeting times"
### Overview
There appears to be a bug so that meetings that are listed on the website -- and hence are in the db -- do not reliably show up with the ability to check in at meeting time.

### Action Items

- [x] Determine if this is, in fact, a bug.
- [x] Figure out what the bug is.
- [x] Fix the bug.

### Resources/Instructions
HfLA website event listings: https://www.hackforla.org/project-meetin

[2021-04-09 00:20] peteplass commented on #505
Checked on Monday 4/4, was working for onboarding

[2021-04-09 00:21] peteplass commented on #505
Will check again on Tuesday 4/ 13. Issue will be closed if working.

[2021-04-09 00:29] peteplass commented on #511
@drubgrubby Rewrote readme files to help onboard people more easily. pull request awaiting review. Akib has reviewed. Waiting on Alex to sign off.

[2021-04-09 00:50] peteplass commented on #448
@akibrhast please Look at issue [705](https://github.com/hackforla/website/issues/705) to determine how we found all contribs
[How to notify everyone ](https://github.com/hackforla/website/issues/699)

[2021-04-09 00:52] peteplass opened #523 "Test issue"
This is a test of an issue. To see if people that are @ mentioned in code get notified.

```@experimentsinhonesty```

[2021-04-09 00:56] #523 closed, assigned to nobody

[2021-04-11 21:48] akibrhast opened #524 "List Of All Prior Contributors"
### Dependency
528 - intentionally not linked

[code]

[2021-04-11 21:52] akibrhast commented on #448
- [x] Run script to find all prior contributors to notify them

The script has been run and a list of all prior contributors can be found here -> https://github.com/hackforla/VRMS/issues/524

The automated script can be found here -> https://github.com/akibrhast/website/blob/gh-pages/.github/workflows/contributors.yml

- [x]  AT mention all prior contributors in the issue #449 - don't write anythi

[2021-04-11 21:58] akibrhast commented on #464
@alex-anakin Please advise on what to do next?

[2021-04-12 07:02] #520 closed, assigned to akibrhast

[2021-04-12 19:19] #456 closed, assigned to awhig, akibrhast

[2021-04-12 23:26] drubgrubby commented on #504
### Progress:
I'm about a week away from finishing the admin part where users are assigned projects that they can manage.

### Blockers:
I have not yet bent Ract to my will and instead spend much of my day cursing it.  I'm assuming that as I solve some of the puzzles about hope to pass things to and through components that this process will go more quickly.

### Availability:
All of the time that

[2021-04-13 02:23] switchzer0 commented on #280
obsolete

[2021-04-13 02:23] #280 closed

[2021-04-13 02:31] peteplass commented on #463
@akibrhast Will fix conflict and merge PR. Fix formatting and Alex will approve.

[2021-04-13 02:32] switchzer0 commented on #448
I agree that Affero is the right version of GNU — [Handy License Comparison](https://choosealicense.com/licenses/).
I'm not a lawyer, but specifically, it:
- contributors provide express grant of patent rights (to contribute is to agree)
- allows commercialization (we can monetize to cover costs eventually)
- modifications is done to provide service over a network (i.e., the VRMS use case) require

[2021-04-13 02:44] switchzer0 commented on #9
superseded and completed via other tix

[2021-04-13 02:44] #9 closed

[2021-04-13 02:45] switchzer0 commented on #433
superseded and (completed) by other tix

[2021-04-13 02:45] #433 closed, assigned to nobody

[2021-04-13 02:46] peteplass commented on #479
@harshad71 We would love to have you work on this. We meet Mondays 7pm Pacific. Please Join our slack by going to the https://hackforla.org

[2021-04-13 02:46] switchzer0 commented on #449
I believe this is superseded by other tix in progress, and that we have agreed on the GNU Affero v3 license. @ExperimentsInHonesty please confirm that my understanding is correct, and i'll close this out.

[2021-04-13 02:50] switchzer0 commented on #192
haven't heard from patrick for several months; I believe this work is obsolete as not on the critical path for v0.4

[2021-04-13 02:53] switchzer0 commented on #395
i believe this is completed or superseded per the discussion earlier today. would like to close

[2021-04-13 03:00] ExperimentsInHonesty commented on #449
Sorry for the message about changing the licence type.  This message went out erroneously.   We will be sending another message on a new issue when we sort out the licence type change.  Again sorry for the premature message.

[2021-04-13 03:00] #449 closed, assigned to switchzer0

[2021-04-13 03:03] peteplass commented on #448
@switchzer0 will add link to exact license type.

[2021-04-13 03:05] #395 closed, assigned to alex-anakin, nickbeaird, switchzer0

[2021-04-13 03:14] switchzer0 commented on #448
- [License: GNU Affero GPL v3.0](https://www.gnu.org/licenses/agpl-3.0.en.html)
- [Wikipedia entry](https://en.wikipedia.org/wiki/GNU_Affero_General_Public_License)
- [Concise "TLDR" explainer](https://choosealicense.com/licenses/)

[2021-04-13 04:45] akibrhast commented on #463
Based on the mongoose docs - > https://mongoosejs.com/docs/validation.html#built-in-validators

As such I don't think it is necessary to particularly do validation from within the service itself as noted on the issue body:

The validation should be, being done by the model, and the service should only be working towards passing validation errors up the chain. The current linked PR implements valid

[2021-04-13 15:55] snooravi commented on #516
Looks great! thank you

[2021-04-13 17:14] drubgrubby commented on #463
@akibrhast -> It seems like what you are suggesting makes sense.  I guess I'd try doing it your way, and then try passing some invalid data through the test and see if it catches it.  Just my two cents.

[2021-04-14 22:22] ExperimentsInHonesty opened #528 "VRMS repository wants to change its license type"
### Overview
The Hack for LA organization is seeking to add the appropriate licences to all projects.  You are receiving this issue because you contributed code to our repository.  If you disagree with the change to GNU Affero GPL v3.0.  Please let us know what pull request you submitted (provide a link to the pr in the comments of this issue), and we will remove the code.

We will add the licence

[2021-04-16 18:17] #512 closed, assigned to drubgrubby

[2021-04-16 18:18] #516 closed, assigned to drubgrubby

[2021-04-16 18:18] #514 closed, assigned to drubgrubby

[2021-04-16 18:18] #508 closed, assigned to drubgrubby

[2021-04-16 18:19] #507 closed, assigned to drubgrubby

[2021-04-19 04:12] AmyMendelsohn commented on #378
## Progress
Investigating origin of issue, starting with why the user is "undefined" in "Hi, undefined: (logout)" :
1. It used to work with firebase: https://github.com/hackforla/VRMS/pull/68
2. It was broken in this PR, when firebase was removed and magic links are used instead. Specifically, the user is set to be `true` instead of the actual user with email information in hooks/useProvideAuth.js

[2021-04-20 01:32] drubgrubby commented on #504
### Progress:
I made lots of progress, but some of that was proceeded by regress - I had to tear some parts of the component back and build them back more React.  I need to complete the add to database functionality, and then style and tidy.

### Blockers:
All of the things I don't know.

### Availability:
Hopefully I'll finish by the weekend.  Driving down to the desert on Sunday.

### ETA:
6:58p

[2021-04-20 02:10] #511 closed, assigned to drubgrubby

[2021-04-20 02:20] peteplass commented on #192
@switchzer0 Could you please elaborate on why this is now in Review and assign someone to review? Is Patrick still in on this?

[2021-04-20 02:30] peteplass commented on #501
Pial is currently taking exams and will return to project in the near future.

[2021-04-20 02:40] peteplass commented on #462
Is this still a good first issue? Alex to review.

[2021-04-20 03:00] peteplass commented on #448
@akibrhast to instruct Bonnie on how to use the custom contributor tool

[2021-04-20 03:01] akibrhast opened #529 "vrms repository wants to change its license type"
[code]

[2021-04-20 03:08] ExperimentsInHonesty commented on #529
Thanks!  I used it on issue 528.

[2021-04-20 03:08] #529 closed, assigned to akibrhast, ExperimentsInHonesty

[2021-04-20 03:10] ExperimentsInHonesty commented on #524
outdated.  Replaced with issue #529

[2021-04-20 03:10] #524 closed, assigned to nobody

[2021-04-20 03:16] gregpawin opened #530 "Change Lucky Parking Meeting Time"
### Overview
We need to add/change the team meeting time for Lucky Parking so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [X] yes
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
EXAMPLE:
- Lucky Parking, Team meeting, Monday 6pm, 1 hour

[2021-04-20 16:40] drubgrubby commented on #530
@gregpawin -> I've made the change as you requested.  Please confirm that this change is correct.

<img width="851" alt="Screen Shot 2021-04-20 at 9 38 28 AM" src="https://user-images.githubusercontent.com/68244054/115433414-65df7900-a1bc-11eb-9fc5-a232a8a633f3.png">

[2021-04-20 16:41] drubgrubby commented on #505
@peteplass -> Can we close this?

[2021-04-20 17:06] gregpawin commented on #530
Looks good! Thanks!

[2021-04-20 17:16] #530 closed, assigned to drubgrubby

[2021-04-25 18:10] akibrhast opened #531 "Change the meetings time for BOP to Civic Tech Structure meeting times"
### Overview
As requested on sunday meeting by @ExperimentsInHonesty .

- The meeting times for the card project card -> [Brigard Organizers Playbook Card](https://www.hackforla.org/projects/brigade-organizers-playbook) should have the meeting times from the [CTS Card](https://www.hackforla.org/projects/civic-tech-structure)  moved to it

- Remove those meetings times from CTS  [CTS Card](https://

[2021-04-25 23:36] AmyMendelsohn commented on #378
### Progress
- fixed email being undefined, so now it says "Hi email@gmail.com". Fix was to send user in verifyMe request in `user.controller.js`
- attempting to force logout by creating a new verification token when logout button clicked. Not sure if this is the best approach yet.

### Blockers
- need to learn more about how to logout and how to redirect to home page

### Availability
fairly flex

[2021-04-26 08:48] piall commented on #501
My exam has finished. I have started working again on this issue :smiley:

[2021-04-26 16:52] drubgrubby commented on #531
@akibrhast -> I don't understand what's being asked for here.  Do you?  There are three different projects mentioned on this issue: Brigade Organizers Playbook, Civic Tech Structure, and Home Unite Us.

Civic Tech Structure has meetings at: Sat 11:00 am - 1:00 pm, Tue 9:00 am - 11:00 am and Thu 9:00 am - 11:00 am

From the issue title I would guess that I should add those same meeting times for BO

[2021-04-26 17:32] akibrhast commented on #531
Hey @drubgrubby ,
My apologies, the initial issue created was incomplete and messy. I have just edited it.

- No I do not think so. Since no comment was made about deleting the Civic Tech Structure meeting times. @ExperimentsInHonesty Please confirm.

- This is not known. @ExperimentsInHonesty Please confirm.

- That is indeed correct. My apologies. I have edited it out.

- I would possibly check/

[2021-04-26 18:07] akibrhast commented on #531
@baleja please confirm the meeting times for BOP

[2021-04-26 18:09] drubgrubby commented on #531
@ExperimentsInHonesty @Olivia-Chiong ->  I have added Brigade Organizers Playbook meetings  to the calendar.

Please confirm that this is correct...or that it is not.

<img width="517" alt="Screen Shot 2021-04-26 at 11 23 06 AM" src="https://user-images.githubusercontent.com/68244054/116131988-e05b3d80-a681-11eb-9854-23974bc42b8e.png">

<img width="628" alt="Screen Shot 2021-04-26 at 11 23 15 AM"

[2021-04-26 19:20] Olivia-Chiong commented on #531
@drubgrubby We will actually be removing the times from Civic Tech Structure once they have been moved to BOP. Require @baleja to confirm the meeting times. I've sent this to her on Slack as well.

[2021-04-26 21:31] Baleja commented on #531
Hello there, BOP core meeting time on tuesday is at 10am PST not 9 anymore.
We also do not have the meetings on Thursday anymore as per Bonnies request.

[2021-04-26 22:46] drubgrubby commented on #531
Hi @Baleja - Just to confirm.  There are two meetings:

Tuesday, 10am -11am - Core Team
Saturday, 11am - 1pm - Core Team

Please confirm.  Thanks.

[2021-04-27 01:58] drubgrubby commented on #504
### Progress:
Almost done with this feature.

### Blockers:
misbehaving multi-level arrays and React confusion.

### Availability:
When awake.

### ETA:

Thursday before noon.

[2021-04-27 02:25] #505 closed, assigned to peteplass

[2021-04-27 02:26] peteplass commented on #192
Closing because no longer relevant.

[2021-04-27 02:26] #192 closed

[2021-04-27 03:22] peteplass opened #532 "Creation of tasks for Heroku account updates"
Create tasks to be detailed later titled the following:

Number 1. Try to deploy VRMS v03. current code on Heroku as a development instance.

Number 2. Check out that the application works in the new development instance

Number 3. If it does, replace the current production instance with the new one.

[2021-04-27 03:26] Baleja commented on #531
Yes confirmed

[2021-04-27 03:27] peteplass opened #533 "Try to deploy VRMS v0.3 current code on Heroku as a development instance."
### Overview
Deploy the VRMS application on Heroku from [prod](https://github.com/hackforla/VRMS/tree/prod) branch. It's a copy of the `development` branch.

### Action Items
1. Don't create Heroku-specific Procfile.

2. Don't run `client-mvp-04` on Heroku, just `backend` and `client`.

3. Pull VRMS code on the Heroku (I'm not sure about Heroku's way of delivering the code to the instance).

4. Cr

[2021-04-27 03:29] peteplass opened #534 "Check out that the application works in the new development instance on AWS incubator"
### Overview
Check out basic functionality after deploying the DEV instance on Heroku.

### Action Items
1. Register 2 new users in the DEV instance using existing and accessible emails.
2. Make one of the new users an admin directly in test DB using MongoDB Compass. MongoDB connection string is in [env variables](https://docs.google.com/document/d/1yDF6UmyO-MPNrl3y_Mw0mkm_WaixlSkXzWbudCzHXDY/edit

[2021-04-27 03:30] peteplass opened #535 "If it does, replace the current production instance with the new one."
Will flesh out this task to break down Heroku Redeploy

[2021-04-27 03:31] peteplass commented on #533
Alex assigned for task definition

[2021-04-27 03:31] peteplass commented on #535
Alex assigned for task definition

[2021-04-27 03:31] peteplass commented on #534
Alex assigned for task definition

[2021-04-27 03:32] peteplass commented on #532
Issues created and Assigned to Alex for technical fleshing out.

[2021-04-27 03:32] #532 closed, assigned to peteplass

[2021-04-27 09:20] piall commented on #501
@OlgaBilogurova I know you won't be able to work till April. Sorry for mentioning now. You can reply anytime.

I have an issue. I have implemented up to this. ![image](https://user-images.githubusercontent.com/43095489/116216600-9c903300-a76a-11eb-8a2a-f1c9d99d32bb.png)

According to [resource-1](https://stackoverflow.com/questions/31177789/increase-gap-between-select-menu-options) [resource-2](ht

[2021-04-27 15:07] peteplass commented on #501
Thanks for giving us an update, Pial!

[2021-04-27 16:13] drubgrubby commented on #533
@ExperimentsInHonesty -> Can you share whatever account information/credentials we need for Heroku so we can work on this?

[2021-04-27 18:04] drubgrubby commented on #531
@Baleja (@Olivia-Chiong @ExperimentsInHonesty ) -> I have added the two BOP meetings to the calendar, and removed the Civic Tech Structure meetings.

https://www.hackforla.org/project-meetings

Please confirm that it has been done correctly.  Thanks.

[2021-04-27 20:25] piall commented on #501
My Pleasure :smile:

[2021-04-29 02:31] peteplass commented on #501
Hey Pial, I reached out to you over Slack - go ahead and use the "#vrms-tech" channel for tech questions.

[2021-04-30 03:25] drubgrubby commented on #501
@mdPial -> I've had a chance to look at this issue and I have some thoughts.   Perhaps we can spend a few minutes on zoom at some point to talk about the best approach.  I'll slack you and we'll see if we can find some time.

[2021-05-02 18:16] #489 closed, assigned to piall

[2021-05-02 18:55] glenflorendo opened #539 "Edit team meeting times for Engage"
### Overview
We need to add/change the team meeting time for Engage so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
EXAMPLE:
- Engage, All Team Members, Sunday 4pm, 1 hour
- Engage, A

[2021-05-02 20:14] drubgrubby commented on #539
@glenflorendo -> The changes to the Engage meeting times have been made.  Can you please check them out and confirm (in this issue) that they are correct?  Thanks.

https://www.hackforla.org/project-meetings

[2021-05-02 20:26] glenflorendo commented on #539
@drubgrubby The changes look great! Thank you so much!

[2021-05-02 20:31] #539 closed, assigned to drubgrubby

[2021-05-03 17:44] drubgrubby commented on #378
Amy fixed the part of this issue that had to do with the name not showing up in the footer.  It was decided at the last meeting not to bother fixing the logout functionality on version 3 as it will (hopefully) not be around long enough for that to be worth the effort.  I am closing this issue.

[2021-05-03 17:44] #378 closed, assigned to AmyMendelsohn

[2021-05-04 00:32] switchzer0 opened #540 "Review landing/login screen design"
check for completeness and common sense against PRD

[2021-05-04 00:32] switchzer0 opened #541 "Review onboarding flow design"

[2021-05-04 00:33] switchzer0 opened #542 "Review dashboard and menu design"
check for completeness and common sense against PRD

[2021-05-04 00:34] switchzer0 opened #543 "Review community of practice component design"

[2021-05-04 00:35] switchzer0 opened #544 "review projects component design"

[2021-05-04 00:36] switchzer0 opened #545 "review checked-in component design"

[2021-05-04 00:36] switchzer0 opened #546 "review admin reports component design"

[2021-05-04 00:37] switchzer0 opened #547 "review join-approval component design"

[2021-05-04 00:44] switchzer0 commented on #540
meets requirements

[2021-05-04 00:44] #540 closed, assigned to switchzer0

[2021-05-04 01:36] drubgrubby commented on #533
### Progress:
I just got added to Heroku today, so I am able to work on the vrms Heroku app.  So that feels like progress.

### Blockers:
I've never worked with Heroku, and there are many things that I don't know about many things.

### Availability:
Yes

### ETA:
Hahahahaha.  Which is to say, I just got the login info, and I haven't started, so I can't even make an estimate.

[2021-05-04 01:39] drubgrubby commented on #504
### Progress:
Part one of this - adding projects to users so that they can manage them - is working, and I am very happy about that.  I still need to do some rudimentary styling, and then I'll do a PR.

### Blockers:
My eyes hurt from staring at a computer so much.

### Availability:
Yes

### ETA:
Thursday

[2021-05-04 02:53] peteplass opened #548 "Create user accounts for Dev team in VRMS project's AWS console"
Alex to draft:

[2021-05-04 02:56] peteplass commented on #548
Dev team here is likely  Akib, Mohith and David

[2021-05-04 02:59] peteplass opened #549 "Clarification on AWS account access/creation from Admin"
Admin is Olivia while Bonnie is out.

Alex and Mohith to reach out to Olivia to schedule conversation this week.

[2021-05-04 03:01] peteplass commented on #548
Currently Awaiting clarification of process from admin.

[2021-05-04 03:05] peteplass opened #550 "Prepare MongoDB Atlas on AWS For dev instance"
Alex to add additional details.

[2021-05-04 03:10] peteplass opened #551 "Fix VRMS Dockerization"
We need to focus on VRMS 0.3 Docker setup.

Backend docker file: https://github.com/hackforla/VRMS/blob/development/backend/Dockerfile.api
Client v 0.3 docker file: https://github.com/hackforla/VRMS/blob/development/client/Dockerfile.client
Docker-compose configs (we need to have the first only):
https://github.com/hackforla/VRMS/blob/development/docker-compose.yml
https://github.com/hackforla/VRM

[2021-05-04 03:13] peteplass opened #552 "Ask Ops team for assistance with incubator deployment"
Dependencies:
#550
#551

[2021-05-04 03:16] peteplass commented on #533
Currently moot while we switch to AWS

[2021-05-04 03:17] #533 closed, assigned to nobody

[2021-05-04 03:18] peteplass commented on #535
Moot task in the face of AWS transition

[2021-05-04 03:18] #535 closed, assigned to nobody

[2021-05-04 03:20] peteplass opened #553 "Split 0.3 and 0.4 Backend/Frontend Code"
We need to use separate branches for 0.3 and 0.4.

This must happen before Docker fix.

[2021-05-05 07:09] #487 closed, assigned to akibrhast

[2021-05-06 03:57] drubgrubby opened #555 "Create issues to Implement page so project managers can mange the projects they are assigned"
[This is a placeholder issue that will be expanded into multiple issues and closed when issues have been created].

### Overview
Project managers are currently unable to add and change meeting times, and make other changes to their projects in VRMS.  This feature will allow them to make changes themselves.

### Action Items

~0) Allow creation of new projects (add to admin section)~

~1) Create ma

[2021-05-06 18:53] averdin2 commented on #555
I worked on this with @drubgrubby

[2021-05-07 01:20] #463 closed, assigned to akibrhast

[2021-05-07 01:49] akibrhast commented on #551
As discussed on 5/62021
I am first going to work on fixing dockerization for v0.3 .

[2021-05-09 19:06] akibrhast commented on #551
Not sure if I am supposed to :
1.  Figure out how to containerize the existing production vrms-03 ? That is currently running on heroku and is based on this [repo](https://github.com/sarL3y/VRMS-prototype)
OR
2. Figure out how to containerize the development vrms-03 that is connected to nothing atm

@alex-anakin @peteplass

[2021-05-10 04:53] AmyMendelsohn commented on #479
Weekly Update:
I wasn't able to work on this much this week due to unforeseen outside events.

### ETA
Should have a much better update by next week

[2021-05-10 22:44] drubgrubby opened #560 "Allow admin to create new projects"
### Overview
Create a feature so that admins can create new projects

### Action Items

- [x] Add a button to the useradmin page that will open a create new projects component
- [x] Add CreateNewProject component that will allow admin to create a new project
- [x] This will only take the name of the new project.  (Additional info will be added in project management section)
- [x] Test new project

[2021-05-10 23:13] drubgrubby opened #561 "Create basic manage projects page and component"
### Overview
Create a page for project managers (or other authorized individuals) to make changes to the pages that they are authorized to edit.

### Action Items

- [x] Create ManageProjects.js with empty ManageProjects component
- [x] Create ManageProjects.scss
- [x] Link to the "Projects" link in the navbar

### Resources/Instructions
https://github.com/hackforla/VRMS/blob/development/client/sr

[2021-05-10 23:18] drubgrubby opened #562 "Create login functionality for project management page"
### Overview
When a user logs in to vrms.io - if they have a project (or projects) associated with their username - they should be sent directly to the project management page.

They should only have access to this page and not the other admin features.

### Action Items

- [x] Add navigation links to project management page.
- [x] Create the above login functionality

### Resources/Instructions

[2021-05-10 23:42] drubgrubby opened #563 "Create 'select project' functionality for project management"
### Overview
Some users will be authorized to edit multiple projects.  The ManageProjects page should display links to the projects that the logged in user is authorized to edit.

They will be able to click the link to the project that they want to edit and go to the manage project component.

If the person logged in is 'admin' they should see all of the projects.

### Action Items
Create a Select

[2021-05-10 23:53] drubgrubby opened #564 "Create database read/write functionality in ManageProjects.js"
### Overview
Many of the components in this feature will make use of database read/write functionality.  Write the basic read/write functions to be used in the various components of mange projects.

### Action Items

- [ ] Create a function that will take input and update a particular field in the database using PATCH method. This should be flexible enough to take input for single or multiple item

[2021-05-10 23:57] drubgrubby opened #565 "Create 'EditSpecificProject' component"
### Dependencies
#561

### Overview
Once a user selects the project they are going to be editing, they will need to be able to choose which fields they are going to edit. Create a component that displays all of the data for the selected project and gives the project manager the option to select the particular data that they want to edit.

### Action Items
Create a component that displays all of th

[2021-05-11 01:26] OlgaBilogurova commented on #471
Progress:
- Reworked `auth` logic for `AdminLogin` component for the old client to have login functionality working (for `admin `user role).
- Merged changes from `development `and have 1 backend test failing.

I'm going to refactor and rename this component, and probably extract API requests to a separate file.
Will do it this week.

Blocks: PR #492 - 1 backend test failing
Availability: Weekdays

[2021-05-11 01:44] #471 closed, assigned to OlgaBilogurova

[2021-05-11 01:48] alex-anakin commented on #553
I was blocked by #492. It's merged now.
ETA - end of the week.

[2021-05-11 01:50] alex-anakin commented on #548
Created accounts for David, Akib, Mohith.

[2021-05-11 01:50] #548 closed, assigned to alex-anakin

[2021-05-11 02:05] peteplass commented on #549
Currently waiting on Olivia regarding payment should project exceed MongoDB free tier.

[2021-05-11 02:06] drubgrubby commented on #555
### Progress:
Moving right along.  Have the issues listed, about halfway done with creating them.

### Blockers:
None.

### Availability:
Yes

### ETA:
Wednesday

[2021-05-11 02:10] peteplass commented on #501
David reviewed PR - can offer feedback with consultation. Added question. Olga to review PR.

[2021-05-11 02:12] peteplass commented on #542
@switchzer0 Please update. Thanks!

[2021-05-11 02:16] peteplass commented on #551
Alex to answer to move project along.

[2021-05-11 02:24] peteplass commented on #550
For the time being, maintain one atlas account separate from the AWS account. @mrao2

Please aim to get a dev account by Thursday. 5/13

[2021-05-13 07:31] alex-anakin commented on #551
@akibrhast we don't work with any other repositories than https://github.com/hackforla/VRMS

The current state of VRMS 0.3 code in the repository is pretty far ahead of the Heroku deployed application state. Let's say, 500 commits ago the code was prepared for Heroku deployment. But now it's dockerized and all Heroku configs are gone.

Backend docker file: https://github.com/hackforla/VRMS/blob/de

[2021-05-13 18:29] drubgrubby opened #570 "Create/Edit/Delete Project meetings"
### Overview
Create a component that allows project manager to create, edit and delete meetings for their project.

### Action Items

- [x] Create EditMeetings React component
- [x] Add functionality to create new meeting time
- [x] add functionality to delete existing meeting time
- [x] Add functionality to edit existing meeting

### Resources/Instructions
db.recurringevents
vrms.io/projects
http

[2021-05-13 18:36] drubgrubby opened #571 "Edit project fields"
### Dependencies
~#563~

### Overview
Create the functionality to edit all of the fields associated with the selected project. (This will not include meeting times).

### Action Items
Display all fields related to selected project in editable text boxes
Write changed fields to the db

### Resources/Instructions
db.projects
vrms.io/projects
https://github.com/hackforla/VRMS/blob/development/client/

[2021-05-13 18:38] drubgrubby commented on #555
Issues have been created for the edit projects feature.

[2021-05-13 18:38] #555 closed, assigned to averdin2, drubgrubby

[2021-05-14 00:51] alex-anakin commented on #462
Yes, it is.

[2021-05-14 06:24] OlgaBilogurova commented on #501
Reviewed PR, provided suggestions/comments, and requested changes.

[2021-05-17 23:22] switchzer0 commented on #542
meets requirements

[2021-05-17 23:22] #542 closed, assigned to switchzer0

[2021-05-17 23:49] switchzer0 commented on #541
ETA by next meeting

[2021-05-18 00:05] akibrhast commented on #551
## Progress
The docker compose and the docker files are working and running the application. However I have not yet thoroughly tested out the entire application in all its details as was discussed/requested on last Thursday. Last week I was celebrating Eid. So did not spend any time working on anything. I should have a more detailed report in regards to how everything is working by this thursday o

[2021-05-18 01:57] #501 closed, assigned to piall

[2021-05-18 02:12] peteplass commented on #504
Please update when you get a chance.

[2021-05-18 02:34] peteplass commented on #553
Github is very good at finding vulnerabilities in main branches.  Since there can't be two main branches, some of the dependency checks could go missed with two active branches, as the second one will need to be checked manually with every update.

To get around this, we will have one single active branch and Alex will create two backend folders derived from the existing one.

[2021-05-18 02:43] peteplass commented on #549
Mohith to update. @mrao2

[2021-05-18 02:44] peteplass commented on #550
Please update.

[2021-05-18 02:46] peteplass commented on #472
Please update.

[2021-05-18 02:47] mrao2 commented on #549
No reply from Olivia yet.

[2021-05-18 02:47] peteplass commented on #561
Please update.

[2021-05-18 03:01] peteplass opened #572 "Demo/Sprint Review"
### Dependencies:

~#551~
~#552~
~#534~

Discussed by Suvy on 5/17/2020.

We would like to re-structure the meetings to include demos or sprint reviews. We will discuss with the dev team and re-visit on 5/24.

Alex recommends not linking demos not to timelines but to implementations.

Suvy suggests that timelines are customized to the team's capabilities.

[2021-05-18 21:22] averdin2 commented on #561
I made a new empty component and SCSS file to be used for managing user's projects. The current path is /projects. Below is a screenshot of the page. Once PR #556 is merged, this can be merged after and more work on this Manage Projects page can be done.

![image](https://user-images.githubusercontent.com/10714770/118724903-15236600-b7e4-11eb-8fe2-dcbbce2fe2b4.png)

[2021-05-19 20:09] drubgrubby commented on #504
There is an outstanding pull request on this issue.

[2021-05-20 03:29] piall commented on #491
Hi @OlgaBilogurova . Could you add information about the ESLint & Prettier configuration we are going to make for `client-mvp-04`?.

[2021-05-21 02:38] alex-anakin opened #574 "Copy the current production database to the newly created MongoDB on AWS"
### Overview
After finishing #550 copy the current production database to the newly created MongoDB on AWS.

### Action Items
1. Make DB dump locally.
2. Upload the dump to the newly created MongoDB on AWS.

### Resources/Instructions
https://docs.mongodb.com/database-tools/mongodump/
https://docs.mongodb.com/database-tools/mongorestore/

[2021-05-24 07:50] OlgaBilogurova opened #575 "Refactor AdminLogin component & rename to Auth (v3 client)"

[2021-05-24 07:59] OlgaBilogurova commented on #472
Progress: Working on email validation against List of popular domains.
Blocks: none
ETA: 2-3 weeks

[2021-05-24 08:05] OlgaBilogurova commented on #575
Done, PR on code review

[2021-05-24 21:14] #575 closed, assigned to OlgaBilogurova

[2021-05-24 22:36] drubgrubby commented on #504
### Progress:
There are just a couple of minor code changes and this will be done.

### Blockers:
I am currently at this meeting.

### Availability:
I will finish this tomorrow.

### ETA:
Tomorrow, the day I finish it.

[2021-05-25 02:09] peteplass commented on #553
Alex moved some files, didn't have time to finish last week. Estimated time to complete: end of week of May 24.

[2021-05-25 02:10] jbubar commented on #479
Question: How would you like the autocomplete to look? Dropdown?

progress: got the dev environment working, did a little research on autocomplete
blockers: not sure about the autocomplete.
availability: during the day erday
ETA: next week monday

Going to meet w david after this meeting

[2021-05-25 02:17] peteplass opened #578 "Deployment of VRMS new prod instance on AWS using new prod DB"
### Overview
Deployment of VRMS new prod instance on AWS using new prod DB

### Action Items
Review of code and terraform script
Darren will run the script

### Resources/Instructions
complete after #574

[2021-05-25 02:21] peteplass opened #579 "Contact Ops team regarding terraform script."
### Overview
Coordinate with Ops team regarding terraform script

### Action Items
Ensure that Dockerization works properly a la #551
Alert Ops team, scripts should be the same for incubator and production instance.
The Ops team needs to be asked to make the script for us.

### Resources/Instructions
dependency #551
Ops team PoC - Darren

[2021-05-25 02:28] peteplass opened #580 "Switching DNS of vrms.io from existing prod instance to the new one."
### Overview
Switching DNS of vrms.io from existing prod instance to the new one.

### Action Items

- [x]  add custom domain of VRMS.io to the AWS instance.
- [x]  Close the Heroku account with previous VRMS production instance.

### Resources/Instructions

https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-a-third-party-dns-provider.html

[2021-05-25 02:37] peteplass commented on #549
Discussion w/ Alex on Thursday: We need access to vrms@hackforla.org in order to get access to the MongoDB account.
Bonnie notes: this may create a lot of paperwork because all separate clouds accounts need to be tracked separately and balloons admin overhead.

Mohith: We can set up MongoDB on an EC2 instance on AWS. There may be scaling issues?
AWS Fargate may save resources by containerizing the

[2021-05-25 02:39] peteplass commented on #448
license repo added.

[2021-05-25 02:39] #448 closed, assigned to ExperimentsInHonesty

[2021-05-25 02:40] peteplass commented on #550
discussion ongoing. action to be taken after discussion with Darren this week.

[2021-05-25 02:40] peteplass commented on #541
Please update.

[2021-05-25 02:42] peteplass commented on #551
Please update.

[2021-05-25 02:43] peteplass commented on #561
currently blocked by #556

Otherwise PR is ready

[2021-05-25 02:45] peteplass commented on #572
Blocked - Suvy absent from meeting this week.

[2021-05-25 02:46] peteplass commented on #491
Was busy this week. Hoping to make the PR by this coming Thursday 5/27

[2021-05-25 02:49] peteplass commented on #479
@OlgaBilogurova  to answer Josh this week after review.

@jbubar  will DM Olga on Slack.

[2021-05-25 03:37] OlgaBilogurova commented on #491
Hi @mdPial,
I created this task because devs were saying that they have some warnings for v 0.4 but I didn't have them.

For this task you need:
1. explore the existing configuration
2. find areas for improvements
4. find common configuration or other possible options
5. suggest these improvements
6. configure and create PR

[2021-05-25 03:46] drubgrubby opened #581 "research useage of vrms-bot@hackforla.org"
### Overview
The email vrms-bot@hackforla.org exists, but it is not clear if it is being used, and if so, for what.

### Action Items

- [x] Login in to vrms-bot@hackforla.org using 1password
- [x] Review the emails that are in the account
- [x] Discuss as appropriate with tech team to figure out if they count as still in use.
- [x] If technical, turn into dev issue and have dev document in wiki.

[2021-05-27 16:46] #528 closed, assigned to ExperimentsInHonesty

[2021-05-28 01:35] #504 closed, assigned to drubgrubby

[2021-06-01 02:00] jbubar commented on #479
@OlgaBilogurova answered my questions. thanks Olga!
<details>
    <summary>Here is my progress</summary>

![vrms-input-skills](https://user-images.githubusercontent.com/53061723/120256113-48cda980-c242-11eb-9e95-9fa195140845.gif)

</details>

I still need to do some styling, add icons, do a dropdown, and set up testing for it.

ETA: probably 2 weeks. A bit more complicated than I thought

[2021-06-02 00:37] jbubar commented on #479
<details>
    <summary>Styled to look like the figma</summary>

![input-skills-newly-styled](https://user-images.githubusercontent.com/53061723/120406534-f05ce180-c2ff-11eb-9e66-0741d0b5d955.gif)

</details>

Going to work on auto complete next

[2021-06-02 15:01] #561 closed, assigned to averdin2

[2021-06-07 22:52] drubgrubby commented on #560
### Progress:
Moving right along.  I have the form done.  Working on the validation

### Blockers:
None that I know of.

### Availability:
Yes

### ETA:
Thursday

[2021-06-08 01:18] switchzer0 commented on #541
no progress, will reengage this coming week

[2021-06-08 01:44] suvyrao commented on #572
1.Review of increments can be scheduled for every 3rd or 4th monday---Team decides
2.Work is bundled in Vertical slices so that demo of increments of working Software is possible - Front End/Back End
3. Demo will happen in Non-Prod ---do we have a non-prod env?

[2021-06-08 01:53] OlgaBilogurova commented on #472
Progress: Didn't have enough time to work on the task

[2021-06-08 02:07] alex-anakin commented on #553
Didn't have time to finish it.
ETA: the next meeting (6/14/2021)

[2021-06-08 02:13] peteplass commented on #549
@mrao2 Please update.

[2021-06-08 02:14] akibrhast commented on #551
### Progress
Docker compose works as expected, all the routes and pages are working fine. We can delete docker-compose.ci
- Edited the docker-compose.yml file and removed the 0.4 client stuff

### Blockers
Please advise on what to do next.

### Availability
evenings

### ETA
I think this is done? Please advise.

[2021-06-08 02:14] peteplass commented on #550
@mrao2 Please update.

[2021-06-08 02:16] peteplass commented on #472
unassigned Olga based on time constraints

[2021-06-08 02:22] peteplass commented on #551
Alex states that we need to prepare PR then we need to communicate with ops team. For the ops team, this needs to run "out of the box".

[2021-06-08 03:03] peteplass commented on #462
Alex: When any project is updated, the user can specify the project's roles - list will be shown to user for any project that the user will open. All roles that are used in any project will be accumulated in a dictionary to be reused across applications in the future.

Projects leads will know what technical skills they need and what roles are open. A dictionary will help them name these roles cor

[2021-06-08 03:29] peteplass commented on #549
Please checkout 1Password VRMS access through vrms@hackforla.org.

[2021-06-08 03:40] peteplass commented on #572
This was discussed on 6/7 and the roadmap document was gone over: https://docs.google.com/document/d/1nc1oZZHbizpki76G-pPYLhIUT6mL89jUAWNVK_sQmrA/edit

This list has been organized and tasks have been assigned.

[2021-06-10 03:41] jasonwong26 commented on #462
Pull Request: https://github.com/hackforla/VRMS/pull/586

[2021-06-15 01:35] drubgrubby commented on #562
### Progress:
Just getting into it, so no real progress, unless you consider thinking about it to be progress.

### Blockers:
Not yet.

### Availability:
Most of the week as we are expecting temperatures over 110 and I don't plan to spend too much time outside.

### ETA:
TBD

[2021-06-15 01:47] switchzer0 commented on #541
no concerns with existing design

[2021-06-15 01:47] #541 closed, assigned to switchzer0

[2021-06-15 02:08] alex-anakin commented on #553
Didn't feel well the last week.
No additional progress.
ETA: 6/21/2021

[2021-06-15 02:08] jbubar commented on #479
Here is my update:
<details>
    <summary>a little gif</summary>

![inputskillsshowerrors](https://user-images.githubusercontent.com/53061723/121982127-ca91fc80-cd43-11eb-9b1c-ba833fbe23e2.gif)

</details>

Quite a few things I still need to iron out. I'll be working on it during this meeting. shhh

[2021-06-15 02:08] #531 closed, assigned to drubgrubby

[2021-06-15 02:14] peteplass commented on #549
We need to see if we can host a MangoDB instance within the current dev instance.

Alex: do we have access to the vrms@hackforla.org account?
We do not currently need an additional account for this - Mohith.

Alex - we need to create an additional task for the Ops team regarding this.

[2021-06-15 02:15] peteplass commented on #550
We need to post a question to the Ops chat re: running a MongoDB instance within our current AWS dev environment.

[2021-06-15 02:15] akibrhast commented on #551
Unfortunately I was not able to resolve this issue. I am self-unassigning myself from this. So that I won't cause a blocker and someone else can take over.

[2021-06-15 02:16] peteplass commented on #550
Mohith will post to Ops team channel regarding the above. Will tag Alex as well.

[2021-06-15 02:18] peteplass commented on #491
@mdPial Please update.

[2021-06-15 02:25] peteplass commented on #572
Still have dependencies

[2021-06-15 02:25] peteplass commented on #572
Aiming for 6/28 for first product demo (2 weeks out)

[2021-06-15 02:34] peteplass opened #590 "Checking on end to end demo requirements"
### Overview
We are aiming at a product demo on 6/28th and need to narrow down the tasks necessary to make this happen

### Action Items

- [ ] Alex will review all existing tasks and identify what needs to be prioritized for the demo

[2021-06-15 02:38] peteplass commented on #464
Pete to assign to Glen once Glen has access to Repo.

[2021-06-15 05:27] piall commented on #491
@peteplass I apologize for not giving the update. I will update my PR soon.

[2021-06-15 22:24] jasonwong26 commented on #551
## Status

Added [PR 591](https://github.com/hackforla/VRMS/pull/591) to address the proxy issue.

Akib tested it in his environment and the fix works.

## Next Steps

1. Have someone review both PRs linked to this ticket (#585 and #591)
   NOTE: PRs fail the ` test-mvp-unit` check due to removing the docker-elements related to client v0.4.
2. Merge the changes of both PRs
3. Update the google doc

[2021-06-17 15:23] piall commented on #491
## Progress
Added new configuration from scratch. Waiting for test results from others.
## Current Problem
Giving different results in different machines

[2021-06-18 01:31] jbubar commented on #479
Almost done,
<details>
    <summary>still need to check for repeats and add back in the red asterisk in all cases</summary>

![Screen Shot 2021-06-17 at 6 29 05 PM](https://user-images.githubusercontent.com/53061723/122492146-1b029780-cf9a-11eb-9e4e-4465edef3f76.png)

</details>

Need to do the validation also

[2021-06-21 06:18] jasonwong26 opened #592 "Create LocalStorage Service"
## Story
Relates to feature: 1.05 - Landing/Login Page - Text Field Memory

## Instructions

- [x] Review the documentation below related to localStorage.
- [x] Create a  new service for storing data to client localStorage with the following methods:
      - `getItem(key)` - retrieves the value of the specified key
      - `setItem(key, value)` - sets the value of the specified key
      - `remove

[2021-06-21 06:49] jasonwong26 opened #593 "Add LocalStorage Service to loginContainer.js"
## Story
Relates to feature: 1.05 - Landing/Login Page - Text Field Memory

## Dependencies
~#592~

## Instructions

- [x] Review the storage service created for #592
- [x] Add a reference to the storage service to the `components/login/loginContainer.js` file.
- [x] Choose a key to use for storing the prior input to the landing page (you get to pick this!)
- [x] Add an internal function that uses

[2021-06-21 07:03] jasonwong26 opened #594 "Add LocalStorage value to loginView.js"
## Story
Relates to feature: 1.05 - Landing/Login Page - Text Field Memory

## Dependencies
#592
#593

## Instructions

- [ ] Review the changes made for #593, in particular the new props value being passed to `/components/login/loginView.js`
- [ ] Add the new props to the props list for this component.
- [ ] Edit the email input field to set the value to the new props value.
- [ ] Test to confirm

[2021-06-22 00:49] glenflorendo commented on #464
**Progress:** Actions Items 1-4 completed. Currently working on Action Item 5: writing tests.
**ETA:** End of the week

[2021-06-22 01:55] drubgrubby commented on #562
### Progress:
None.

### Blockers:
Being in a physical body living among other humans.

### Availability:
Yes

### ETA:
Thursday

[2021-06-22 02:07] switchzer0 commented on #545
### Update
mismatch between requirements and design. requires a few new fields. will adjust Figma this coming week
### ETA
1 week

[2021-06-22 02:16] peteplass commented on #560
David will respond to Alex Review

[2021-06-22 02:17] peteplass commented on #553
Alex worked on documentation - not complete for this week 6/21 -

ETA: 6/28

[2021-06-22 02:21] peteplass commented on #550
Mohith tagged the Ops team last week in a request and has not received a response.

Mohith believes that we can run MongoDB in an EC2 instance.

[2021-06-22 02:24] peteplass commented on #549
Closing due to duplicate.

[2021-06-22 02:24] #549 closed, assigned to mrao2

[2021-06-22 02:29] peteplass commented on #572
Will leave this open for review on 6/28.

[2021-06-22 02:30] peteplass commented on #590
Alex double checked the work. The task list can be found in #572

[2021-06-22 02:30] #590 closed, assigned to alex-anakin

[2021-06-23 16:10] akibrhast commented on #551
Merged in PR #591

[2021-06-23 16:10] #551 closed, assigned to jasonwong26

[2021-06-25 02:08] connie-yu-dotcom opened #597 "Meeting time changes for Civic Tech Index"
### Overview
Civic Tech Index requires some updates on our meeting times on the Hack for LA site.

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
Civic Tech Index meeting times

Thu 6:00 pm - 8:00 pm
Team Meeting
Mon 6:00 pm - 8

[2021-06-25 05:23] jbubar opened #598 "dev-ui-kit: Tweek 'input with icon'"
### Overview
The input with icon component has two things that I noticed that we might want to change
1. The placeholder text is cut off by the input.
2.  when you click on the icon, it does not focus on the input.

<details>
    <summary>screen shot</summary>

![Screen Shot 2021-06-24 at 7 19 27 PM](https://user-images.githubusercontent.com/53061723/123373893-0fcfde80-d53b-11eb-9b3e-7f7614e0e57a.

[2021-06-25 05:26] jbubar opened #599 "Make it into its own component"

[2021-06-25 05:26] #599 closed, assigned to nobody

[2021-06-25 05:49] jbubar opened #600 "add functionality to Dropdown component"
### Dependency
#479

### Overview
The [dropdown component](https://github.com/hackforla/VRMS/blob/development/client-mvp-04/src/components/common/dropdown/dropdown.js) in the src/components/common/dropdown folder does not close when the user clicks outside of the dropdown. the only way to close the dropdown is to click one of the options or the input component.

<details>
    <summary>gif of me cl

[2021-06-25 16:34] akibrhast opened #601 "VRMS-03 checkIn route in client is broken"
### Overview
- Home page is broken
- Check in system is broken

### More details to be added in the comments section

![image](https://user-images.githubusercontent.com/32349001/123519609-6e4fa680-d67a-11eb-96f7-f76ed6a61ec1.png)

### The files in question
- [CheckInfForm.js](https://github.com/hackforla/VRMS/blob/development/client/src/pages/CheckInForm.js)
- [NewUserForm.js](https://github.com/h

[2021-06-26 01:43] piall commented on #592
### Update
I am taking this issue on behalf of Akib. Akib will be busy this week.

[2021-06-26 02:46] akibrhast opened #603 "Database constraints are not being applied on vrms-test"
### Overview
The vrms-test database had multiple entries for the same person with the same email, Even though there was a constraint on the User model which dictated that email entries had to be unique. This problem also applies to the prod-db

### Action Items
- Figure out why the constraints are not being applied
- Fix the problem
- Make note of the fix such that it can be later applied to prod-

[2021-06-26 02:49] akibrhast commented on #603
The checks for existing emails did exist, but duplicate email entries where still going through because the database did not apply the constraint. Even though the model did specify that email to be unique. The reason for this is because, the database had already contained duplicate email entries `BEFORE/DURING/WHEN` the unique email key constraint was applied.

As such the constraint never took ef

[2021-06-26 02:52] #603 closed, assigned to akibrhast

[2021-06-26 02:54] akibrhast commented on #534
It's broken in call kinds of weird ways, and I don't even know where to begin

[2021-06-26 05:40] akibrhast commented on #601
### Some notes/details

- In regards to `/client/CheckInForm.js` which is routed via `{ path: '/checkIn/:userType', name: 'checkIn', Component: CheckInForm },`
on the `/client/App.js` file

- The function `submitNewProfile` is not being used at all. It is being called in `createNewProfile` which is not being called at all

- Not sure what nesseciates the function `checkEmail` , the email check is

[2021-06-26 16:23] akibrhast commented on #601
Based on the object  `question` it seems to me that the Current Role and Desired Role fields are supposed to be dropdowns, no?

![image](https://user-images.githubusercontent.com/32349001/123519446-56c3ee00-d679-11eb-8fc9-a5bacd829e07.png)

![image](https://user-images.githubusercontent.com/32349001/123519513-a86c7880-d679-11eb-8815-301c952e2cee.png)

[2021-06-26 16:36] akibrhast commented on #601
### A WIP PR that is trying to address the problems
- https://github.com/hackforla/VRMS/pull/602

[2021-06-26 17:42] akibrhast commented on #601
Deleted question about hack nights cause we dont have hack nights anymore

[2021-06-26 19:27] akibrhast commented on #601
- Checkin model in backend allows for checkingIn for a NULL event.
    - [ ] Investigate and note does all mongo shell command that will delete all existing checkIn entries with a NULL eventId
    - [ ] CheckIn model eventId needs to be set to become a required field

-  Checkin model in backend allows for checkingIn for a NULL user.
    - [ ] Investigate and note does all mongo shell command that

[2021-06-26 19:32] akibrhast commented on #601
Why use fetch and not axios?

- Yes fetch has come a long way, yes it's built into vanilla. Yes axios has a lot of dependencies. But Axios still provides an  easier handling for network requests when compared to fetch.
- But we aren't trying to maintain v03 over any long period of time, its supposed to be a POC . From my understanding we are trying to get it to a functioning state at minimum.

[2021-06-26 20:35] akibrhast commented on #601
~~- The api call on the home page, `/client/src/pages/Home.js` is broken. It is calling the endpoint functionality,
`"/api/events?checkInReady=true"` which does not exist. Which causes the home page to NEVER show any events that might be available for checking in.
    - [ ] Fix this by possibly adding a new controller method, that queries the event entry for checkInReady=true events.~~
This is not

[2021-06-26 20:38] akibrhast commented on #601
I am not sure how much things I should move around in the backend, it is very inconvenient to figure out which sections of the code belongs to 03 and which ones for 04. This is probably a dumb question that I feel has possibly been answered already but why on earth are we not separating the 03 and 04 to their own branches. @alex-anakin  ?

[2021-06-26 20:39] akibrhast commented on #601
@hackforla/vrms-write

[2021-06-26 21:06] akibrhast opened #604 "VRMS 0.4 Minimum Viable Product (MVP) Requirements"
<sub>Drafted by Adam Spar and Alex Anakin
Stakeholder Representative: Bonnie Wolfe
Short url to the document: https://tinyurl.com/vrms-mvp-o4 </sub>

<details>
<summary>Purpose and Scope</summary>

VRMS is a browser-based software tool for Hack for LA (HfLA) to offer personalized management of project and volunteer experiences. The tool will further the organization’s goals of creating pro-social

[2021-06-27 06:09] akibrhast commented on #601
- On successful check-in with a valid email as a returning user, the client redirects to the success page. However, when using the returning user endpoint to check in as random email. Nothing happens.
   -[ ] Add display notification on non-valid email for returning user check-in

[2021-06-27 19:01] aliibsin opened #605 "Fix Links on Events Page for CoP Meetings"
### Overview
All the CoP meeting links are pointing to the wrong url. This is requested by https://github.com/hackforla/website/issues/1836

### Action Items
 - [ ] Ensure they are pointing to https://www.hackforla.org/communities-of-practice

### Resources/Instructions
Image below is an example. All CoP links should point to link above.

![image](https://user-images.githubusercontent.com/77088922

[2021-06-27 19:10] drubgrubby commented on #605
@aliibsin -> Just to be clear, the field `hflaWebsiteUrl`, that is currently pointed to `hackforla.org` should be changed to the URL you listed for all of the Community of Practice meetings.  Is that correct?

[2021-06-27 19:41] drubgrubby commented on #605
@aliibsin -> I have updated all of the community of practice meetings to point to the URL you listed above.  Can you please check them and confirm in this issue that everything is correct?  Thanks.

[2021-06-28 03:16] DrIffathsultana commented on #597
@connie-yu-dotcom
- [ ] Please change the timing to PST
- [ ] 24 hr change request

[2021-06-28 09:50] piall commented on #592
@jasonwong26 I think you have told to make separate methods to follow the SOLID design principle. I have implemented it the way you said to implement it. But the problem I am facing is if I delete any value it still shows in the input box. To get the update from local storage I need to refresh.
For the first time, everything works fine. From the input filed value stores in the local storage. When

[2021-06-28 19:33] connie-yu-dotcom commented on #597
@DrIffathsultana  updated the issue, sorry for the confusion.

[2021-06-29 00:56] drubgrubby commented on #560
### Progress:
Waiting for PR review

### Blockers:
None

### Availability:
Yes

### ETA:
3 hours ago

[2021-06-29 00:58] drubgrubby commented on #562
From Slack with Alex:
we need to implement some quick hack for this feature. The easiest way is to add another one check for auth. So, if a user has a not empty array of managedProjects then they should be allowed to log in as well.

the check happens here https://github.com/hackforla/VRMS/blob/85d5420ec9e324dc97db5c607e5974efed21afe3/backend/middleware/user.middleware.js
user.middleware.js

[2021-06-29 00:59] drubgrubby commented on #562
### Progress:
Moving along.  The basic functionality is in place.  Working out the kinks.

### Blockers:
None

### Availability:
Some

### ETA:
Next Monday

[2021-06-29 01:38] #560 closed, assigned to drubgrubby

[2021-06-29 01:59] alex-anakin commented on #553
Almost done, will create a PR tonight.

[2021-06-29 02:22] peteplass commented on #550
Sophia Alice will be in contact regarding this on Tuesday 6/29

[2021-06-29 02:24] switchzer0 commented on #545
Still working through Figma changes

[2021-06-29 02:38] peteplass commented on #572
Devs will review the demo of 0.3. Please add your notes on this issue.

Pete will review after we have dev feedback.

[2021-06-30 02:34] aliibsin commented on #605
Looks good to me! Closing the issue.

[2021-06-30 02:34] #605 closed, assigned to drubgrubby

[2021-06-30 06:25] jasonwong26 opened #609 "Create Logout Page & Implement Workflow"
## Story
Relates to feature: 2.03 Main Dashboard - Logout

## Instructions

- [x] Edit the **Action Types** file:
  - [x] Add a new string constant named `AUTH_LOGOUT`.
- [x] Edit the **Auth Actions** file:
  - [x] Add a new action method without parameters (you can use `authStart()` as a template), named `authLogout()` and referencing the action type you created.
  - [x] Add the new method to the

[2021-06-30 20:13] #479 closed, assigned to jbubar

[2021-06-30 20:21] #462 closed, assigned to nobody

[2021-06-30 21:23] jasonwong26 commented on #592
Hi @mdPial,

This ticket is scoped to create a reusable service, not something tied directly to a React component.  Take a look at the subsequent tickets #593  and #594 for how I envisioned linking the service to the UI.

If you'd prefer to take a different approach that's fine too.  Happy to discuss options if you'd find that helpful.

[2021-06-30 21:47] drubgrubby commented on #572
Here's the URL: http://18.117.69.247/

@jbubar and I looked at this together.

It appears to work exactly as the current development branch works locally.

There are a couple of things that we noticed that may or may not be worth fixing:
1) If the height of the screen shrinks it is not scrollable.

<details>
<summary>Screen not scrolling</summary>
<img width="764" alt="Screen Shot 2021-06-30 at 2

[2021-07-01 00:19] akibrhast commented on #572
- [x]  Check in new user should be disabled until you select a project, just like check in returning user is.
- [ ] Fix css such that it is scrollable when the height of the page shrinks [ I am not working on this].
- [ ] Figure out and fix why clicking on a valid magic link redirects to a page with the message 'sorry, the link is not valid anymore'

[2021-07-01 02:40] jbubar commented on #572
@akibrhast
<details>
    <summary>for the css thing change it from `overflow: hidden;` to `overflow: auto;` on the `.home` class
</summary>

![Screen Shot 2021-06-30 at 7 36 18 PM](https://user-images.githubusercontent.com/53061723/124056492-ad635c00-d9da-11eb-8c0d-c8d32567b7f0.png)

</details>

[2021-07-01 04:40] piall commented on #592
Hi @jasonwong26 . I made it by looking at this quote.

I have no problem to make like this. Seems like you gave lots of time and effort to plan those issues. Appreciate it.

[2021-07-01 07:52] piall commented on #592
### Status
Waiting for review

[2021-07-01 14:54] akibrhast commented on #572
I swear , there was a message from @jbubar  about overflow.. where did that go ? o0

[2021-07-01 15:06] akibrhast commented on #572
From my investigation it seems the reason the valid magic link redirects to a page with the message 'sorry, the link is not valid anymore' has something to do with 'httpOnly' cookie .

Basically during the first navigation to the link, is when the httpOnly cookie is set. So at the moment the `useAuth` function is called the httpOnly with the token has not been set yet.  as such `auth.user` is alwa

[2021-07-02 17:30] drubgrubby commented on #522
This just happened for the Product Managers community of practice.  For some reason "check in ready" is not getting set to "true".

[2021-07-04 22:23] #592 closed, assigned to piall

[2021-07-04 23:30] jasonwong26 opened #611 "Set up local DynamoDb Container"

[2021-07-06 01:04] drubgrubby commented on #562
### Progress:
All done except one little thing that I really want to ignore, but I'm not going to

### Blockers:
That one little thing.

### Availability:
Just enough

### ETA:
Wednesday

[2021-07-06 02:11] alex-anakin commented on #509
Closing as duplicate of #522

[2021-07-06 02:37] jbubar commented on #572
@akib, sorry akib, I deleted it. got self conscious, lol.

Just change `overflow: hidden` to `overflow: auto` on the container that we want the scroll on...

you can also specify the axis with
`overflow-y: auto;
overflow-x: hidden;
`

[2021-07-08 00:28] Olivia-Chiong opened #613 "Change Meeting Time for Product Management & UI/UX Community of Practice"
### Overview
We need to add/change the team meeting time for Community of Practice - Product Management & UI/UX so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
EXAMPLE:
- Community of

[2021-07-08 04:38] DrIffathsultana commented on #597
@connie-yu-dotcom Can you please select Project.

[2021-07-08 16:26] drubgrubby commented on #565
This issue is being subsumed in other issues and is not necessary.

[2021-07-08 16:26] #565 closed, assigned to nobody

[2021-07-08 21:15] drubgrubby commented on #564
The issues in this issue are superseded by other issues.

[2021-07-08 21:15] #564 closed, assigned to nobody

[2021-07-09 01:44] ExperimentsInHonesty commented on #601
Wont fix.  This will be resolved with the launch of v0.4 which wont use these file.  We currently believe that this is not causing the site to operate outside of expected. (based on the dev instance being able to be logged into currently).

[2021-07-09 01:44] #601 closed, assigned to nobody

[2021-07-09 05:20] connie-yu-dotcom commented on #597
@DrIffathsultana  I am not able to add or select anything for the Project

[2021-07-09 06:23] piall commented on #609
Hi @jasonwong26 ! Is this issue ready to work?. I see no label added here.

[2021-07-09 19:05] #464 closed, assigned to glenflorendo

[2021-07-09 19:07] drubgrubby commented on #597
@connie-yu-dotcom -> I have changed the meetings to reflect the above changes.  Can you please confirm that the changes are correct ( https://www.hackforla.org/events/ ) .

Also, in case you see it here first rather than slack, can you please confirm that the developers' meeting that is currently listed on the calendar is no longer happening and should be deleted.  (Or confirm the opposite, if tha

[2021-07-09 19:09] #522 closed, assigned to drubgrubby

[2021-07-09 19:24] drubgrubby commented on #613
@Olivia-Chiong -> Can you please confirm that these times are now correct?  https://www.hackforla.org/events/

[2021-07-09 19:28] Olivia-Chiong commented on #613
confirmed, thank you.

On Fri, 9 Jul 2021 at 12:25, David Rubinstein ***@***.***>
wrote:

[2021-07-09 19:30] #613 closed, assigned to drubgrubby

[2021-07-09 19:33] drubgrubby opened #615 "V0.3 - Magic Link login doesn't work on first try"
### Overview
I'm trying to log in to v0.3
I enter my email address and receive the email with the magic link
I click the magic link and get the following error:

<details>
<summary>Error Message</summary>
<img width="674" alt="Screen Shot 2021-07-09 at 12 13 08 PM" src="https://user-images.githubusercontent.com/68244054/125127550-89c2a480-e0b1-11eb-8244-664eb91f88a0.png">
</details>

I reload the

[2021-07-10 00:07] DrIffathsultana commented on #597
@drubgrubby Hi David, Thanks for the update.

Below is the list of Civic Tech Index project new meeting times.
- [x] Team meeting
1. Monday 6-8 pm PST
2. Thursday 6-7 pm PST
 - [x] Product manager
 Wednesday 12.30 -1.30 pm PST

- [x] Please remove Tuesday Developers meeting.

[2021-07-11 17:02] drubgrubby commented on #597
@DrIffathsultana - I believe these are correct now. Please confirm. Thanks.

[2021-07-12 21:46] #598 closed, assigned to vadzimk

[2021-07-13 00:43] switchzer0 commented on #545
[revised](https://www.figma.com/file/9c6pxjImN8MjHAZLH7zxYm/VRMS-Mocks?node-id=26552%3A2039) + [clarification](https://docs.google.com/document/d/16VvC0fbaXsvEQkQaVSj8dG3wFEHgErbjJ6H3akSUoVM/edit#heading=h.tnq3mlnsb9pi) added to PRD

[2021-07-13 00:43] #545 closed, assigned to switchzer0

[2021-07-13 01:39] drubgrubby commented on #562
Waiting on PR review

[2021-07-13 01:45] drubgrubby commented on #570
### Progress:
Just getting started. Getting the scaffolding up.

### Blockers:
None

### Availability:
Yes

### ETA:
Let's say two weeks.

[2021-07-13 02:10] jbubar commented on #563
I got started on this today. Should be quick. Almost done
David has been great and answering all my questions.
ETA: by thursday
Availability: all day tomorrow

[2021-07-13 02:17] peteplass commented on #491
Please update.

[2021-07-13 02:18] alex-anakin commented on #553
Merged the development branch, got conflict. Resolved conflict then got failed checks.

[2021-07-13 02:22] peteplass commented on #550
Jason and Mohith reached Sophia and got help creating an EC2 instance. Ultimately, this did not solve the issue.

Bonnie would like to facilitate a meeting with Darren (DevOps). Bonnie will reach out to Darren and figure out a time when he can be available to meet with Mohith or Jason.

[2021-07-13 02:28] peteplass commented on #593
Please update

[2021-07-13 08:53] piall commented on #491
|Tester | OS                                  | Matched | Comment |Tested with latest changes |
|---------|---------------------------------|-------------|-------------|--------------------------------------|
| Me  |Windows 10| ✔️        |-|✔️ |
|Josh    |MacOS Catalina 10.15.7| ✔️        |-|✔️ |
|Olga    |MacOS                           | ❌️      |No ESLint Problem|❌️|
|David   |MacOS

[2021-07-13 22:17] DrIffathsultana commented on #597
@drubgrubby Yes, They are correct. Thanks

[2021-07-13 22:54] #597 closed, assigned to drubgrubby

[2021-07-15 17:50] piall commented on #491
|Goal|Status|
|------|-------------|
|To make ESLint config which will give the same result for everyone|✔️|
|Airbnb configuration|✔️|
|Prettier configuration|✔️ (added with ESLint)|

### Test Results:
|Tester | OS                                  | Matched | Comment |Tested with latest changes |
|---------|---------------------------------|-------------|-------------|-----------------------------

[2021-07-16 01:52] jbubar commented on #563
I am going to have a busy next few weeks. So I will remove myself from this issue. Please feel free to grab my minuscule progress from [my branch](https://github.com/jbubar/VRMS/tree/563-manage-projects)

feel free to use these commands to pull it
[code]

taken from this formula
[code]

[2021-07-16 04:57] #553 closed, assigned to alex-anakin

[2021-07-16 19:34] glenflorendo commented on #461
I'm quite busy for the next week or so, and I won't be able to work on this. I'll move it back to the backlog. Thanks!

[2021-07-17 23:35] Aveline-art commented on #593
I am removing my assignment and moving this back into the backlog since I lack the time to commit to this project.

[2021-07-18 23:44] BryonPm opened #620 "Engage Meeting Time Change"
### Overview
We need to add/change the team meeting time for Engage so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
- Engage, Team, Tuesday 6:00pm, PDT, 1 hour
- Engage, Team, Sunday

[2021-07-19 07:46] piall commented on #491
### Update
Josh, Glen, David had tested the new configuration and they are also getting the same ESLint problems as mine. After taking opinions from the dev team on the `Thursday` meeting about changing the status of the ESLint rules and which package can add. I have updated the configuration.
Now waiting again for test results from the updated configuration to ensure everything is working fine wi

[2021-07-19 19:41] #562 closed, assigned to drubgrubby

[2021-07-19 19:44] drubgrubby opened #621 "Restrict access to new admin dashboard for non-admin users (0.3)"
### Overview
We have implemented new login functionality to allow users who have projects assigned to them to log in.  However, if they know it's there, they can still access the admin dashboard. We would like to disallow that access.

### Action Items

The following should happen on login.
Case 1: Person with accesslevel 'admin' logs in.  They should initially be directed to `/admin`.

<img width

[2021-07-19 19:51] drubgrubby commented on #620
@BryonPm -> Can you please confirm that the times are now correct?  Also, can you please confirm that the Wednesday Product Manager meeting should be deleted (which I have not yet done)?

Thanks.

[2021-07-19 19:59] drubgrubby commented on #563
### Progress:
I am taking this over from Josh as this is technically the next issue in line. Just getting started.

### Blockers:
None

### Availability:
Most of the week.

### ETA:
Haven't gotten into it yet, so not sure.  Nonetheless, let's say Thursday.

[2021-07-19 20:00] drubgrubby commented on #570
I'm taking over Josh's issue, so I'm putting this back in the prioritized backlog for a minute.

[2021-07-19 20:54] BryonPm commented on #620
@drubgrubby could you please reflect the times as pacific (local) to California?

[2021-07-19 23:08] drubgrubby commented on #620
@BryonPm -> Times are displayed based on the local time of the person viewing the website.  Are you seeing something else?   (That coding is on the website itself; I don't have any control over that.

<img width="466" alt="Screen Shot 2021-07-19 at 4 05 59 PM" src="https://user-images.githubusercontent.com/68244054/126238560-44324d32-1e41-4380-83ed-852c74ecf9b9.png">

Should I delete the Wednesday

[2021-07-20 02:12] peteplass commented on #491
@piall Thanks for the update. David, Alex and josh will test by Tomorrow 7/19

@glenflorendo please let us know when you retest.

[2021-07-20 02:13] peteplass commented on #550
Jason to have conversation with Bonnie this week 7/19

[2021-07-20 02:14] switchzer0 commented on #543
delayed while reviewing PRD and frontend designs for vertical slices; expect to get to it next week

[2021-07-20 02:21] peteplass commented on #572
Next demo TBD.
We likely need to define the demo.

Suvy suggests demoing 0.3 in a local host area.
Adam suggests pushing this to the first week in Aug.
Josh suggests that 0.3 and 0.4 require separate reviews.

Alex points out that deployment must come prior to demo. We are currently waiting on news from that. Will check in next week.

[2021-07-20 22:18] BryonPm commented on #620
@drubgrubby The update looks good! Thanks for taking care of us! You can close the issue when you get time.

[2021-07-21 03:12] #620 closed, assigned to drubgrubby

[2021-07-21 18:43] #609 closed, assigned to vadzimk

[2021-07-22 04:29] jasonwong26 opened #624 "VRMS v0.3 Hosting Requests from Ops team"

[2021-07-22 06:34] glenflorendo commented on #491
Retest results can be found here: https://github.com/hackforla/VRMS/pull/582#issuecomment-884686566

[2021-07-22 07:08] piall commented on #491
Thank you ✨ @glenflorendo 😄

[2021-07-23 01:15] ExperimentsInHonesty opened #626 "Add/edit team meeting time for Food Oasis"
### Overview
We need to add/change the team meeting time for Food Oasis so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
**Keep the following meetings**
Food Oasis, Development, Tue 6:

[2021-07-23 01:16] gigicobos commented on #626
![Screen Shot 2021-07-22 at 9 12 24 PM](https://user-images.githubusercontent.com/66035169/126727228-fb180d0b-c216-421e-81f7-afc101ba7958.png)

[2021-07-23 01:24] drubgrubby commented on #626
@ExperimentsInHonesty -> I believe that this bug has been fixed.  But until we have the live vrms site moved and can update it with the current code, the fix is useless.  Sad, but true.

[2021-07-24 18:16] mrao2 opened #628 "Epic: Dashboard"
### Overview
Dashboard feature

### Stories

- [x] #629
- [ ] 2.02
- [ ] 2.04

### Resources/Instructions
REPLACE THIS TEXT - If there is a website that has documentation that helps with this issue provide the link(s) here.

[2021-07-24 18:16] mrao2 opened #629 "2.01"

[2021-07-24 19:23] mrao2 opened #630 "Epic: Onboarding Phase 1"
### Overview
REPLACE THIS TEXT - Text here that clearly states the purpose of this issue in 2 sentences or less.

### Stories

- [x] [3.01](https://github.com/hackforla/VRMS/issues/322)
- [x] #631
- [ ] 3.03
- [x] [3.04](https://github.com/hackforla/VRMS/issues/428)
- [ ] 3.05
- [ ] 3.08
- [ ] 3.10
- [ ] 3.15
- [ ] 3.16
- [ ] 4.01
- [ ] 4.02

### Resources/Instructions
REPLACE THIS TEXT - If there

[2021-07-24 19:44] mrao2 opened #631 "3.02"

[2021-07-25 08:33] piall commented on #491
I have changed more ESLint rules status. Waiting to check if have any opinion about changing this rules status.
<details>
<summary><b>Rules Status have Changed 👈️</b></summary>
<table>
<tr>
<th>ESLint Rules</th> <th>Status</th>
<tr> <td>testing-library/prefer-screen-queries</td><td>warn</td></tr>
<tr> <td>jest-dom/prefer-in-document</td><td>warn</td></tr>
<tr> <td>react/no-array-index-key</td><td>

[2021-07-27 01:38] drubgrubby commented on #563
### Progress:
~This is done, I just haven't had time to create a PR.  I will do that after the meeting tonight. ~
I lied.  I did a PR.

### Blockers:
None

### Availability:
N/A

### ETA:
Now!

[2021-07-27 02:10] switchzer0 commented on #543
design is complete; PRD requires blending/duplicating onboarding flow COP BE requirements with associated issues for the "add additional COP" flow

[2021-07-27 02:10] #543 closed, assigned to switchzer0

[2021-07-27 02:24] peteplass commented on #574
Closing because moot.

[2021-07-27 02:24] #574 closed, assigned to mrao2, drubgrubby

[2021-07-27 02:49] peteplass commented on #578
closing because moot. (cow opinion)

[2021-07-27 02:49] #578 closed, assigned to nobody

[2021-07-27 02:50] peteplass commented on #579
redundant

[2021-07-27 02:50] #579 closed, assigned to nobody

[2021-07-27 12:48] piall commented on #491
The suggestion given by Jason
[code]

[2021-07-27 12:57] piall commented on #491
In the current configuration have :point_down:
[code]
### Test Result Tracker:
|Tester	|OS	|Matched | Output File (`npm run lint`)|
|---|---|---|---|
| Me  |Ubuntu 20.10	|✔️	|[updated-lint.txt](https://github.com/hackforla/VRMS/files/6885512/updated-lint.txt)	|
|Josh    |macOS Catalina 10.15.7|	|	|
|Glen    |macOS Big Sur 11.4	|	|	|
|David   |macOS Mojave 10.14.6  |	|	|
|Alex     |Windows 10 |	|	|

[2021-07-27 19:10] #593 closed, assigned to vadzimk

[2021-07-27 19:10] #594 closed, assigned to nobody

[2021-07-27 20:21] vadzimk commented on #600
@jbubar Just to make sure that I understood. Do you want the chips in the chip select to disappear once clicked outside of the InputSkills component - highlighted area below?
![image](https://user-images.githubusercontent.com/28674835/127220272-e2cbf188-b920-4c40-abb9-316cb59a226e.png)
Because according to Material UI the chips stay visible to remind what options were selected. https://material-ui

[2021-07-28 04:41] jbubar commented on #600
@vadzimk Sorry that I did not make it clear. The component that needs to change is not the current skills input. The component I am referring to is the dropdown component in the UI kit.

I was thinking that you could use the costum [useClickOutside hook](https://github.com/hackforla/VRMS/blob/development/client-mvp-04/src/utils/hooks/useClickOutside.js) to achieve the click outside functionality.

[2021-07-28 04:48] jbubar commented on #600
I updated the issue to make it clearer, let me know if that makes sense

[2021-07-28 17:42] vadzimk commented on #600
@jbubar Is this the correct behavior? It seems to close as you described when clicked outside the drop-down.

![dropdown](https://user-images.githubusercontent.com/28674835/127369952-d1c2d33c-88d9-4ea6-b906-f2906f1dcd78.gif)

[2021-07-28 22:49] #563 closed, assigned to drubgrubby

[2021-07-29 16:25] jbubar commented on #600
Hi @vadzimk yes.. that is the functionality I was talkig about.. and not to beet a dead horse, but I was thinking that it could go on this component

<details>
    <summary>click to view</summary>

![Screen Shot 2021-07-29 at 9 17 43 AM](https://user-images.githubusercontent.com/53061723/127529278-ee75f6f9-8dad-4d3e-97a3-4588f12928ff.png)

</details>

[2021-07-29 17:34] vadzimk commented on #600
@jbubar Turns out that the inputSkills ui element is completely independent of drop-down you pointed at lastly, bc it has its own drop-down:
`client-mvp-04/src/components/common/dropdown/dropdown.js`
`client-mvp-04/src/components/common/inputSkills/dropdown.js`

I will look into `client-mvp-04/src/components/common/dropdown/dropdown.js` bc it indeed is not closing.

[2021-07-29 23:04] #552 closed, assigned to nobody

[2021-07-29 23:04] #624 closed, assigned to jasonwong26

[2021-07-31 19:40] jasonwong26 opened #635 "v0.4 Setup Infrastructure Epic"
# Story
There is no story for this epic.  This contains a number of tasks related to preparing the v0.4 branch for general development.

# Tickets

## Environment
- [x] #645
- [x] #646
- [x] #647
- [x] #648
- [x] #649
- [x] #650
- [x] #651
- [x] #653

## Database
- [ ] #659
- [x] #660

## Linting
- [x] Copy over linting rules from development branch
- [x] #688

### Backend
- [x] #686
- [x] Address

[2021-07-31 19:49] jasonwong26 commented on #635
Ticket is for brainstorming / tracking all infrastructure tasks for setting up v0.4 for feature development

## Pending Tasks
- [ ] Set up v4 PR / Push GitHub action
- [ ] Set up MongDb docker container
  - [ ] Add seed data script
  - [ ] Integrate with Docker compose file
- [ ] Eliminate React App Proxy (only use nginx)
- [ ] Set up API Documentation
- [ ] Update outdated NPM references
- [ ] El

[2021-08-02 07:22] jasonwong26 opened #636 "Integrate with AWS Cognito for Authorization"
# Story

1.02 | Landing/Login Page - Sign In
1.03 | Landing/Login Page - Magic Link Authorization
1.04 | Landing/Login Page -   Cookie Recognition
1.05 | Landing/Login Page - Text Field Memory
2.03 | Main Dashboard - Logout

This ticket tracks the work needed to integrate with AWS Cognito to enhance user security and authentication experience.  These include:

- User Authentication (1.01, 1.02)
-

[2021-08-02 07:58] jasonwong26 opened #637 "Create and Configure Cognito User Pool"
# Epic: Integrate with AWS Cognito for Authorization
This ticket sets up the AWS Cognito resource in AWS for us to utilize with the VRMS website.
Development environment client variables:

AWS_COGNITO_REGION=us-west-2
AWS_COGNITO_USER_POOL_ID=us-west-2_Fn4rkZpuB
AWS_COGNITO_APP_CLIENT_ID=5u7s2nj55mp9v5qmt9scja4hnr

Will leave this open for production release set up. v.4 release is still several mo

[2021-08-02 08:19] jasonwong26 opened #638 "Install and configure `cors` NPM package"
# Epic: Integrate with AWS Cognito for Authorization
This ticket sets up the AWS Cognito resource in AWS for us to utilize with the VRMS website.

In order to easily test the API, we'll want to enable cross origin requests.  This facilitates testing with Postman and similar tools.

# Instructions
- [x] Review the documentation below
- [x] Open the backend folder
- [x] Run the command to install th

[2021-08-02 08:51] jasonwong26 opened #639 "Install and configure `cognito-express` NPM package"
# Epic: Integrate with AWS Cognito for Authorization
This ticket sets up the AWS Cognito resource in AWS for us to utilize with the VRMS website.

In order to integrate with AWS Cognito, we need to add the relevant NPM package to our project.

# Instructions
- [x] Review the documentation below
- [x] Open the backend folder
- [x] Run the command to install the `cognito-express` NPM package

# Refe

[2021-08-02 08:58] jasonwong26 opened #640 "Install and configure `aws-amplify` NPM packages"
# Epic: Integrate with AWS Cognito for Authorization
This ticket sets up the AWS Cognito resource in AWS for us to utilize with the VRMS website.

In order to integrate with AWS Cognito, we need to add the relevant NPM package to our project.

# Instructions
- [x] Review the documentation below
- [x] Open the client folder
- [x] Run the command to install the `aws-amplify` NPM package
- [x] Run th

[2021-08-02 09:02] jasonwong26 opened #641 "Create a temporary login page for AWS Cognito"
# Epic: Integrate with AWS Cognito for Authorization
This ticket sets up the AWS Cognito resource in AWS for us to utilize with the VRMS website.

In order to integrate with AWS Cognito, we need to add a temporary login page using their packaged UI for testing and evaluation.

# Dependencies
- #640

# Instructions
- [ ] Review the documentation in the link below.
- [ ] Open the client folder
- [ ]

[2021-08-02 09:16] jasonwong26 opened #642 "Create and test backend Authorization Middleware"
# Epic: Integrate with AWS Cognito for Authorization
This ticket sets up the AWS Cognito resource in AWS for us to utilize with the VRMS website.

In order to integrate with AWS Cognito, we need the ability to secure API endpoints and to identify valid requests.

# Dependencies
- #637
- #640
- #641
- #643
- #638
- #639

# Instructions
- [x] Review the documentation below.
- [x] Open the backend fo

[2021-08-02 09:59] jasonwong26 opened #643 "Create and test a `securedFetch` method for connecting to secured API endpoints"
# Epic: Integrate with AWS Cognito for Authorization
This ticket sets up the AWS Cognito resource in AWS for us to utilize with the VRMS website.

In order to integrate with AWS Cognito, we need the ability to incorporate authenticated user information when sending requests to the backend.  The `fetch()` method is the primary method for sending these requests, so lets make a version that automatic

[2021-08-02 10:33] jasonwong26 opened #644 "Make an authenticated request to the API for a logged in user"
# Epic: Integrate with AWS Cognito for Authorization
This ticket sets up the AWS Cognito resource in AWS for us to utilize with the VRMS website.

Finally we get to put it all together!  Create a test endpoint (or modify an existing endpoint) to require authentication and then access that data as an authenticated user.

# Dependencies
- #637
- #640
- #641
- #643
- #638
- #639
- #642

# Instruction

[2021-08-03 01:22] piall commented on #491
### Update

Waiting for a final review from Alex. After I will reach out to everyone to test the PR.

[2021-08-03 01:26] jasonwong26 opened #645 "Update folder structure to make v0.4 the primary environment"
# v0.4 Setup Infrastructure

# Instructions
- [ ] Create a new folder named `reference` or something similar.
- [ ] Move the current `/client/` and `/backend/` folders (representing work done for v0.3) inside the new folder
- [ ] Rename the v0.4 folders to `/client/` and `/backend/` folders respectively
- [ ] Update the root `package.json` file to point the `start` script to the v0.4
- [ ] Confirm

[2021-08-03 01:31] jasonwong26 opened #646 "Set up Docker containers for Client and Backend"
# v0.4 Setup Infrastructure

This ticket is part of the transition to us having individual dev environments and to facilitate our CI/CD pipeline.

# Dependencies
- #645

# Instructions
- [ ] Review the docker files from v0.3 (see `/reference/` folder)
- [ ] Copy over the `Dockerfile.dev` and `Dockerfile.prod` files for the backend folder.
- [ ] Copy over the `Dockerfile.dev` and `Dockerfile.prod`

[2021-08-03 01:43] jasonwong26 opened #647 "Address eslint errors in Backend"
# v0.4 Setup Infrastructure

This ticket prepares us to implement the PR Validation actions by ensuring we have a clean environment - with passing test and linting rules.

Note: changes here are temporary.  Once the #582 PR is merged into development we will use those instead.

# Dependencies
- #645

# Instructions
- [ ] Run the `npm run lint` on the backend folder.
- [ ] Address each reported err

[2021-08-03 01:43] jasonwong26 opened #648 "Address eslint errors in Client"
# v0.4 Setup Infrastructure

This ticket prepares us to implement the PR Validation actions by ensuring we have a clean environment - with passing test and linting rules.

Note: changes here are temporary.  Once the #582 PR is merged into development we will use those instead.

# Dependencies
- #645

# Instructions
- [ ] Run the `npm run lint` on the client folder.
- [ ] Address each reported erro

[2021-08-03 01:44] jasonwong26 opened #649 "Address failing tests in Backend"
# v0.4 Setup Infrastructure

This ticket prepares us to implement the PR Validation actions by ensuring we have a clean environment - with passing tests and linting rules.

# Dependencies
- #645

# Instructions
- [ ] Run the `npm run test` command on the backend folder.
- [ ] Address each failing test

# Acceptance Criteria
Running the `npm run test` command should not return any errors.

[2021-08-03 01:53] drubgrubby commented on #571
### Progress:
Have the basic structure done.

### Blockers:
None.

### Availability:
Good this week.

### ETA:
Next Monday

[2021-08-03 01:54] jasonwong26 opened #650 "Enable v4 PR / Push GitHub action"
### Dependencies
- #645
- #646
- #647
- #648
- #649

# v0.4 Setup Infrastructure

This ticket adds a GitHub action that ensures that all tests pass and linting rules are satisfied whenever a PR or Push is made against the development-0.4 branch.

# Dependencies
- #645
- #646
- #647
- #648
- #649

# Instructions
- [ ] Review the sample code below
- [ ] Add a file with that code (or similar) to the

[2021-08-03 02:13] jasonwong26 opened #651 "Address outdated NPM packages and audit warnings in Backend"
# v0.4 Setup Infrastructure

This ticket addresses NPM warnings related to versions and security.

# Dependencies
- #645

# Instructions
- [x] Run the `npm outdated` script.  Document all of the warnings that are returned.
- [x] Address each warning:
  - for minor package updates - go ahead and update to the latest version
  - form major package updates - research the package version change to ide

[2021-08-03 02:13] jasonwong26 opened #652 "Address outdated NPM packages and audit warnings in Client"

[2021-08-03 02:15] jasonwong26 opened #653 "Address outdated NPM packages and audit warnings in Client"
# v0.4 Setup Infrastructure

This ticket addresses NPM warnings related to versions and security.

# Dependencies
~- #645~

# Instructions
- [ ] Run the `npm outdated` script.  Document all of the warnings that are returned.
- [ ] Address each warning:
  - for minor package updates - go ahead and update to the latest version
  - form major package updates - research the package version change to i

[2021-08-04 23:57] vadzimk commented on #23
@sarL3y @drubgrubby I've noticed a warning that might be related
![image](https://user-images.githubusercontent.com/28674835/128270037-d26d5aad-57b4-46e7-8685-924657743fcc.png)

I suppose that it is coming from all components that call the useAuth() hook, correct me if it is not the case.
Any such component that unmounts for whatever reason before the response form fetch comes back emits this erro

[2021-08-05 01:27] #326 closed, assigned to vadzimk

[2021-08-06 02:34] jasonwong26 opened #655 "Add 100 Automation Best Practice Documents"
# Summary
Per discussion on 08/05/2021 with Bonnie, the documents outlined in the 100 Automation repository should be added to the VRMS project.

### Action Items

- [x] 1. Review the documentation here: https://github.com/100Automations/Website/blob/gh-pages/_guides/community-support-for-automations.md
- [x] 2. Add any documents listed in in the above that are missing from VRMS
- [x] 3. Update an

[2021-08-06 02:38] jasonwong26 opened #656 "100 Automation Best Practice Documents"
# Summary

Per discussion on 08/05/2021 with Bonnie, the documents outlined in the 100 Automation repository should be added to the VRMS project.  This will largely be completed with the ticket referenced below, however we need to ensure the same documents exist for v0.4 and that they reflect any differences between the environments.

# Dependencies

- #655

# Instructions

1. Review the documenta

[2021-08-06 06:52] #600 closed, assigned to vadzimk

[2021-08-06 14:53] PLoiya opened #658 "Meeting time change request for GreenEarthOS"
### Overview
We need to add/change the team meeting time for GreenEarthOS so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [ ] yes
- [x] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
- GreenEarthOS, Team meeting, Wednesday 7pm, 1 hour

### What

[2021-08-06 14:54] ExperimentsInHonesty commented on #658
@drubgrubby I added this issue to the prioritized backlog

[2021-08-06 22:43] drubgrubby commented on #658
@PLoiya -> I have added GreenEarthOS to the VRMS database, and added the team meeting as you requested.

Please confirm that the meeting time is correct.

https://www.hackforla.org/events/

<img width="419" alt="Screen Shot 2021-08-06 at 3 41 50 PM" src="https://user-images.githubusercontent.com/68244054/128577661-5edbf56f-2a34-4cc1-98e5-96b2331bda63.png">

[2021-08-06 23:56] PLoiya commented on #658
@drubgrubby Yes, The meeting time is correct. Thanks. I have verified the same. After reviewing with Bonnie, I will update the comments and let you know.

[2021-08-07 17:11] jasonwong26 opened #659 "Set up local development MongoDb docker container"
### Overview

To facilitate development, it would be very helpful for us to have local development databases that we can spin up and down as needed - modify, break, etc.  This ensures a single developer's changes doesn't break other developers environments, and should improve overall velocity.

### Action Items:
- [ ] Review the references below.
- [ ] Add a MongoDb resource to the docker environm

[2021-08-07 17:11] jasonwong26 opened #660 "Add script to seed local development database"
# Story

To facilitate development, it would be very helpful for us to have local development databases that we can spin up and down as needed - modify, break, etc.  This ensures a single developer's changes doesn't break other developers environments, and should improve overall velocity.

# Dependencies

- #659

# Instructions

1. Review the references below.
1. Review the work done for the previ

[2021-08-07 17:48] jasonwong26 opened #661 "Work with Ops team to set up v0.3 Staging Environment"
# Summary

Hi Bonnie,

Below is a summary of where we are with the VRMS project in terms of hosting a specific ask for the Ops team:

- VRMS is a NodeJS application with React frontend that runs within Docker
- The current main branch (named `development`) contains version 0.3, which is ready for staging release
- We expect to take version 0.3 to Production in the next couple of weeks
- Version 0.

[2021-08-08 20:15] #658 closed, assigned to drubgrubby

[2021-08-10 00:36] drubgrubby commented on #571
### Progress:
Funtionality is functioning, just needs some CSS touchups.

### Blockers:
I hate doing CSS touchups.

### Availability:
Enough

### ETA:
Tomorrow

[2021-08-10 02:12] peteplass commented on #550
0.3 will not be working with MongoDB. This is getting a new issue in 0.4 as #659

[2021-08-10 02:12] #550 closed, assigned to mrao2

[2021-08-10 02:13] peteplass commented on #572
The big stumbling block here is hosting. Moving to Ice box until hosting dependency is satisfied.

[2021-08-10 02:17] #615 closed, assigned to jasonwong26

[2021-08-10 02:21] peteplass commented on #491
Hi piall, update when you get a chance, please.

[2021-08-10 02:35] peteplass commented on #491
Conditions for merging pull request:

please list all rules for current errors, so we can track them in the future.

make all rules warnings, not errors

listed here and on PR

[2021-08-12 11:18] piall commented on #491
### 🕑️ Timeline of Errors (For Tracking In Future)
|Listed Rules with Errors|Lint Output|Errors|
|----|----|----|
|https://github.com/hackforla/VRMS/issues/491#issuecomment-880895643 1st Update (Initial)|[log.txt](https://github.com/hackforla/VRMS/files/6811454/log.txt)| 602|
|https://github.com/hackforla/VRMS/pull/582#issuecomment-897516918 2nd update|[lint-output.txt](https://github.com/hackforl

[2021-08-12 19:23] piall commented on #491
### 🕑️ Timeline of Errors (For Tracking In Future)
|Listed Rules with Errors|Lint Output|Errors|
|----|----|----|
|https://github.com/hackforla/VRMS/issues/491#issuecomment-880895643|[log.txt](https://github.com/hackforla/VRMS/files/6811454/log.txt)| 602|
| https://github.com/hackforla/VRMS/pull/582#issuecomment-885408035 - 1|[lint-log.txt](https://github.com/hackforla/VRMS/files/6974921/lint-log.

[2021-08-13 01:37] #216 closed

[2021-08-13 02:11] jasonwong26 opened #666 "Add secret values to project OnePassword"
# v0.4 Setup Infrastructure

This ticket is part of the transition to us having individual dev environments and to facilitate our CI/CD pipeline.

# Instructions
- [x] Review the secret values stored in the Google doc referenced below.
- [ ] Review best practices for storing secrets in 1 Password (how to track differing values for Production Dev environments).
- [x] Add each value in the Google do

[2021-08-13 02:12] jbubar opened #667 "Find a replacement to babel-es-lint"
### Overview
Dependabot created a pr for updating one of the dependencies for babel-eslint and it broke everything,

Turns out babel-eslint is deprecated so we need to find a replacement

### Action Items
- [ ] how is babel es lint being used
- [ ] replace references with whatever

### Resources/Instructions
- [command to search npm dependencies](https://classic.yarnpkg.com/en/docs/cli/why/)
- [ba

[2021-08-13 02:39] darpham opened #668 "Update VRMS DNS"
### Overview
Transffering DNS management from Google DNS to AWS Route53

### Action Items
- provide current dns records in google
- transfer google dns to aws route53
- update NS records in Google to point to AWS Route53

[2021-08-13 02:39] darpham commented on #668
New NS records to be updated in Google DNS
[code]

[2021-08-13 02:40] ExperimentsInHonesty commented on #668
![screencapture-domains-google-registrar-vrms-io-dns-2021-08-12-19_38_45](https://user-images.githubusercontent.com/37763229/129298715-a1bf4ab7-837e-410d-b4cb-2a026dd97578.png)

[2021-08-13 02:45] ExperimentsInHonesty commented on #668
Host name: www.vrms.io
Type: CNAME
TTLL: 1 hour
Data: afternoon-tortoise-tdhdm6hlcqp30pxdm5kx88cq.herokudns.com.

Host name: vrms.io
Type: A
TTLL: 1 hour
Data:
216.239.32.21
216.239.34.21
216.239.36.21
216.239.38.21

Host name: vrms.io
Type: AAAA
TTL: 1 hour
Data:
2001:4860:4802:32::15
2001:4860:4802:34::15
2001:4860:4802:36::15
2001:4860:4802:38::15

[2021-08-13 02:56] ExperimentsInHonesty commented on #668
DNS for VRMS
![dns for vrms](https://user-images.githubusercontent.com/37763229/129298573-6d4e1cbf-0014-4835-8c60-d42d796fa627.PNG)

[2021-08-14 21:22] henlatourrette opened #672 "Meeting time change request for 100 Automations"
### Overview
We need to add/change the team meeting time for 100 Automations so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
EXAMPLE:
- 100 Automations Thursday at 5 pm (changed) we c

[2021-08-17 02:05] drubgrubby commented on #570
### Progress:
Getting going

### Blockers:
Time

### Availability:
Mixed this week, but enough to make some progress

### ETA:
No

[2021-08-17 02:21] peteplass opened #673 "v0.3 Env Variables Need to Deploy Correctly"
### Overview
v0.3 Has been deployed but not all environment variables are reading correctly
### Action Items
The production version of the docker container is running NGINX. NGINX runs multiple threads, env variables are not making it to the appropriate thread.

- [ ] current working theory: replace the docker image that's running NGINX with one that's running a standard REACT hosting app.

- [ ]

[2021-08-17 02:23] peteplass commented on #673
There will be a call on Wed. 8/18/21 at 6pm PT. With Darren to discuss this issue.

[2021-08-17 02:27] jbubar commented on #273
No progress. was not able to make the time to look over this, in the deep way it needs

[2021-08-17 02:30] peteplass commented on #661
Meeting originally scheduled for 8/7. Did not take place. In the meantime, other movement in this area has been made and can be seen on #673 . Docker env has deployed and team is working out the bugs. Closing for tidiness.

[2021-08-17 02:30] #661 closed, assigned to ExperimentsInHonesty

[2021-08-17 02:31] peteplass commented on #534
Currently moot.

[2021-08-17 02:31] #534 closed, assigned to alex-anakin

[2021-08-17 02:42] peteplass commented on #491
@piall Thanks for the update. Congrats on the job!

@jasonwong26 will review error timeline.

[2021-08-17 02:44] peteplass commented on #645
Completed this week.

[2021-08-17 02:44] #645 closed, assigned to nobody

[2021-08-17 02:45] peteplass commented on #647
Jason turned off es-lint rules so that merges will go through.

Closing

[2021-08-17 02:45] #647 closed, assigned to nobody

[2021-08-17 02:45] peteplass commented on #648
another es-lint issue. Closing.

[2021-08-17 02:45] #648 closed, assigned to nobody

[2021-08-17 02:49] peteplass commented on #649
closing for cleanup.

[2021-08-17 02:49] #649 closed, assigned to nobody

[2021-08-17 02:53] peteplass commented on #659
can't put PR in yet due to unfinished changes. Will update this week.

[2021-08-17 03:35] piall commented on #491
Thank you Pete 😊

[2021-08-17 03:36] ExperimentsInHonesty commented on #666
Added the name/value pairs to our VRMS vault in 2 separate secure notes.  And created a new empty vault called VRMS -prod

[2021-08-17 03:36] #666 closed, assigned to ExperimentsInHonesty

[2021-08-17 06:15] vadzimk commented on #651
@jasonwong26
Suppose no changes are necessary in backend.

vrms\backend>npm audit

                       === npm audit security report ===

[code]

vrms\backend>npm outdated
[code]

[2021-08-17 18:21] vadzimk commented on #653
# Audit before:
vrms\client>npm outdated
[code]
<details>
<summary>
vrms\client>npm audit
</summary>

                       === npm audit security report ===

#### Run  npm install react-scripts@4.0.3  to resolve 4 vulnerabilities
SEMVER WARNING: Recommended action is a potentially breaking change

  High            Prototype Pollution

  Package         object-path

  Dependency of   react-scrip

[2021-08-17 22:20] jasonwong26 commented on #651
Hi @vadzimk!

Here's the results I get on my machine for the backend (note: development-0.4 branch):

## yarn audit
![image](https://user-images.githubusercontent.com/4618259/129807848-b596aeaf-aa92-4670-b35f-2a972477f9bc.png)

## yarn outdated
![image](https://user-images.githubusercontent.com/4618259/129807906-d2b8e9cd-4a26-4cc5-a61c-13c14b567703.png)

Note the color schemes - green and yellow i

[2021-08-18 19:55] vadzimk commented on #651
@jasonwong26
We are looking at different lock files while running `npm outdated` and `yarn outdated`: package-lock.json and yarn.lock respectively.

I recently installed from scratch all dependencies with `npm install` and `npm outdated` reports different versions from what `yarn outdated` reports ( i am not using yarn at all - someone else installed and pushed yarn.lock file to github repo for th

[2021-08-19 00:51] vadzimk commented on #653
@jasonwong26
# Audit after
vrms\client>npm outdated
[code]
<details>
<summary>
vrms\client>npm audit
</summary>

                       === npm audit security report ===

#### Run  npm install react-scripts@4.0.3  to resolve 4 vulnerabilities
SEMVER WARNING: Recommended action is a potentially breaking change

  High            Prototype Pollution

  Package         object-path

  Dependency of

[2021-08-19 09:06] jasonwong26 commented on #418
Hi @glenflorendo,

If you can, it would be great to have you join us for tomorrow's VRMS tech meeting.  That will give us a chance to review this ticket to see if it is the best thing for you to work on.

Thanks!

[2021-08-20 07:50] glenflorendo commented on #418
Hey @jasonwong26 . I'm  so sorry! I just saw your comment right now. I was helping my family with a move, so I haven't been monitoring my emails. But, the move should be done by next Monday. Could we catch up at another time soon after? Otherwise, I'll attend the meeting next Thursday. 😄

[2021-08-22 15:40] Aveline-art opened #681 "Meeting time change request for Hackforla.org Website"
### Overview
We need to add/change the team meeting time for [hackforla/website ](https://www.hackforla.org/projects/website) so it will appear correctly on hackforla.org

### Is your team meeting team already displayed on hackforla.org?
- [x] yes
- [ ] no

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):

Note: Pl

[2021-08-23 06:02] jasonwong26 commented on #651
# Packages with Major version changes:
## Unused packages (holdovers from v0.3)
- @slack/bolt@3.5.0 - not used
- googleapis@84.0.0 - not used
- helmet@4.6.0 - not used
- concurrently@6.2.1 - not used

## In use packages
- @shelf/jest-mongodb@2.0.1 - changed from version @1.2.3, no issues with updating major version
- supertest@6.1.6 - changed from version @4.0.2, no issues with updating major vers

[2021-08-23 17:08] sheltoG opened #684 "Fix URL for Expunge Assist on Hfla Events Page"
### Overview
We need to fix the URL under the Expunge Assist event for Monday's from 6-7 PM. Currently the URL link resolves to a 404 error. The correct URL it should point to is: https://www.hackforla.org/projects/expunge-assist

### Action Items
[ ] Replace current href URL (https://www.hackforla.org/projects/record-clearance-project) with the following URL: https://www.hackforla.org/projects/ex

[2021-08-23 17:24] sheltoG opened #685 "Remove URL for Community of Practice: Software Developers/Front-end Weekly meeting link on Hfla Events Page"
### Overview
We need to remove the Name, Time and URL under the Community of Practice: Software Developers/Front-end Weekly meeting event for Monday's from 8-9 PM. This meeting time is not valid since the CofP meeting for engineering is on Wednesdays.

### Action Items
[ ] Remove the Name, Time and URL under the Community of Practice: Software Developers/Front-end Weekly meeting event for Monday's

[2021-08-24 02:11] peteplass commented on #621
Alex will review PR this week.

[2021-08-24 02:11] peteplass commented on #571
Alex will review PR this week.

[2021-08-24 02:13] peteplass commented on #273
@jbubar Please update.

[2021-08-24 02:26] peteplass commented on #358
bonnie has stated that this kind of documentation is important for v0.3 so that it persists into v0.4.

Alex states that this kind of documentation is more for use during active development and argues that it should be moved back to v0.4.

For this document, we're going to need every API that we need in this. Alex is willing to try a config file that is generated automatically rather than writing

[2021-08-24 02:29] peteplass commented on #673
Had a conversation with Darren one 8/19. Were not able to close the issue.

Jason will reach out to Darren to try to get a follow up meeting to close this issue.

[2021-08-24 02:34] peteplass commented on #491
PR needs review

[2021-08-24 02:35] mrao2 commented on #659
Can't push mongodb pr since I am waiting to talk to the team about database models.

[2021-08-25 02:23] maburke09 commented on #572
All dependencies on this issue are closed. Are we ready for the sprint review?

[2021-08-25 02:37] maburke09 commented on #273
@jbubar please add a role label to this issue

[2021-08-25 02:45] maburke09 commented on #626
@drubgrubby what role should go on this type of issue? the roles we have now are: back-end, front-end, product, devops. Do we need another role or are one of these appropriate? Based on your answer, Product will add the appropriate label to the template

[2021-08-25 03:00] maburke09 commented on #228
At team meeting, let's discuss where the following issues need to go:

https://github.com/hackforla/VRMS/issues?q=is%3Aissue+is%3Aopen+no%3Aproject

[2021-08-25 21:15] drubgrubby commented on #626
@maburke09 -> This particular issue is a bit of an outlier.  It was opened as a request for making a change to the database, but it was actually a request to fix a bug.  This particular issue I would label `role: backend` - the fix changed the frequency with which code is run to make requests to the database.

However, for the other tickets that look like this - for example #672 and #681 - I would

[2021-08-25 21:31] drubgrubby commented on #672
@henlatourrette -> I have made the changes to the meeting time.  Please confirm that the changes are correct.

https://www.hackforla.org/events/

[2021-08-25 21:49] drubgrubby commented on #681
@Aveline-art -> I have made the changes you requested to the meeting times.  Please confirm that they are correct:

<img width="294" alt="Screen Shot 2021-08-25 at 2 46 33 PM" src="https://user-images.githubusercontent.com/68244054/130869077-052b6968-f3a8-4c41-8833-baaa0c39bfbe.png">

[2021-08-26 21:02] drubgrubby commented on #681
Ava confirmed via slack that these times are correct.  Closing ticket.

[2021-08-26 21:02] #681 closed, assigned to nobody

[2021-08-26 21:03] drubgrubby commented on #672
Henri confirmed via slack that the changes are correct.  Closing issue.

[2021-08-26 21:03] #672 closed, assigned to nobody

[2021-08-27 07:21] adam-abundis commented on #684
@sheltoG @ExperimentsInHonesty This information is being pulled from a VRMS API (https://www.vrms.io/api/recurringevents). The front-end javascript just fetches this data and dumps it into the page. How do we request updates for VRMS data?

[2021-08-27 07:23] adam-abundis commented on #685
@sheltoG @ExperimentsInHonesty This information is being pulled from a VRMS API (https://www.vrms.io/api/recurringevents). The front-end javascript just fetches this data and dumps it into the page. How do we request updates for VRMS data?